<p ng-if="property.value.disablingDuration == 0">
    Branches are not disabled or deleted automatically.
</p>
<p ng-if="property.value.disablingDuration">
    Inactive branches are disabled after
    <b>{{property.value.disablingDuration}}</b>
    day(s).
</p>
<p ng-if="property.value.disablingDuration && property.value.deletingDuration">
    Inactive branches are deleted after
    <b>{{property.value.disablingDuration + property.value.deletingDuration}}</b>
    day(s).
</p>
<p ng-if="property.value.promotionsToKeep" class="ot-label-suite">
    Keeping branches promoted to:
    <span class="label label-info" ng-repeat="promotion in property.value.promotionsToKeep">
        {{promotion}}
    </span>
</p>