<div ng-repeat="item in property.value.items"
     style="margin-bottom: 0.5em; border: dashed 1px gray; border-radius: 0.5em; padding: 1em;">
    <p class="ot-label-suite">
        Includes:
        <span class="label label-default" ng-repeat="include in item.includes">{{ include }}</span>
    </p>
    <p class="ot-label-suite">
        Excludes:
        <span class="label label-default" ng-repeat="exclude in item.excludes">{{ exclude }}</span>
    </p>
    <p>
        Mode:
        {{ item.mode }}
    </p>
    <p ng-if="item.mode === 'KEEP_LAST'">
        Keep last
        {{ item.keepLast }}
        branches
    </p>
</div>