<div class="jumbotron">
    <h2>
        Welcome to ontrack
    </h2>


    <p>ontrack will allow you to monitor and control the state of your continuous delivery pipeline, for all your
        projects
        and all their branches.</p>

    <p>By qualifying the builds with <em>promotion levels</em> and <em>validation stamps</em>, ontrack will help you
        assert
        the quality of your applications.</p>

    <p>Integrating with your CI engine, your ticketing system and your SCM, ontrack will allow you to check the content
        of
        your builds by accessing the change logs, by asserting the promotion level for a given issue, and many other
        possibilities.</p>

    <p>You can go even further by using ontrack in turn to drive your pipeline, since its REST API can be used to get
        the
        builds with the desired quality.</p>

</div>

<div class="row">
    <div class="col-md-6">

        <h2>Integration</h2>

        <p>In order to access its information, ontrack can access to:</p>
        <ul>
            <li>Subversion</li>
            <li>Git</li>
        </ul>

        <p>Supported ticketing systems for the change logs and the searches are:</p>
        <ul>
            <li>JIRA</li>
            <li>GitHub</li>
        </ul>

        <p>Promotion of builds can be driven from:</p>
        <ul>
            <li>Jenkins - the promotions and validation stamps are triggered using a Jenkins plug-in for ontrack</li>
            <li>Artifactory - the promotions are read from Artifactory using the release status of the builds</li>
        </ul>

        <p>Integration with Jenkins is also present in ontrack by showing the status of the different jobs in the
            associated branches, promotions or validation stamps.</p>

    </div>

    <div class="col-md-6">

        <h2>Resources</h2>

        <p>Documentation for ontrack in available in its <a href="https://github.com/nemerosa/ontrack/wiki">Wiki.</a>
        </p>

        <h2>Development</h2>

        <p>ontrack is an open-source project, maintained by <a href="https://github.com/nemerosa">Nemerosa</a> on
            GitHub.</p>

        <p>
            <a href="https://github.com/nemerosa/ontrack" class="btn btn-default">
                <img src="assets/octocat-icon.png"/>
                Fork it on GitHub
            </a>
        </p>

    </div>
</div>
