<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/login.css">
    <link rel="icon" type="image/png" href="assets/logo-64.png">
    <title>Ontrack - Sign in</title>
</head>
<body class="text-center">
<div class="container form-signin">
    <div class="row">
        <div class="col-sm-12">
            <img class="mb-4" src="assets/logo-128.png" alt="Ontrack sign in" width="72" height="72">
        </div>
    </div>
    <div class="row" th:if="${param.error}">
        <div class="col-sm-12">
            <div id="error-invalid-credentials" class="alert alert-danger" role="alert">
                Invalid username and password.
            </div>
        </div>
    </div>
    <div class="row" th:if="${param.logout}">
        <div class="col-sm-12">
            <div id="message-logout" th:if="${param.logout}" class="alert alert-success" role="alert">
                You have been logged out.
            </div>
        </div>
    </div>

    <div th:if="${extensionsEnabled}">

        <!-- Initial divider -->
        <div class="row">
            <div class="col-sm-4">
                <hr>
            </div>
            <div class="col-sm-4">
                Login with
            </div>
            <div class="col-sm-4">
                <hr>
            </div>
        </div>

        <!-- Extension links -->
        <div class="row" th:each="extension : ${extensions}">
            <div class="col-sm-12">
                <a th:id="${extension.id}"
                   th:href="${extension.link}"
                   th:text="${extension.name}"
                   th:title="${extension.description}"
                   class="btn btn-outline-info btn-block"></a>
            </div>
        </div>

        <!-- OR divider -->
        <div class="row">
            <div class="col-sm-5">
                <hr>
            </div>
            <div class="col-sm-2">
                or
            </div>
            <div class="col-sm-5">
                <hr>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <form th:action="@{/login}" method="post">

                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" placeholder="User name" required autofocus>
                </div>

                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-group">
                    <button id="submit" class="btn btn-outline-primary btn-block" type="submit">Sign in</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Management of redirection. See LoginSuccessHandler -->
<script type="text/javascript">
    var hash = window.location.hash;
    document.cookie = "hashPart=" + window.btoa(hash);
</script>

</body>
</html>
