<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/login.css">
    <link rel="icon" type="image/png" href="assets/logo-64.png">
    <title>Ontrack - Sign in</title>
</head>
<body class="text-center">
<form class="form-signin" th:action="@{/login}" method="post">
    <img class="mb-4" src="assets/logo-128.png" alt="Ontrack sign in" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div id="error-invalid-credentials" th:if="${param.error}" class="alert alert-danger" role="alert">
        Invalid username and password.
    </div>
    <div id="message-logout" th:if="${param.logout}" class="alert alert-success" role="alert">
        You have been logged out.
    </div>
    <label for="username" class="sr-only">User name</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="User name" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <!--    <div class="checkbox mb-3">-->
    <!--        <label>-->
    <!--            <input type="checkbox" value="remember-me"> Remember me-->
    <!--        </label>-->
    <!--    </div>-->
    <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <div th:each="registration : ${registrations}">
        <a th:href="@{/oauth2/authorization/{registrationId}(registrationId=${registration.registrationId})}" th:text="${registration.clientName}"></a>
    </div>

    <script type="text/javascript">
        var hash = window.location.hash;
        document.cookie = "hashPart=" + window.btoa(hash);
    </script>
</form>
</body>
</html>
