<table class="ot-branch-build-view">
    <thead>
    <!-- TODO Validation stamps -->
    <!-- TODO Validation stamps decorations -->
    </thead>
    <tbody>
    <tr ng-repeat="build in view.builds">
        <td>
            <!-- Build name and link -->
            <a href="#/build/{{build.id}}" class="ot-branch-build-view-build-name">
                {{build.name}}
            </a>
            <!-- Signature, without the creator in the overview -->
            <div class="ot-branch-build-view-build-signature">
                {{build.signature.time | date:'mediumDate'}}
                {{build.signature.time | date:'shortTime'}}
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <!-- TODO Filter command -->
    <!-- TODO Build diff extension commands -->
    </tfoot>
</table>