<table class="ot-branch-build-view">
    <thead>
    <!-- Validation stamps -->
    <tr>
        <th colspan="3" rowspan="2">
            <!-- Place holder for builds and promotions -->
            <!-- General commands for the build view -->
            <span class="ot-branch-build-view-auto-refresh"
                  ng-class="{
                    'ot-branch-build-view-auto-refresh-enabled': autoRefresh,
                    'ot-branch-build-view-auto-refresh-disabled': !autoRefresh
                    }"
                  title="{{autoRefresh ? 'Auto refresh is enabled' : 'Auto refresh is disabled'}}"
                  ng-click="toggleAutoRefresh()"
                    ></span>
        </th>
        <!-- All validation stamps -->
        <th ng-repeat="validationStamp in validationStampCollection.resources" class="ot-branch-build-view-validation">
            <ot-entity-image entity="validationStamp" link="#/validationStamp/{{validationStamp.id}}"></ot-entity-image>
        </th>
    </tr>
    <!-- Validation stamps decorations -->
    <tr>
        <!-- For each validation stamp -->
        <th ng-repeat="validationStamp in validationStampCollection.resources" class="ot-branch-build-view-validation">
            <ot-entity-decorations entity="validationStamp"></ot-entity-decorations>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="buildView in branchBuildView.buildViews">
        <td>
            <span ng-if="branchBuildView.buildDiffActions">
                <input type="radio" id="build-from-{{buildView.build.id}}" name="selectedBuildFrom"
                       ng-model="selectedBuild.from" ng-value="buildView.build.id"/>
                <input type="radio" id="build-to-{{buildView.build.id}}" name="selectedBuildTo"
                       ng-model="selectedBuild.to" ng-value="buildView.build.id"/>
            </span>
            <span ng-if="!branchBuildView.buildDiffActions">&nbsp;</span>
        </td>
        <td>
            <!-- Build name and link -->
            <a href="#/build/{{buildView.build.id}}" class="ot-branch-build-view-build-name">
                {{buildView.build.name}}
                <!-- TODO Build decorations -->
            </a>
            <!-- Signature, without the creator in the overview -->
            <div class="ot-branch-build-view-build-signature">
                {{buildView.build.signature.time | date:'mediumDate'}}
                {{buildView.build.signature.time | date:'shortTime'}}
            </div>
        </td>
        <!-- Promotion runs -->
        <td>
            <span ng-repeat="promotionRun in buildView.promotionRuns">
                <span class="ot-promotion-run">
                    <ot-entity-image entity="promotionRun.promotionLevel"
                                     link="#/promotionLevel/{{promotionRun.promotionLevel.id}}">
                        {{promotionRun.promotionLevel.name}}
                    </ot-entity-image>
                    <span class="ot-promotion-run-signature">
                        {{promotionRun.signature.time | date:'shortDate'}}
                    </span>
                </span>
                <span ng-if="!$last" class="ot-promotion-run-separator"></span>
            </span>
        </td>
        <!-- Validation runs -->
        <td ng-repeat="validationStampRunView in buildView.validationStampRunViews"
            class="ot-branch-build-view-validation">
            <!-- Not run and validation enabled -->
            <span ng-if="!validationStampRunView.run && buildView.build._validate" class="ot-command"
                  ng-click="createValidationRun(buildView, validationStampRunView)">
                <ot-validation-run-status-none></ot-validation-run-status-none>
            </span>
            <!-- Not run and validation not enabled -->
            <span ng-if="!validationStampRunView.run && !buildView.build._validate">
                <ot-validation-run-status-none></ot-validation-run-status-none>
            </span>
            <!-- Last status -->
            <span ng-if="validationStampRunView.run">
                <span class="ot-action" ng-click="displayValidationRuns(buildView, validationStampRunView)">
                    <ot-validation-run-status status="validationStampRunView.lastStatus"></ot-validation-run-status>
                </span>
            </span>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <!-- Filter command -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">Existing filters:</li>
                    <li class="divider"></li>
                    <li role="presentation" class="dropdown-header">New filter:</li>
                    <li ng-repeat="buildFilterForm in buildFilters.buildFilterForms">
                        <a ng-click="buildFilterNew(buildFilterForm)">{{buildFilterForm.typeName}}</a>
                    </li>
                </ul>
            </div>
            <!-- Build diff extension commands -->
            <button ng-repeat="action in branchBuildView.buildDiffActions" class="btn btn-default"
                    id="{{action.id}}"
                    ng-click="buildDiff(action)">
                {{action.name}}
            </button>
        </td>
    </tr>
    </tfoot>
</table>