<ot-view>
    <div class="row">
        <div class="col-md-12 ot-view-title">
            <ot-entity-image entity="validationStamp" link="#/validationStamp/{{validationStamp.id}}">
                {{validationStamp.name}}
            </ot-entity-image> run
        </div>
    </div>
    <table class="table table-hover">
        <tr ng-repeat="validationRunStatus in validationRun.validationRunStatuses" ng-class="">
            <td>
                <ot-validation-run-status status="validationRunStatus"></ot-validation-run-status>
                {{validationRunStatus.statusID.name}}
            </td>
            <td>
                {{validationRunStatus.description}}
            </td>
            <td>
                <ot-signature value="validationRunStatus.signature" user="true" time="true"></ot-signature>
            </td>
            <td>
                <button ng-if="validationRun.validationRunStatusChange && $first"
                        ng-click="validationRunStatusChange()"
                        class="btn btn-info pull-right">Change status</button>
            </td>
        </tr>
    </table>
</ot-view>