<ot-view>
    <div class="row">
        <div class="col-md-12" ng-show="!searchDone">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the search results...
            </div>
        </div>
        <div class="col-md-12 alert alert-warning" ng-show="searchDone && results && !results.length">
            No result matches your search.
        </div>
        <div class="col-md-12" ng-show="searchDone && results">
            <dl ng-repeat="result in results" class="ot-search-result">
                <dt>
                    <a href="{{result.page}}">{{result.title}}</a>
                </dt>
                <dd ng-bind-html="result.description">
                </dd>
            </dl>
        </div>
    </div>
</ot-view>