<ot-view>
    <div class="row">
        <div class="col-md-12">
            <b>TODO</b> Build view
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <ot-section-title>Promotion levels</ot-section-title>
            <button ng-if="branch.createPromotionLevel" type="button" class="btn btn-default" ng-click="createPromotionLevel()">New promotion level</button>
        </div>
        <div class="col-md-6">
            <ot-section-title>Validation stamps</ot-section-title>
        </div>
    </div>
</ot-view>