<ot-view>
    <div class="row" ng-repeat="form in forms">
        <div class="col-md-12">
            <ot-section-title>{{form.title}}</ot-section-title>
            <div class="well">
                <table class="ot-form-view">
                    <tbody>
                    <tr ng-repeat="field in form.form.fields">
                        <td>
                            {{field.label}}
                        </td>
                        <td>
                            <ot-field-value field="field"></ot-field-value>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <button type="button" class="btn btn-info" ng-click="editSettings(form)">Edit</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</ot-view>