<ot-view>
    <div class="row">
        <div class="col-md-12 alert alert-info ot-api-header">
            <span class="ot-api-link">
                {{link}}
            </span>
            <span class="ot-loading-indicator" ng-show="apiLoading"></span>
            <span class="fa fa-gears ot-command"
                  title="Show/hide raw JSON of the resource"
                  ng-show="resource"
                  ng-click="showRaw = !showRaw"></span>
            <pre ng-show="showRaw">{{resource}}</pre>
            <p ng-repeat="method in description.methods" class="ot-api-method">
                <span ng-repeat="m in method.methods" class="ot-api-{{m | lowercase}}">{{m}}</span>
                <span class="ot-api-method-name">{{method.name}}</span>
                <span ng-if="method.description" class="ot-api-method-description"> - {{method.description}}</span>
            </p>
        </div>
    </div>
    <div class="row" ng-show="message">
        <div class="col-md-12 alert alert-warning">
            {{message}}
        </div>
    </div>
    <div class="row" ng-show="resource">
        <div class="col-md-12 ot-api-resource-top">
            <ot-api-resource resource="resource"></ot-api-resource>
        </div>
    </div>
</ot-view>