<ot-view>

    <ot-entity-disabled entity="project" callback="reloadProject()">
        The project is disabled.
    </ot-entity-disabled>

    <div class="row">
        <div class="col-md-12">
            <ot-section-title>Branches</ot-section-title>
            <div class="row">
                <ot-noentry list="branchCollection.resources">
                    No branch has been created yet.
                </ot-noentry>
                <div class="col-md-12" ng-if="branchCollection.resources">
                    <div class="row ot-project-branch"
                         ng-repeat="branch in branchCollection.resources"
                         ng-show="showDisabled || !(branch.disabled || branch.type == 'TEMPLATE_DEFINITION')">
                        <div class="col-md-2 ot-project-branch-name"
                             ng-class="{'ot-entity-disabled': branch.disabled}">
                            <a href="#/branch/{{branch.id}}">
                                {{branch.name}}
                            </a>
                            <ot-entity-decorations entity="branch"></ot-entity-decorations>
                        </div>
                        <div class="col-md-10 ot-project-branch-promotions">
                            <div class="row">
                                <div class="col-md-3 ot-project-branch-promotion"
                                     ng-if="branch.branchStatusView.latestBuild">
                                    <span class="fa fa-arrow-right"></span>
                                    <a href="#/build/{{branch.branchStatusView.latestBuild.id}}"
                                       title="Latest build on this branch">
                                        {{branch.branchStatusView.latestBuild.name}}
                                    </a>
                                </div>
                                <div class="col-md-3 ot-project-branch-promotion"
                                     ng-if="!branch.branchStatusView.latestBuild">
                                            <span class="fa fa-ban"
                                                  title="No build on this branch"></span>
                                </div>
                                <div class="col-md-3 ot-project-branch-promotion"
                                     ng-repeat="promotionView in branch.branchStatusView.promotions">
                                    <span ng-if="promotionView.promotionRun">
                                        <a href="#/promotionLevel/{{promotionView.promotionLevel.id}}">
                                            <ot-entity-image
                                                    entity="promotionView.promotionLevel"></ot-entity-image>
                                            {{promotionView.promotionLevel.name}}
                                        </a>
                                        <span class="ot-project-branch-promotion-build">
                                            <span class="fa fa-arrow-right"></span>
                                            <a href="#/build/{{promotionView.promotionRun.build.id}}">{{promotionView.promotionRun.build.name}}</a>
                                        </span>
                                    </span>
                                    <span ng-if="!promotionView.promotionRun">
                                        <a href="#/promotionLevel/{{promotionView.promotionLevel.id}}">
                                            <ot-entity-image
                                                    entity="promotionView.promotionLevel"></ot-entity-image>
                                            {{promotionView.promotionLevel.name}}
                                        </a>
                                        <span class="fa fa-arrow-right"></span>
                                        <span class="fa fa-ban"></span>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <ot-section-title>Properties</ot-section-title>
            <div class="row">
                <div class="col-md-12">
                    <ot-entity-properties entity="project"></ot-entity-properties>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <ot-entity-events entity="project"></ot-entity-events>
        </div>
    </div>

</ot-view>