<ot-view>
    <div class="row">
        <div class="col-md-12 ot-view-title">
            <ot-entity-image entity="promotionLevel">
                <span id="ot-view-title">{{promotionLevel.name}}</span>
            </ot-entity-image>
            <ot-entity-decorations entity="promotionLevel"></ot-entity-decorations>
            <div ng-show="promotionLevel.description" class="ot-description">
                {{promotionLevel.description}}
            </div>
        </div>
    </div>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Build</th>
                <th colspan="2">Promotion</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="promotionRun in promotionRunView.promotionRuns">
            <td>
                <a href="#/build/{{promotionRun.build.id}}">{{promotionRun.build.name}}</a>
            </td>
            <td>
                <ot-signature value="promotionRun.signature" user="true" time="true"></ot-signature>
            </td>
            <td class="ot-description">
                {{promotionRun.description}}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-7">
            <ot-section-title>Properties</ot-section-title>
            <div class="row">
                <div class="col-md-12">
                    <ot-entity-properties entity="promotionLevel"></ot-entity-properties>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <ot-entity-events entity="promotionLevel"></ot-entity-events>
        </div>
    </div>
</ot-view>