<ot-view>

    <div class="row" ng-show="branch">
        <div class="col-md-12">
            <div class="alert alert-warning">
                <p>
                    This diagram is now considered deprecated and replaced by the
                    <a href="#/extension/auto-versioning/dependency-graph/branch/{{ branch.id }}/downstream">dependency graph</a>
                    and
                    <a href="#/extension/auto-versioning/dependency-graph/branch/{{ branch.id }}/upstream">upstream dependency graph</a>
                    ,
                    accessible from the <i>Tools</i> menu.
                </p>
                <p>
                    <i class="fa fa-info-circle text-info"></i>
                    If you consider this view should be kept, please participate in this
                    <a href="https://github.com/nemerosa/ontrack/discussions/1077">GitHub discussion</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="row" ng-show="branch">
        <div class="col-md-12 ot-view-title" ng-class="{'text-muted': loadingData}">
            <button type="button" class="btn btn-default"
                    ng-click="changeDirection()"
                    ng-disabled="loadingData"
                    title="Show the other direction for the dependencies">
                <i class="fa fa-arrows-h" aria-hidden="true" ng-hide="loadingData"></i>
                <span class="ot-loading-indicator" ng-show="loadingData"></span>
            </button>
            <span ng-show="context.direction == 'USING'">
                Branch
                <a href="{{ branch.project.links._page }}">{{ branch.project.name }}</a>
                / <a href="{{ branch.links._page }}">{{ branch.name }}</a>
                is using...
            </span>
            <span ng-show="context.direction == 'USED_BY'">
                Branch
                <a href="{{ branch.project.links._page }}">{{ branch.project.name }}</a>
                / <a href="{{ branch.links._page }}">{{ branch.name }}</a>
                is used by...
            </span>
        </div>
    </div>

    <div id="graph" style="width:100%; height:600px;"></div>

</ot-view>