<ot-view>

    <div class="row ot-build-search-form">
        <div class="col-md-3">
            <form name="buildSearchForm">
                <div
                        ng-repeat="field in searchForm.fields"
                        class="form-group">
                    <label>{{field.label}}</label>
                    <ot-field data="searchData" field="field" form-root="buildSearchForm"></ot-field>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-search"></span>
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>

</ot-view>