<ot-view>
    <div class="row">
        <div class="col-md-12 ot-view-title">
            <ot-entity-image entity="promotionLevel">
                <span id="ot-view-title">{{promotionLevel.name}}</span>
            </ot-entity-image>
            <ot-entity-embedded-decorations decorations="promotionLevel.decorations"></ot-entity-embedded-decorations>
            <div ng-show="promotionLevel.description" class="ot-description" ng-bind-html="promotionLevel.annotatedDescription"></div>
        </div>
    </div>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Build</th>
                <th colspan="2">Promotion</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="promotionRun in promotionLevel.promotionRuns">
            <td>
                <a href="{{promotionRun.build.links._page}}">{{promotionRun.build.name}}</a>
            </td>
            <td>
                <ot-signature value="{time: promotionRun.creation.time, user: {name: promotionRun.creation.user}}" user="true" time="true"></ot-signature>
            </td>
            <td class="ot-description">
                <span ng-bind-html="promotionRun.annotatedDescription"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-7">
            <ot-section-title>Properties</ot-section-title>
            <div class="row">
                <div class="col-md-12">
                    <ot-entity-properties entity="{_properties: promotionLevel.links._properties}"></ot-entity-properties>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <ot-entity-events entity="{_events: promotionLevel.links._events}"></ot-entity-events>
        </div>
    </div>
</ot-view>