<ot-view>
    <div class="row">
        <div class="col-md-12 ot-view-title">
            <ot-entity-image entity="validationStamp">
                {{validationStamp.name}}
            </ot-entity-image>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <ot-section-title>History</ot-section-title>
            <div class="alert alert-warning" ng-show="validationRunResources.resources.length == 0">
                No validation run has been done yet.
            </div>
            <table class="table table-condensed table-hover" ng-show="validationRunResources.resources.length != 0">
                <tr ng-repeat="validationRun in validationRunResources.resources">
                    <td>
                        <a href="#/build/{{validationRun.build.id}}">
                            {{validationRun.build.name}}
                        </a>
                    </td>
                    <td>
                        <a href="#/validationRun/{{validationRun.id}}">
                            #{{validationRun.runOrder}}
                        </a>
                    </td>
                    <td>
                        <a href="#/validationRun/{{validationRun.id}}">
                            <ot-validation-run-status status="validationRun.lastStatus"></ot-validation-run-status>
                        </a>
                    </td>
                    <td>
                        {{validationRun.lastStatus.description}}
                    </td>
                    <td>
                        <ot-signature value="validationRun.lastStatus.signature" user="true" time="true"></ot-signature>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <ot-section-title>Properties</ot-section-title>
            <div class="row">
                <div class="col-md-12">
                    <ot-entity-properties entity="validationStamp"></ot-entity-properties>
                </div>
            </div>
        </div>
    </div>
</ot-view>