<ot-view>
    <div class="row">
        <div class="col-md-12 ot-view-title">
            <ot-entity-image entity="promotionLevel">
                <span id="ot-view-title">{{promotionLevel.name}}</span>
            </ot-entity-image>
            <ot-entity-embedded-decorations decorations="promotionLevel.decorations"></ot-entity-embedded-decorations>
            <div ng-show="promotionLevel.description" class="ot-description" ng-bind-html="promotionLevel.annotatedDescription"></div>
        </div>
    </div>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    Build
                    <button class="btn btn-link" ng-show="promotionLevel.promotionRuns.pageInfo.previousPage" ng-click="switchPage(promotionLevel.promotionRuns.pageInfo.previousPage)">
                        <span class="fa fa-step-backward"></span>
                        Newer ones
                    </button>
                    <button class="btn btn-link" ng-show="promotionLevel.promotionRuns.pageInfo.nextPage" ng-click="switchPage(promotionLevel.promotionRuns.pageInfo.nextPage)">
                        <span class="fa fa-step-forward"></span>
                        Older ones
                    </button>
                    <span ng-show="loadingPromotionLevel">
                        <span class="ot-loading-indicator"></span>
                        Loading data...
                    </span>
                </th>
                <th colspan="2">Promotion</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="promotionRun in promotionLevel.promotionRuns.pageItems">
            <td>
                <a href="{{promotionRun.build.links._page}}">{{promotionRun.build.name}}</a>
                <span class="ot-decoration-list">
                    <ot-entity-embedded-decorations decorations="promotionRun.build.decorations"></ot-entity-embedded-decorations>
                </span>
            </td>
            <td>
                <ot-signature value="{time: promotionRun.creation.time, user: {name: promotionRun.creation.user}}" user="true" time="true"></ot-signature>
            </td>
            <td class="ot-description">
                <span ng-bind-html="promotionRun.annotatedDescription"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-7">
            <ot-section-title>Properties</ot-section-title>
            <div class="row">
                <div class="col-md-12">
                    <ot-entity-properties entity="{_properties: promotionLevel.links._properties}"></ot-entity-properties>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <ot-entity-events entity="{_events: promotionLevel.links._events}"></ot-entity-events>
        </div>
    </div>
</ot-view>