<ot-view>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{'active':(!tab || tab == 'status')}"><a role="tab"
                                                                                           ng-click="tab = 'status'">Status</a>
                </li>
                <li role="presentation" ng-class="{'active': tab == 'extensions'}"><a role="tab"
                                                                                ng-click="tab = 'extensions'">Extensions</a></li>
                <li role="presentation" ng-class="{'active': tab == 'jobs'}"><a role="tab"
                                                                                ng-click="tab = 'jobs'">Jobs</a></li>
            </ul>
        </div>
    </div>


    <div class="row" ng-show="!tab || tab == 'status'">
        <div class="col-md-12">

            <br/>

            <p class="ot-description">
                Status of the applications Ontrack connects to.
            </p>

            <div class="alert alert-info" ng-hide="health">
                Loading health indicators...
            </div>
            <table class="table ot-admin-console-status" ng-show="health">
                <!-- Overall status -->
                <tr class="info">
                    <td class="ot-health-status">
                        <ot-health-status value="health"></ot-health-status>
                    </td>
                    <td colspan="4">
                        Overall status
                    </td>
                </tr>
                <!-- Per section -->
                <tbody ng-repeat="(sectionName, section) in health"
                       ng-if="sectionName != '_self' && sectionName != 'status'">
                <!-- Section status -->
                <tr class="active">
                    <td class="ot-health-status-span">
                        &nbsp;
                    </td>
                    <td>
                        <ot-health-status value="section"></ot-health-status>
                    </td>
                    <td colspan="5">
                        {{sectionName}} status
                    </td>
                </tr>
                <!-- Section details -->
                <tr ng-repeat="(configName, config) in section"
                    ng-if="sectionName != 'dataSource' && sectionName != 'db' && configName != 'status'">
                    <td class="ot-health-status-span">
                        &nbsp;
                    </td>
                    <td class="ot-health-status-span">
                        &nbsp;
                    </td>
                    <td class="ot-health-status">
                        <ot-health-status value="config"></ot-health-status>
                    </td>
                    <td>
                        <b>{{configName}}</b>
                    </td>
                    <td>
                        <a ng-click="showDetails(config)" ng-if="!config.error" ng-hide="config.detailsShown"
                           class="ot-action">Details</a>
                        <a ng-click="showError(config)" ng-if="config.error" ng-hide="config.errorShown"
                           class="ot-action">Error</a>
                        <p ng-show="config.errorShown">
                            {{config.error}}
                        </p>
                        <p ng-show="config.detailsShown" ng-repeat="(detailName, detail) in config"
                           ng-if="detailName != 'status' && detailName != 'detailsShown'">
                            <b>{{detailName}}</b>:
                            {{detail}}
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-show="tab == 'extensions'">
        <div class="col-md-12">
            <br/>
            <div class="alert alert-info" ng-hide="extensions">
                <span class="ot-loading-indicator"></span>
                Loading the extension list...
            </div>
            <table class="table table-hover table-bordered" ng-show="extensions">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Version</th>
                    <th>GUI</th>
                    <th>Dependencies</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="extension in extensions.extensions">
                    <td><code>{{extension.id}}</code></td>
                    <td>{{extension.name}}</td>
                    <td>{{extension.description}}</td>
                    <td>{{extension.version}}</td>
                    <td>
                        <span class="label label-info" ng-if="extension.options.gui">GUI</span>
                    </td>
                    <td>
                        <span class="label label-success" ng-repeat="dependency in extension.options.dependencies">{{dependency}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row" ng-show="tab == 'jobs'">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12 form-inline">

                    <p></p>

                    <!-- Status filter -->
                    <div class="form-group dropdown">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                ng-class="{
                                    'btn-info': selectedJobStatus.id != '',
                                    'btn-default': selectedJobStatus.id == ''
                                    }">
                            {{selectedJobStatus.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="jobStatus in jobStatuses">
                                <a class="ot-action" ng-click="setJobStatus(jobStatus)">{{jobStatus.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Category filter -->
                    <div class="form-group dropdown">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                ng-class="{
                                    'btn-info': selectedJobCategory.id != '',
                                    'btn-default': selectedJobCategory.id == ''
                                    }">
                            {{selectedJobCategory.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="jobCategory in jobCategories"><a class="ot-action" ng-click="setJobCategory(jobCategory)">{{jobCategory.name}}</a></li>
                        </ul>
                    </div>

                    <!-- Type filter -->
                    <div class="form-group dropdown">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                ng-class="{
                                    'btn-info': selectedJobType.id != '',
                                    'btn-default': selectedJobType.id == ''
                                    }">
                            {{selectedJobType.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="ot-action" ng-click="setJobType(defaultJobType)">{{defaultJobType.name}}</a></li>
                            <li ng-repeat="type in selectedJobCategory.types"><a class="ot-action" ng-click="setJobType(type)">{{type.name}}</a></li>
                        </ul>
                    </div>

                    <!-- Error filter -->
                    <div class="form-group dropdown">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                ng-class="{
                                    'btn-info': selectedJobError.check,
                                    'btn-default': !selectedJobError.check
                                    }">
                            {{selectedJobError.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="error in jobErrors"><a class="ot-action" ng-click="setJobError(error)">{{error.name}}</a></li>
                        </ul>
                    </div>

                    <!-- Description filter (text box) -->
                    <div class="form-group">
                        <input class="form-control col-md-4" type="text" ng-model="jobDescription.value" placeholder="Description filter"
                               ng-class="{
                                'bg-info': jobDescription.value
                               }"/>
                    </div>

                    <!-- Menu -->
                    <div class="form-group dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="ot-action" ng-click="clearJobFilter()">
                                <span class="fa fa-ban"></span>
                                Clear filter
                            </a></li>

                            <li ng-show="jobs && jobs._pause">
                                <a class="ot-action" title="Stops running new jobs - current executions are not stopped."
                                    ng-click="pauseJobs()">
                                    <span class="fa fa-pause"></span>
                                    Stops running jobs
                                </a>
                            </li>

                            <li ng-show="jobs && jobs._resume">
                                <a class="ot-action" ng-click="resumeJobs()">
                                    <span class="fa fa-play"></span>
                                    Resumes running jobs
                                </a>
                            </li>

                            <li><a class="ot-action" ng-click="pauseAllSelected()">
                                <span class="fa fa-pause"></span>
                                Pause all visible jobs
                            </a></li>

                            <li><a class="ot-action" ng-click="resumeAllSelected()">
                                <span class="fa fa-refresh"></span>
                                Resume all visible jobs
                            </a></li>
                        </ul>
                    </div>

                    <!-- Scheduler status -->
                    <div class="form-group" ng-show="jobs && jobs._resume">
                        <b class="form-control-static text-danger">
                            Execution of jobs has been stopped.
                            <a class="ot-action" ng-click="resumeJobs()">Resume their execution.</a>
                        </b>
                    </div>

                </div>
            </div>

            <table class="ot-admin-console-jobs" ng-if="jobs">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>State</th>
                    <th>Action</th>
                    <th>Schedule</th>
                    <th>Run count</th>
                    <th>Last duration</th>
                    <th>Error(s)</th>
                    <th>Last run</th>
                    <th>Next run</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="job in jobs.resources | filter:jobFilter"
                    class="ot-job ot-job-{{job.state.toLowerCase()}}">
                    <td>
                        {{job.id}}
                    </td>
                    <td>
                        {{job.key.type.category.name}}
                    </td>
                    <td>
                        {{job.key.type.name}}
                    </td>
                    <td>
                        {{job.description}}
                    </td>
                    <td>
                        <span ng-if="job.state == 'IDLE'" class="fa fa-cog fa-2x text-muted" title="Idle"></span>
                        <span ng-if="job.state == 'RUNNING'" class="fa fa-cog fa-spin fa-2x text-success" title="Running"></span>
                        <span ng-if="job.state == 'PAUSED'" class="fa fa-pause fa-2x text-info" title="Paused"></span>
                        <span ng-if="job.state == 'DISABLED'" class="fa fa-ban fa-2x text-muted" title="Disabled"></span>
                        <span ng-if="job.state == 'INVALID'" class="fa fa-trash fa-2x text-danger" title="Invalid - will be removed at next run"></span>
                    </td>
                    <td>
                        <span
                                ng-if="job._launch"
                                title="Launches this job immediately"
                                ng-click="launchJob(job)"
                                class="fa fa-play fa-2x ot-command"></span>
                        <span
                                ng-if="job._pause"
                                title="Pauses this job - automatic schedule will be on hold"
                                ng-click="pauseJob(job)"
                                class="fa fa-pause fa-2x ot-command"></span>
                        <span
                                ng-if="job._resume"
                                title="Resumes this job - automatic schedule will be restored"
                                ng-click="resumeJob(job)"
                                class="fa fa-refresh fa-2x ot-command"></span>
                        <span
                                ng-if="job._delete"
                                title="Deletes this job"
                                ng-click="deleteJob(job)"
                                class="fa fa-trash fa-2x ot-command"></span>
                    </td>
                    <td>
                        {{job.schedule.periodText}}
                    </td>
                    <td>
                        {{job.runCount}}
                    </td>
                    <td>
                        {{jobDuration(job.lastRunDurationMs)}}
                    </td>
                    <td>
                        <span ng-if="job.lastErrorCount == 0">-</span>
                        <span ng-if="job.lastErrorCount > 0" title="{{job.lastError}}">
                            <span class="fa fa-times text-danger"></span>
                            {{job.lastErrorCount}}
                        </span>
                    </td>
                    <td>
                        {{job.lastRunDate | date:'shortDate'}}
                        {{job.lastRunDate | date:'shortTime'}}
                    </td>
                    <td>
                        {{job.nextRunDate | date:'shortDate'}}
                        {{job.nextRunDate | date:'shortTime'}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</ot-view>