<ot-view>
    <div class="row">
        <div class="col-md-12">
            <ot-section-title>Promotions</ot-section-title>
            <b>TODO</b> List of promotions
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ot-section-title>Validations</ot-section-title>
            <div class="row">
                <div class="col-md-4">
                    <ot-subsection-title>Run &amp; passed</ot-subsection-title>
                    <p class="ot-description">List of validations that have run and passed.</p>
                </div>
                <div class="col-md-4">
                    <ot-subsection-title>Run &amp; failed</ot-subsection-title>
                    <p class="ot-description">List of validations that have run and failed.</p>
                </div>
                <div class="col-md-4">
                    <ot-subsection-title>Not run</ot-subsection-title>
                    <p class="ot-description">List of validations that have not run.</p>
                </div>
            </div>
        </div>
    </div>
</ot-view>