<ot-view>
    <div class="row">
        <div class="col-md-12 ot-view-title">
            <ot-entity-image entity="validationStamp" link="#/validationStamp/{{validationStamp.id}}">
                {{validationStamp.name}}
            </ot-entity-image> run
        </div>
        <p><b>TODO</b> Change status</p>
        <p><b>TODO</b> Last status</p>
        <p><b>TODO</b> Other statuses</p>
    </div>
    <!-- Last status -->
    <div class="row">
        <div class="col-md-7 well">
            <ot-validation-run-status status="validationRun.lastStatus"></ot-validation-run-status>
            {{validationRun.lastStatus.statusID.name}}
            <ot-signature value="validationRun.lastStatus.signature" user="true" time="true"></ot-signature>

            <button ng-if="validationRun.validationRunStatusChange"
                    ng-click="validationRunStatusChange()"
                    class="btn btn-info pull-right">Change status</button>
        </div>
    </div>
</ot-view>