<ot-view>

    <!-- Changing the password -->
    <div ng-if="localUser._changePassword" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Change password</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="changePassword()">
                <div class="form-group">
                    <label for="old-password" class="col-sm-2 control-label">Old password</label>
                    <div class="col-sm-2">
                        <input id="old-password" class="form-control" ng-model="passwordForm.oldPassword"
                               type="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new-password" class="col-sm-2 control-label">New password</label>
                    <div class="col-sm-2">
                        <input id="new-password" class="form-control" ng-model="passwordForm.newPassword"
                               type="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm-password" class="col-sm-2 control-label">Confirm password</label>
                    <div class="col-sm-2">
                        <input id="confirm-password" class="form-control" ng-model="passwordForm.confirmPassword"
                               type="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="password-submit" type="submit" class="btn btn-primary" ng-disabled="passwordForm.changing">
                            <ot-loading ng-show="passwordForm.changing"></ot-loading>
                            Submit
                        </button>
                    </div>
                </div>
                <div class="form-group" ng-show="passwordForm.confirmIncorrect">
                    <div class="col-sm-offset-2 col-sm-2">
                        <div class="alert alert-danger">
                            Password confirmation is not correct.
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="passwordForm.success">
                    <div class="col-sm-offset-2 col-sm-2">
                        <div class="alert alert-success">
                            Password changed successfully.
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="passwordForm.error">
                    <div class="col-sm-offset-2 col-sm-2">
                        <div class="alert alert-danger">
                            {{passwordForm.error}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Token management -->
    <div ng-if="localUser._token" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">API token</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="token" class="col-sm-2 control-label">Token</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="token" class="form-control" ng-model="token.token.value" type="text" readonly>
                            <span class="input-group-btn">
                            <button class="btn btn-default"
                                    id="token-copy"
                                    title="Copy API token"
                                    ng-click="copyToken()"
                                    ng-disabled="!token.token.value">
                                <i class="fa fa-copy"></i>
                            </button>
                            <button class="btn btn-warning"
                                    id="token-generate"
                                    ng-if="localUser._changeToken"
                                    ng-click="changeToken()"
                                    title="Regenerate token">
                                <i class="fa fa-cog"></i>
                            </button>
                            <button class="btn btn-danger"
                                    id="token-revoke"
                                    ng-if="localUser._revokeToken"
                                    ng-click="revokeToken()"
                                    title="Revoke token">
                                <i class="fa fa-trash"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Created on</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            {{ token.token.creation | date:'fullDate'}}
                            {{ token.token.creation | date:'mediumTime'}}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Valid until</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-if="token.token.validUntil">
                            {{ token.token.validUntil | date:'fullDate'}}
                            {{ token.token.validUntil | date:'mediumTime'}}
                            <span ng-if="token.token.valid">
                                <span class="fa fa-check text-success"></span>
                                Valid
                            </span>
                            <span ng-if="!token.token.valid">
                                <span class="fa fa-times text-danger"></span>
                                Expired
                            </span>
                        </p>
                        <p class="form-control-static" ng-if="!token.token.validUntil">
                            <span class="fa fa-check text-success"></span>
                            <i>Does not expire</i>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>

</ot-view>