<ot-view>

    <div class="row">
        <div class="col-md-12">

            <br/>

            <p ng-if="logs.resources.length == 0" class="ot-admin-console-log-ok">
                No log entry - everything is OK!
            </p>
            <div ng-if="logs.resources">
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                                <!-- Navigation -->
                                <div class="form-group">
                                    <button ng-click="previousPage()" class="btn btn-default" ng-disabled="!logs.pagination.prev"><i class="fa fa-step-backward"></i>&nbsp;Previous</button>
                                </div>
                                <div class="form-group">
                                    <button ng-click="nextPage()" class="btn btn-default" ng-disabled="!logs.pagination.next"><i class="fa fa-step-forward"></i>&nbsp;Next</button>
                                </div>
                                <!-- TODO Before -->
                                <!-- TODO After -->
                                <!-- Authentication -->
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="logFilter.authentication" placeholder="Authentication" />
                                </div>
                                <!-- Text -->
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="logFilter.text" placeholder="Looking for any text" />
                                </div>
                                <div class="form-group">
                                    <button ng-click="filterLogs()" class="btn btn-default">
                                        <i class="fa fa-filter"></i>&nbsp;Filter
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <table class="ot-admin-console-log" ng-if="logs.resources">
                    <thead>
                    <tr>
                        <th>Level</th>
                        <th>Timestamp</th>
                        <th>Type</th>
                        <th>Information</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="log in logs.resources" class="ot-application-log-{{log.level | lowercase}}">
                        <td>
                            {{log.level}}
                        </td>
                        <td>
                            {{log.timestamp | date:'fullDate'}}
                            {{log.timestamp | date:'mediumTime'}}
                        </td>
                        <td>
                            <code>{{log.type.name}}</code>
                            {{log.type.description}}
                        </td>
                        <td>
                            {{log.information}}
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="showLogDetails(log)">
                                Details...
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</ot-view>