<ot-view>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{'active': activeTab == 'accounts'}"><a ng-click="selectAccountsTab()" aria-controls="accounts" role="tab">Accounts</a></li>
        <li role="presentation" ng-class="{'active': activeTab == 'account-groups'}"><a ng-click="selectAccountGroupsTab()" aria-controls="account-groups" role="tab">Account groups</a></li>
    </ul>

    <div class="panel panel-default" ng-show="activeTab == 'accounts'">
        <div class="panel-heading">
            <div class="panel-title form-inline">
                <div class="form-group">
                    <label>
                        <input
                            id="accountFilter"
                            class="form-control input-sm"
                            ng-model="accountFilter.account"
                            type="text"
                            placeholder="Filter (name, email, group, ...)"/>
                    </label>
                </div>
                <span class="pull-right">
                    <button id="admin-accounts-create" class="form-control btn btn-default btn-xs" ng-click="createAccount()">Create account</button>
                </span>
            </div>
        </div>
        <div class="panel-body" ng-show="loading">
            <span class="ot-loading-indicator"></span>
            Loading the accounts...
        </div>
        <table class="table table-hover" ng-if="accounts">
            <thead>
            <tr>
                <th>Name</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Source</th>
                <th>Role</th>
                <th>Groups</th>
                <th>Token</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="account in accounts | filter:accountFilter.account">
                <td>
                    <b>{{account.name}}</b>
                </td>
                <td>
                    {{account.fullName}}
                </td>
                <td>
                    <span ng-if="account.email">{{account.email}}</span>
                    <span ng-if="!account.email" class="ot-description">No email</span>
                </td>
                <td>
                    {{sourceDisplayName(account.authenticationSource)}}
                </td>
                <td>
                    <span class="ot-description" ng-if="account.role == 'ADMINISTRATOR'">Built-in administrator</span>
                    <span ng-if="account.role != 'ADMINISTRATOR'">Normal user</span>
                </td>
                <td>
                    <span class="ot-admin-account-group" ng-repeat="accountGroup in account.groups">
                        {{accountGroup.name}}
                    </span>
                    <span ng-hide="account.groups" class="ot-description">No group</span>
                </td>
                <td>
                    <span ng-if="!account.token"
                          class="fa fa-ban text-muted"
                          title="No token for this account"></span>
                    <span ng-if="account.token && account.token.valid && account.token.validUntil"
                          class="fa fa-check text-success"
                          title="Token valid until {{ account.token.validUntil | date:'fullDate'}} {{ account.token.validUntil | date:'mediumTime'}}"></span>
                    <span ng-if="account.token && account.token.valid && !account.token.validUntil"
                          class="fa fa-check text-success"
                          title="Token cannot expire"></span>
                    <span ng-if="account.token && !account.token.valid"
                          class="fa fa-times text-danger"
                          title="Token expired"></span>
                    <span class="fa fa-trash text-warning ot-command"
                          title="Revoke token"
                          ng-if="account.token && account.links._revokeToken"
                          ng-click="revokeToken(account)"
                          ></span>
                </td>
                <td>
                <span class="ot-command ot-command-update"
                      title="Update account {{account.name}}"
                      ng-if="account.links._update"
                      ng-click="updateAccount(account)"></span>
                <span class="ot-command ot-command-delete" title="Delete account {{account.name}}"
                      ng-if="account.links._delete"
                      ng-click="deleteAccount(account)"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-default" ng-show="activeTab == 'account-groups'">
        <div class="panel-heading">
            <div class="panel-title form-inline">
                <div class="form-group">
                    <label>
                        <input
                            id="accountGroupFilter"
                            class="form-control input-sm"
                            ng-model="accountFilter.group"
                            type="text"
                            placeholder="Filter (name, description)"/>
                    </label>
                </div>
                <span class="pull-right">
                    <button class="form-control btn btn-default btn-xs" ng-click="createGroup()">Create group...</button>
                </span>
            </div>
        </div>
        <div class="panel-body" ng-hide="groups">
            No group has been created yet.
        </div>
        <table class="table table-hover" ng-if="groups">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Auto join</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in groups | filter:accountFilter.group">
                <td>
                    <b>{{group.name}}</b>
                </td>
                <td class="ot-description">
                    {{group.description}}
                </td>
                <td>
                    {{group.autoJoin ? "Yes" : "No"}}
                </td>
                <td>
                <span class="ot-command ot-command-update"
                      ng-if="group.links._update"
                      title="Update group {{group.name}}"
                      ng-click="updateGroup(group)"></span>
                <span class="ot-command ot-command-delete"
                      ng-if="group.links._delete"
                      title="Delete group {{group.name}}"
                      ng-click="deleteGroup(group)"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</ot-view>