<ot-view>

    <!-- Changing the password -->
    <div ng-if="localUser._changePassword" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Change password</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="changePassword()">
                <div class="form-group">
                    <label for="old-password" class="col-sm-2 control-label">Old password</label>
                    <div class="col-sm-2">
                        <input id="old-password" class="form-control" ng-model="passwordForm.oldPassword"
                               type="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new-password" class="col-sm-2 control-label">New password</label>
                    <div class="col-sm-2">
                        <input id="new-password" class="form-control" ng-model="passwordForm.newPassword"
                               type="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm-password" class="col-sm-2 control-label">Confirm password</label>
                    <div class="col-sm-2">
                        <input id="confirm-password" class="form-control" ng-model="passwordForm.confirmPassword"
                               type="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="password-submit" type="submit" class="btn btn-primary"
                                ng-disabled="passwordForm.changing">
                            <ot-loading ng-show="passwordForm.changing"></ot-loading>
                            Submit
                        </button>
                    </div>
                </div>
                <div class="form-group" ng-show="passwordForm.confirmIncorrect">
                    <div class="col-sm-offset-2 col-sm-2">
                        <div class="alert alert-danger">
                            Password confirmation is not correct.
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="passwordForm.success">
                    <div class="col-sm-offset-2 col-sm-2">
                        <div class="alert alert-success">
                            Password changed successfully.
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="passwordForm.error">
                    <div class="col-sm-offset-2 col-sm-2">
                        <div class="alert alert-danger">
                            {{passwordForm.error}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Token management -->
    <div ng-if="localUser._token" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">API tokens</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-info" ng-if="!tokens || tokens.length == 0">
                No API token has been generated yet.
            </div>
            <div>
                <form class="form-inline">
                    <input
                            class="form-control"
                            placeholder="Token name"
                            ng-model="token.name"
                            type="text"
                    />
                    <button class="btn btn-warning form-control"
                            ng-click="generateToken()"
                            title="Generates a new token"
                            ng-disabled="!token.name"
                    >
                        <i class="fa fa-cog"></i>
                        Generate token
                    </button>
                </form>
            </div>
            <table class="table table-hover table-bordered" style="margin-top: 1em;"
                   ng-if="tokens && tokens.length > 0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Scope</th>
                    <th>Creation</th>
                    <th>Valid until</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="token in tokens">
                    <td>
                        {{ token.name }}
                    </td>
                    <td>
                        {{ token.scope }}
                    </td>
                    <td>
                        {{ token.creation | date:'fullDate'}}
                        {{ token.creation | date:'mediumTime'}}
                        <form class="form-inline" ng-if="token.value">
                            <input
                                    class="form-control ot-user-profile-token-value"
                                    ng-model="token.value"
                                    type="text"
                                    readonly
                                    style="width: 32em;"
                            />
                            <button class="btn btn-default ot-user-profile-token-copy"
                                    title="Copy API token"
                                    ng-click="copyToken(token)"
                            >
                                <i class="fa fa-copy"></i>
                            </button>
                            <span class="ot-user-profile-token-copied" ng-show="token.copied">
                                <span class="fa fa-check text-success"/>
                                Copied
                            </span>
                        </form>
                        <p class="text-danger" ng-if="token.value">
                            The token value is only shown now.
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static" ng-if="token.token.validUntil">
                            {{ token.token.validUntil | date:'fullDate'}}
                            {{ token.token.validUntil | date:'mediumTime'}}
                            <span ng-if="token.token.valid">
                                <span class="fa fa-check text-success"></span>
                                Valid
                            </span>
                            <span ng-if="!token.token.valid">
                                <span class="fa fa-times text-danger"></span>
                                Expired
                            </span>
                        </p>
                        <p class="form-control-static" ng-if="!token.token.validUntil">
                            <span class="fa fa-check text-success"></span>
                            <i>Does not expire</i>
                        </p>
                    </td>
                    <td>
                        <div class="input-group-btn">
                            <button class="btn btn-danger ot-user-profile-token-revoke"
                                    ng-click="revokeToken(token)"
                                    title="Revoke token">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</ot-view>