<ot-view>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <!-- TODO Factorises with validation stamp using a directive -->
                <div class="col-md-12 ot-entity-image">
                    <img ng-if="!validationStamp.image" src="assets/default_entity_image.png" class="ot-icon ot-entity-image-default" title="Default image"/>
                    <img ng-if="validationStamp.image" ng-src="{{validationStamp.imageLink.href}}" class="ot-icon"/>
                    <span ng-if="!validationStamp.image" class="ot-entity-image-default">No image</span>
                    <button type="button" class="btn btn-info btn-sm" ng-click="changeImage()">Change image</button>
                </div>
            </div>
        </div>
    </div>
</ot-view>