<ot-view>
    <div class="row">
        <div class="col-md-12">
            <ot-section-title>Promotions</ot-section-title>
            <span ng-repeat="promotionRun in promotionRunCollection.resources">
                <span class="ot-promotion-run">
                    <ot-entity-image entity="promotionRun" link="#/promotionLevel/{{promotionRun.promotionLevel.id}}">
                        {{promotionRun.promotionLevel.name}}
                    </ot-entity-image>
                    <span class="ot-promotion-run-signature">
                        {{promotionRun.signature.time | date:'mediumDate'}}
                        {{promotionRun.signature.time | date:'shortTime'}}
                    </span>
                </span>
                <span ng-if="!$last" class="ot-promotion-run-separator"></span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ot-section-title>Validations</ot-section-title>
            <div class="row">
                <div class="col-md-4">
                    <ot-subsection-title>Run &amp; passed</ot-subsection-title>
                    <p class="ot-description">List of validations that have run and passed.</p>
                    <div class="well">
                        <table class="ot-validation-runs">
                            <tr ng-repeat="validationRun in validationRunCollection.resources">
                                <td>
                                    <ot-entity-image entity="validationRun" link="#/validationStamp/{{validationRun.validationStamp.id}}">
                                        {{validationRun.validationStamp.name}}
                                    </ot-entity-image>
                                </td>
                                <td>
                                    <span ng-repeat="status in validationRun.validationRunStatuses">
                                        {{status.statusID.id}}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <ot-subsection-title>Run &amp; failed</ot-subsection-title>
                    <p class="ot-description">List of validations that have run and failed.</p>
                </div>
                <div class="col-md-4">
                    <ot-subsection-title>Not run</ot-subsection-title>
                    <p class="ot-description">List of validations that have not run.</p>
                </div>
            </div>
        </div>
    </div>
</ot-view>