<ot-view>
    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-info" ng-show="!searchDone">
                <span class="ot-loading-indicator"></span>
                Loading the search results...
            </div>

            <div class="alert alert-warning" ng-show="searchDone && results && !results.length">
                No result matches your search.
            </div>

            <div ng-show="searchDone && results">
                <dl ng-repeat="result in results" class="ot-search-result">
                    <dt>
                        <img class="ot-icon" src="extension/{{result.type.feature.id}}/search-icon/{{result.type.id}}.png" title="{{result.type.name}}"/>
                        <a href="{{result.page}}">{{result.title}}</a>
                    </dt>
                    <dd ng-bind-html="result.description">
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</ot-view>