<ot-view>

    <div class="row" ng-show="loadingBranch">
        <div class="col-md-12">
            <div class="alert alert-info">
                Loading the branch...
            </div>
        </div>
    </div>

    <div class="row" ng-if="branch">
        <div class="col-md-12 ot-view-title">
            <span id="ot-view-title">{{branch.name}}</span>
            <ot-entity-embedded-decorations decorations="branch.decorations"></ot-entity-embedded-decorations>
            <div ng-if="branch.description" class="ot-description" ng-bind-html="branch.description"></div>
        </div>
    </div>

    <table class="ot-branch-build-view" ng-if="builds">
        <thead>
        <td>
            <button ng-show="loadingBuilds" class="btn btn-default" disabled="disabled">
                <span class="ot-loading-indicator"></span>
                Loading builds...
            </button>
        </td>
        </thead>
        <tbody>
        <tr ng-repeat="build in builds">
            <td>
                <!-- Build name and link -->
                <a href="#/build/{{build.id}}" class="ot-branch-build-view-build-name">
                    {{build.name}}
                </a>
                <!-- Build decorations -->
                <span class="ot-decoration-list">
                    <ot-entity-embedded-decorations decorations="build.decorations"></ot-entity-embedded-decorations>
                </span>
                <!-- Signature, without the creator in the overview -->
                <div class="ot-branch-build-view-build-signature">
                    {{build.creation.time | date:'mediumDate'}}
                    {{build.creation.time | date:'shortTime'}}
                </div>
            </td>
        </tr>
        <tr ng-if="buildsPageInfo.nextPage">
            <td>
                <button type="button" class="ot-branch-build-view-more" title="Displays more builds." ng-click="loadMoreBuilds()">
                    More...
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>