<ot-view>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Provider</th>
            <th>Provided group</th>
            <th>Ontrack group</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <thead>
            <tr class="info">
                <td>
                    <select id="form-provider" class="form-control"
                            ng-options="item.source.id as item.source.name for item in sourceProviders"
                            ng-model="mappingForm.provider"
                    >
                        <option value=""></option>
                    </select>
                </td>
                <td>
                    <input id="form-mapping" class="form-control" ng-model="mappingForm.mapping" type="text" placeholder="Provided group">
                </td>
                <td>
                    <select id="form-group" class="form-control"
                            ng-options="group.id as group.name for group in groups"
                            ng-model="mappingForm.group"
                    >
                        <option value=""></option>
                    </select>
                </td>
                <td>
                    <button id="form-button" class="btn btn-primary" ng-click="createMapping()" title="Creates a new mapping">
                        <span class="fa fa-plus"></span>
                    </button>
                    <button id="form-clear" class="btn btn-default" ng-click="formClear()" title="Clears the mapping form">
                        <span class="fa fa-ban"></span>
                    </button>
                </td>
            </tr>
        </thead>
        <thead>
        <tr>
            <td>
                <select id="filter-provider" class="form-control"
                        ng-options="item.source.id as item.source.name for item in sourceProviders"
                        ng-model="filterMapping.provider"
                >
                    <option value="">All</option>
                </select>
            </td>
            <td>
                <input id="filter-mapping" class="form-control" ng-model="filterMapping.mapping" type="text" placeholder="Filter on provided group">
            </td>
            <td>
                <input id="filter-group" class="form-control" ng-model="filterMapping.group" type="text" placeholder="Filter on Ontrack group">
            </td>
            <td>
                <button id="filter-button" class="btn btn-default" ng-click="filterLaunch()" title="Filter">
                    <span class="fa fa-search"></span>
                </button>
                <button id="filter-clear" class="btn btn-default" ng-click="filterClear()" title="Clears the filter">
                    <span class="fa fa-ban"></span>
                </button>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mapping in mappings">
            <td>
                <span ng-if="mapping.provider.enabled" title="This mapping is active."><span class="fa fa-check text-success"></span> {{mapping.provider.source.name}}</span>
                <span ng-if="!mapping.provider.enabled" title="This mapping is inactive."><span class="fa times text-danger"></span> {{mapping.provider.source.name}}</span>
            </td>
            <td>{{mapping.name}}</td>
            <td>
                {{mapping.group.name}}
                <p class="ot-description">{{mapping.group.description}}</p>
            </td>
            <td>

            </td>
        </tr>
        </tbody>
    </table>

</ot-view>