<ot-view>

    <div class="row">
        <div class="col-md-12">
            <h3>
                Jobs
                <input class="form-control col-md-3 pull-right" type="text" ng-model="jobFilter" placeholder="Filter the jobs"/>
            </h3>

            <p class="ot-description">
                List of registered jobs and their status.
            </p>
            <table class="ot-admin-console-jobs" ng-if="jobs">
                <thead>
                <tr>
                    <td>ID</td>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Action</th>
                    <th>State</th>
                    <th>Schedule</th>
                    <th>Run count</th>
                    <th>Last duration</th>
                    <th>Last run</th>
                    <th>Next run</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="job in jobs.resources | filter:jobFilter" ng-class="{'success': job.running}">
                    <td>
                        {{job.id}}
                    </td>
                    <td>
                        {{job.descriptor.category}}
                    </td>
                    <td>
                        <p>
                            {{job.descriptor.description}}
                        </p>

                        <p class="ot-description" ng-if="job.info">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                            {{job.info.message}}
                        </p>
                    </td>
                    <td>
                        <span
                                ng-if="job._launch"
                                title="Launch {{job.descriptor.description}}"
                                ng-click="launchJob(job)"
                                class="glyphicon glyphicon-play ot-command"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-time text-success" ng-if="job.running"></span>
                        <span class="glyphicon glyphicon-ban-circle text-muted" ng-if="!job.running"></span>
                    </td>
                    <td>
                            <span ng-if="job.descriptor.interval == 0">
                                Manually
                            </span>
                            <span ng-if="job.descriptor.interval == 1">
                                Every minute
                            </span>
                            <span ng-if="job.descriptor.interval > 1">
                                Every {{job.descriptor.interval}} minutes
                            </span>
                    </td>
                    <td>
                        {{job.runCount}}
                    </td>
                    <td>
                        {{jobDuration(job.lastRunDurationMs)}}
                    </td>
                    <td>
                        {{job.lastRunDate | date:'shortDate'}}
                        {{job.lastRunDate | date:'shortTime'}}
                    </td>
                    <td>
                        {{job.nextRunDate | date:'shortDate'}}
                        {{job.nextRunDate | date:'shortTime'}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Log entries</h3>

            <p class="ot-description">
                List of application log messages.
            </p>
            <p ng-if="logs.resources.length == 0" class="ot-admin-console-log-ok">
                No log entry - everything is OK!
            </p>
            <table class="ot-admin-console-log" ng-if="logs.resources">
                <thead>
                <tr>
                    <th>Level</th>
                    <th>Timestamp</th>
                    <th>Source</th>
                    <th>Identifier</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="log in logs.resources" class="ot-application-log-{{log.level | lowercase}}">
                    <td>
                        {{log.level}}
                    </td>
                    <td>
                        {{log.timestamp | date:'fullDate'}}
                        {{log.timestamp | date:'mediumTime'}}
                    </td>
                    <td>
                        {{log.source}}
                    </td>
                    <td>
                        {{log.identifier}}
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs" ng-click="showLogDetails(log)">
                            Details...
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</ot-view>