<table class="ot-branch-build-view">
    <thead>
    <!-- Validation stamps -->
    <tr>
        <th colspan="2">
            <!-- Place holder for builds & promotions -->
        </th>
        <!-- All validation stamps -->
        <th ng-repeat="validationStamp in validationStamps" class="ot-branch-build-view-validation">
            <ot-entity-image entity="validationStamp" link="#/validationStamp/{{validationStamp.id}}"></ot-entity-image>
        </th>
    </tr>
    <!-- TODO Validation stamps decorations -->
    </thead>
    <tbody>
    <tr ng-repeat="buildView in view.buildViews">
        <td>
            <!-- Build name and link -->
            <a href="#/build/{{buildView.build.id}}" class="ot-branch-build-view-build-name">
                {{buildView.build.name}}
                <!-- TODO Build decorations -->
            </a>
            <!-- Signature, without the creator in the overview -->
            <div class="ot-branch-build-view-build-signature">
                {{buildView.build.signature.time | date:'mediumDate'}}
                {{buildView.build.signature.time | date:'shortTime'}}
            </div>
        </td>
        <!-- Promotion runs -->
        <td>
            <span ng-repeat="promotionRun in buildView.promotionRuns">
                <span class="ot-promotion-run">
                    <ot-entity-image entity="promotionRun.promotionLevel" link="#/promotionLevel/{{promotionRun.promotionLevel.id}}">
                        {{promotionRun.promotionLevel.name}}
                    </ot-entity-image>
                    <span class="ot-promotion-run-signature">
                        {{promotionRun.signature.time | date:'shortDate'}}
                    </span>
                </span>
                <span ng-if="!$last" class="ot-promotion-run-separator"></span>
            </span>
        </td>
        <!-- Validation runs -->
        <td ng-repeat="validationStampRunView in buildView.validationStampRunViews" class="ot-branch-build-view-validation">
            <!-- Not run -->
            <span ng-if="!validationStampRunView.run"><ot-validation-run-status-none></ot-validation-run-status-none></span>
            <!-- Last status -->
            <span ng-if="validationStampRunView.run">
                <span class="ot-action" ng-click="displayValidationRuns(buildView, validationStampRunView)">
                    <ot-validation-run-status status="validationStampRunView.lastStatus"></ot-validation-run-status>
                </span>
            </span>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <!-- TODO Filter command -->
    <!-- TODO Build diff extension commands -->
    </tfoot>
</table>