<ot-view>
    {{projectsData}}
    <div class="row" ng-show="loadingProjects">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the list of projects...
            </div>
        </div>
    </div>
    <div class="row" ng-show="accessStatus == 'login-failed'">
        <div class="col-md-12">
            <div class="alert alert-danger">
                The login has failed. You can <a href ng-click="login()">try again</a>.
            </div>
        </div>
    </div>
    <div class="row" ng-show="accessStatus == 'unauthorised'">
        <div class="col-md-12">
            <div class="alert alert-danger">
                The resource you tried to access has not been granted. You can <a href ng-click="logout()">logout</a>
                and contact the administrator.
            </div>
        </div>
    </div>
    <div class="row" ng-show="accessStatus == 'login-requested'">
        <div class="col-md-12">
            <div class="alert alert-warning">
                Login is required.
            </div>
        </div>
    </div>
    <div class="row" ng-if="projectStatusViews">
        <div class="col-md-12">
            <h4>
                <span class="fa fa-star"></span>
                Favourites
            </h4>
            <table class="ot-home-projects">
                <tbody>
                <tr ng-repeat="projectStatusView in projectStatusViews"
                    ng-show="showDisabled || (!projectStatusView.project.disabled && !projectStatusView.allBranchesDisabled)">
                    <td ng-class="{'ot-entity-disabled': projectStatusView.project.disabled}">
                        <span
                                class="fa fa-star ot-command"
                                title="Unsets as favourite"
                                ng-if="projectStatusView.project._unfavourite"
                                ng-click="projectUnfavourite(projectStatusView.project)"
                        ></span>
                        <a href="#/project/{{projectStatusView.project.id}}">
                            {{projectStatusView.project.name}}
                        </a>
                        <ot-entity-embedded-decorations decorations="projectStatusView.decorations"></ot-entity-embedded-decorations>
                    </td>
                    <td>
                        <div class="ot-home-branch" ng-if="projectStatusView.branchStatusViews.length == 0">
                            <span class="ot-description">
                                <span class="fa fa-ban" title="No branch on this project"></span>
                                No branch
                            </span>
                        </div>
                        <div class="ot-home-branch"
                             ng-repeat="branchStatusView in projectStatusView.branchStatusViews"
                             ng-show="showDisabled || !(branchStatusView.branch.disabled || branchStatusView.branch.type == 'TEMPLATE_DEFINITION')">
                            <span class="ot-home-branch-name ot-decoration-list"
                                  ng-class="{'ot-entity-disabled': branchStatusView.branch.disabled}">
                                <a href="#/branch/{{branchStatusView.branch.id}}">{{branchStatusView.branch.name}}</a>
                                <ot-entity-embedded-decorations decorations="branchStatusView.decorations"></ot-entity-embedded-decorations>
                            </span>
                            <span ng-if="branchStatusView.lastPromotionView" class="ot-home-branch-promotion">
                                <a href="#/promotionLevel/{{branchStatusView.lastPromotionView.promotionLevel.id}}">
                                    <ot-entity-image entity="branchStatusView.lastPromotionView.promotionLevel"></ot-entity-image>
                                    {{branchStatusView.lastPromotionView.promotionLevel.name}}
                                </a>
                                <span class="fa fa-arrow-right"></span>
                                <a href="#/build/{{branchStatusView.lastPromotionView.promotionRun.build.id}}">{{branchStatusView.lastPromotionView.promotionRun.build.name}}</a>
                            </span>
                            <span ng-if="!branchStatusView.lastPromotionView && branchStatusView.latestBuild" class="ot-home-branch-promotion">
                                <span class="ot-description">Latest</span>
                                <span class="fa fa-arrow-right"></span>
                                <a href="#/build/{{branchStatusView.latestBuild.id}}">{{branchStatusView.latestBuild.name}}</a>
                            </span>
                            <span ng-if="!branchStatusView.lastPromotionView && !branchStatusView.latestBuild" class="ot-home-branch-promotion">
                                <span class="fa fa-ban"></span>
                                <span class="ot-description">
                                    No build yet
                                </span>
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- When no project -->
    <div class="row" ng-show="accessStatus == 'ok' && projectsData.projects.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                No project in the list.
                <span ng-if="projectsData._create">
                    Create a new project by using this
                    <a href ng-click="createProject()">link</a>.
                </span>
            </div>
        </div>
    </div>
    <!-- List of projects -->
    <div class="row" ng-if="projectsData.projects.length > 0">
        <div class="col-md-12">
            <div class="row" ng-show="projectStatusViews.length">
                <div class="col-md-12">
                    <h4>
                        <span class="fa fa-book"></span>
                        All projects
                    </h4>
                </div>
            </div>
            <!-- Name filter -->
            <div class="row" ng-if="projectsData.projects.length > 10">
                <div class="col-md-12 ot-home-header">
                    <div class="ot-home-filter input-group col-md-4">
                        <input class="form-control"
                               type="text"
                               ng-model="projectFilter.name"
                               placeholder="Filter on project names"/>
                        <span class="input-group-addon"><span class="fa fa-search"></span></span>
                    </div>
                </div>
            </div>
            <!-- List of projects -->
            <div class="row">
                <div class="col-md-3"
                     ng-repeat="project in projectsData.projects | filter:{name: projectFilter.name}"
                     ng-show="showDisabled || !project.disabled">
                    <div class="ot-home-project"
                         ng-class="{'ot-entity-disabled': project.disabled}">
                        <span
                                class="fa fa-star-o ot-command"
                                title="Sets as favourite"
                                ng-if="project.links._favourite"
                                ng-click="projectFavourite(project)"
                        ></span>
                        <span
                                class="fa fa-star ot-action"
                                style="color: yellow;"
                                title="Unsets as favourite"
                                ng-if="project.links._unfavourite"
                                ng-click="projectUnfavourite(project)"
                        ></span>
                        <a href="#/project/{{project.id}}">
                            {{project.name}}
                        </a>
                        <ot-entity-decorations entity="project"></ot-entity-decorations>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ot-view>