target
.idea
*.iml
.project
.classpath
.settings
work
.DS_Store
build
.gradle
/*.txt
*.pid
/*-tests.xml
/version.properties
/release.sh
/release
/extensions
/LOG_FILE_IS_UNDEFINED*
/publication
/migration
out/
/delivery

# Extension web files
ontrack-extension-*/package*.json
ontrack-extension-*/gulpfile.js
ontrack-extension-*/node_modules
