target
.idea
*.iml
.project
.classpath
.settings
work
.DS_Store
build
.gradle
/*.txt
*.pid
/*-tests.xml
/version.properties
/release.sh
/release
/ontrack-dsl-*
/extensions
/LOG_FILE_IS_UNDEFINED*
/publication
