<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="ontrack" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">
    <title>ontrack</title>

    <!-- Logo -->
    <link rel="icon" type="image/png" href="assets/logo-64.png">

    <!-- CSS includes -->
    <!-- include: "type": "css", "files": "**/*.css" -->

    <!-- JS includes -->
    <!-- TODO Preserve the order of sources -->
    <!-- include: "type": "js", "files": "vendor/jquery/dist/*.js" -->
    <!-- include: "type": "js", "files": "vendor/angular/*.js" -->
    <!-- include: "type": "js", "files": "vendor/angular-ui-router/release/*.js" -->
    <!-- include: "type": "js", "files": "vendor/angular-sanitize/*.js" -->
    <!-- include: "type": "js", "files": "vendor/angular-bootstrap/*.js" -->
    <!-- include: "type": "js", "files": "app/**/*.js" -->
    <!-- include: "type": "js", "files": "assets/**/*.js" -->

</head>
<body>

<div>

    <!-- Header and menu -->

    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <img class="ot-logo" src="assets/logo-128.png"/>
                ontrack
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- User menu: not logged -->
                <li class="dropdown" ng-show="!logged()">
                    <!-- Login link -->
                    <a href="#" ng-click="login()">Sign in</a>
                </li>
                <!-- User menu: logged -->
                <li class="dropdown" ng-show="logged()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{user.name}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- Logout -->
                        <li>
                            <a id="user-logout" ng-click="logout()">Sign out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Notification section -->

    <div class="container" ng-if="hasNotification()">
        <div class="ot-notification-{{notificationType()}}">
            <button type="button" class="close" ng-click="closeNotification()">&times;</button>
            <span>{{notificationContent()}}</span>
        </div>
    </div>

    <!-- View container -->

    <div id="ontrack-view" ui-view>
    </div>

</div>

</body>
</html>
