<table class="table table-hover table-condensed" ng-if="info.data.projectRoles.length > 0">
    <thead>
    <tr>
        <th>Role</th>
        <th>Members</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="projectRole in info.data.projectRoles">
        <td>
            <span title="{{projectRole.role.description}}">{{projectRole.role.name}}</span>
        </td>
        <td>
            <span ng-repeat="target in projectRole.targets">
                <img ng-src="assets/permission-target-{{target.type}}.png"/>&nbsp;<span>{{target.name}}</span>
                &nbsp;
            </span>
        </td>
    </tr>
    </tbody>
</table>
<div class="panel-body" ng-if="info.data.projectRoles.length == 0">
    <div class="alert">
        <div class="alert-info">
            <span class="fa fa-info-circle"></span>
            No ACL is specified at project level.
        </div>
    </div>
</div>