<form class="form-inline" ng-submit="submitQuickPattern()">
    <button class="btn btn-default btn-sm" type="button" ng-click="unselectPattern()"><span class="fa fa-ban" title="Displays all files"></span></button>
    <div class="input-group input-group-sm col-md-4">
        <input class="form-control" type="text" ng-model="quickPattern" placeholder="ANT-like pattern" />
        <span class="input-group-addon ot-action" ng-click="submitQuickPattern()"><span class="fa fa-filter" title="Use this pattern to filter on file paths."></span></span>
    </div>
    <button class="btn btn-default btn-sm" type="button" ng-disabled="!quickPattern" ng-click="saveQuickFilter()"><span class="fa fa-save" title="Saves the quick pattern"></span></button>
    <div class="input-group input-group-sm col-md-2">
        <select class="form-control"
                ng-model="selectedFilter"
                ng-options="filter as filterDisplayName(filter) for filter in filters">
            <option value=""></option>
        </select>
    </div>
</form>