<ot-view>

    <div class="row" ng-hide="changeLog">
        <div class="col-md-12 alert alert-warning">
            <ot-loading>The change log is loading. This may take some time...</ot-loading>
        </div>
    </div>

    <div class="row" ng-show="changeLog">
        <div class="col-md-12">

            <!-- Main content -->
            <div class="row">
                <div class="col-md-12 ot-header-commands">
                    <button class="btn btn-default" ng-click="changeLogCommits()" ng-disabled="commitsLoading">
                        <ot-loading ng-if="commitsLoading"></ot-loading>
                        <span class="ot-header-command-unloaded" ng-hide="commits || commitsLoading"></span>
                        {{commitsCommand}}
                    </button>
                    <button ng-if="changeLog.hasIssues" class="btn btn-default" ng-click="changeLogIssues()" ng-disabled="issuesLoading">
                        <ot-loading ng-if="issuesLoading"></ot-loading>
                        <span class="ot-header-command-unloaded" ng-hide="issues || issuesLoading"></span>
                        {{issuesCommand}}
                    </button>
                    <button class="btn btn-default" ng-click="changeLogFiles()" ng-disabled="filesLoading">
                        <span class="ot-header-command-unloaded" ng-hide="files"></span>
                        {{filesCommand}}
                    </button>
                    <b class="text-danger" ng-if="changeLog.syncError">
                        <span class="fa fa-warning"></span>
                        The Git repository could not be synchronised - this may result in inaccurate results.
                    </b>
                </div>
            </div>

            <!-- Build info -->

            <div class="row" ng-if="changeLog">
                <div class="col-md-6" ng-repeat="build in [changeLog.buildFrom, changeLog.buildTo]">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Build
                            <a href="{{ build.branch.links._page }}">{{build.branch.name}}</a>
                            /
                            <a href="{{ build.links._page }}">{{build.name}}</a>
                            <ot-entity-embedded-decorations decorations="build.decorations"></ot-entity-embedded-decorations>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3><small>Promotions</small></h3>
                                    <ot-build-promotion-runs promotion-runs="build.promotionRuns"></ot-build-promotion-runs>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3><small>Validation runs</small></h3>
                                    <span ng-repeat="validation in build.validations"
                                          class="ot-view-validation-stamp-run-view"
                                          ng-class="{
                                            'ot-view-validation-stamp-run-view-norun': !validation.validationRuns.length
                                          }">
                                        <ot-entity-image entity="validation.validationStamp"
                                                         link="{{ validation.validationStamp.links._page }}">
                                            {{validation.validationStamp.name}}
                                        </ot-entity-image>
                                        <span ng-repeat="validationRun in validation.validationRuns"
                                              class="ot-validation-run-status-horizontal">
                                            <a href="{{ validationRun.links._page }}">
                                                <ot-validation-run-status status="validationRun.validationRunStatuses[0]"></ot-validation-run-status>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>
                                        <small>Build info</small>
                                    </h3>
                                    <ul class="fa-ul">
                                        <li>
                                            <span class="fa fa-li fa-clock-o"></span>
                                            {{ build.creation.time | date:'mediumDate' }}
                                            {{ build.creation.time | date:'shortTime' }}
                                        </li>
                                        <li>
                                            <span class="fa fa-li fa-user"></span>
                                            {{ build.creation.user }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Commits sections -->
            <div class="row">
                <div class="col-md-12">
                    <a id="commits"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Commits
                            <div class="pull-right">
                                <!-- TODO Issues available? -->
                                <a class="btn btn-default btn-xs" ng-if="changeLog._issues" ng-click="changeLogIssues()"
                                   ng-disabled="issuesLoading">
                                    <ot-loading ng-if="issuesLoading"></ot-loading>
                                    <span class="ot-header-command-unloaded" ng-hide="issues || issuesLoading"></span>
                                    {{issuesCommand}}
                                </a>
                                <a class="btn btn-default btn-xs" ng-click="changeLogFiles()"
                                   ng-disabled="filesLoading">
                                    <ot-loading ng-if="filesLoading"></ot-loading>
                                    <span class="ot-header-command-unloaded" ng-hide="files || filesLoading"></span>
                                    {{filesCommand}}
                                </a>
                            </div>
                        </div>
                        <div class="panel-body" ng-hide="commits">
                            <div class="alert alert-warning" ng-hide="commits || commitsLoading">
                                No commit has been loaded yet. Click
                                <a ng-click="changeLogCommits()" class="ot-action">here</a>
                                to load them.
                            </div>
                            <div class="ot-description" ng-show="commitsLoading">
                                <ot-loading>Commits are loading...</ot-loading>
                            </div>
                        </div>
                        <div class="panel-body ot-panel-padded" ng-if="commits">
                            <div class="pull-left">
                                <canvas git-plot="commitsPlot"></canvas>
                            </div>
                            <div class="ot-graph-line"
                                 ng-repeat="gitUICommit in commits">
                                <span class="ot-graph-code" ng-if="!gitUICommit.link">{{gitUICommit.shortId}}</span>
                                <span class="ot-graph-code" ng-if="gitUICommit.link"><a href="{{gitUICommit.link}}" target="_blank">{{gitUICommit.shortId}}</a></span>
                                <span class="ot-graph-message" ng-bind-html="gitUICommit.annotatedMessage"></span>
                                <span class="ot-graph-label">
                                    {{gitUICommit.author}}
                                </span>
                                <span class="ot-graph-label">
                                    {{gitUICommit.timestamp | date:'mediumDate'}}
                                    {{gitUICommit.timestamp | date:'shortTime'}}
                                </span>
                                <!-- TODO Build decoration -->
<!--                                <span-->
<!--                                        ng-if="gitUICommit.build"-->
<!--                                        class="ot-change-log-commit-build">-->
<!--                                    <a href="{{gitUICommit.build._page}}">{{gitUICommit.build.name}}</a>-->
<!--                                </span>-->
                                <!-- TODO Promotions decoration -->
<!--                                <span-->
<!--                                        class="ot-change-log-commit-promotions"-->
<!--                                        ng-if="gitUICommit.promotions && gitUICommit.promotions.length > 0">-->
<!--                                    <span-->
<!--                                            ng-repeat="promotion in gitUICommit.promotions"-->
<!--                                            class="ot-change-log-commit-promotion">-->
<!--                                        <ot-entity-image entity="promotion.promotionLevel"></ot-entity-image>-->
<!--                                    </span>-->
<!--                                </span>-->
                                <!-- TODO Dependency links decoration -->
<!--                                <span class="ot-change-log-commit-dependencies"-->
<!--                                      ng-if="gitUICommit.dependencies && gitUICommit.dependencies.length > 0">-->
<!--                                    <span ng-repeat="dependency in gitUICommit.dependencies" class="ot-change-log-commit-dependency">-->
<!--                                        <span class="fa fa-link"></span>-->
<!--                                        <span class="ot-change-log-commit-dependency-build-name">-->
<!--                                            {{ dependency.name }}-->
<!--                                            @-->
<!--                                            {{ dependency.branch.project.name }}-->
<!--                                        </span>-->
<!--                                    </span>-->
<!--                                </span>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Issue sections -->
            <div class="row" ng-if="changeLog.hasIssues">
                <div class="col-md-12">
                    <a id="issues"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Issues
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" ng-click="changeLogCommits()" ng-disabled="commitsLoading">
                                    <ot-loading ng-if="commitsLoading"></ot-loading>
                                    <span class="ot-header-command-unloaded" ng-hide="commits || commitsLoading"></span>
                                    {{commitsCommand}}
                                </a>
                                <a class="btn btn-default btn-xs" ng-click="changeLogFiles()" ng-disabled="filesLoading">
                                    <ot-loading ng-if="filesLoading"></ot-loading>
                                    <span class="ot-header-command-unloaded" ng-hide="files || filesLoading"></span>
                                    {{filesCommand}}
                                </a>
                                <a class="btn btn-default btn-xs" ng-click="changeLogExport()">
                                    <span class="fa fa-file-text-o"></span>
                                    Export
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-warning" ng-hide="issues || issuesLoading">
                                No issue has been loaded yet. Click
                                <a ng-click="changeLogIssues()" class="ot-action">here</a>
                                to load them.
                            </div>
                            <div class="ot-description" ng-show="issuesLoading">
                                <ot-loading>Issues are loading...</ot-loading>
                            </div>
                            <div ng-if="issues && issues.issueServiceConfiguration.serviceId">
                                <ot-include value="issues" template="extension/{{issues.issueServiceConfiguration.serviceId}}/changelog.issues.tpl.html"></ot-include>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Files sections -->
            <div class="row">
                <div class="col-md-12">
                    <a id="files"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            File changes
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" ng-click="changeLogCommits()" ng-disabled="commitsLoading">
                                    <ot-loading ng-if="commitsLoading"></ot-loading>
                                    <span class="ot-header-command-unloaded" ng-hide="commits || commitsLoading"></span>
                                    {{commitsCommand}}
                                </a>
                                <a class="btn btn-default btn-xs" ng-if="changeLog.hasIssues" ng-click="changeLogIssues()" ng-disabled="issuesLoading">
                                    <ot-loading ng-if="issuesLoading"></ot-loading>
                                    <span class="ot-header-command-unloaded" ng-hide="issues || issuesLoading"></span>
                                    {{issuesCommand}}
                                </a>
                            </div>
                        </div>
                        <div class="panel-body" ng-hide="files || filesLoading">
                            <div class="alert alert-warning">
                                No file change has been loaded yet. Click
                                <a ng-click="changeLogFiles()" class="ot-action">here</a>
                                to load them.
                            </div>
                        </div>
                        <div class="panel-body ot-description" ng-show="filesLoading">
                            <ot-loading>File changes are loading...</ot-loading>
                        </div>
                        <div class="panel-body ot-panel-padded" ng-show="files">
                            <ot-extension-git-changelog-file-filters project-id="changeLog.project.id" context="fileChangeContext">
                                <button class="btn btn-default btn-sm" type="button"
                                        ng-disabled="diffComputing"
                                        ng-click="diffFileFilter()">
                                    <span class="fa fa-download" title="Exports the changes as diff" ng-hide="diffComputing"></span>
                                    <span class="fa fa-spinner fa-spin" ng-show="diffComputing"></span>
                                    Diff
                                </button>
                            </ot-extension-git-changelog-file-filters>
                        </div>
                        <div class="panel-body ot-panel-padded" ng-show="files">
                            <div class="ot-line-no-overflow ot-line-hover ot-line-border"
                                 ng-repeat="changeLogFile in files.list | filter:fileChangeContext.filterFunction">
                                <span class="ot-label-change ot-label-change-{{changeLogFile.changeType | lowercase}}">
                                    <span class="ot-label-change-icon" title="{{changeLogFile.changeType | lowercase}}"></span>
                                </span>
                                <a ng-if="changeLogFile.url" href="{{changeLogFile.url}}">{{changeLogFile.oldPath}}</a>
                                <span ng-if="!changeLogFile.url">{{changeLogFile.oldPath}}</span>
                                <span ng-if="changeLogFile.newPath">
                                    <span class="fa fa-arrow-right"></span>
                                    {{changeLogFile.newPath}}
                                </span>
                                <span ng-hide="changeLogFile.diffComputing || diffComputing" class="fa fa-download ot-command" title="Shows diff" ng-click="showFileDiff(changeLogFile)"></span>
                                <span ng-show="changeLogFile.diffComputing" class="fa fa-spin fa-spinner ot-command" title="Diff is loading..."></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End of sections -->

        </div>
    </div>

</ot-view>