<ot-view>

    <div class="row" ng-hide="gitIssueInfo">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                The issue information is loading. This may take some time..
            </div>
        </div>
    </div>

    <div class="row" ng-if="gitIssueInfo">
        <div class="col-md-12">

            <!-- Issue -->

            <div class="panel panel-info">
                <div class="panel-heading">
                    <a href="{{gitIssueInfo.issue.url}}">
                        {{gitIssueInfo.issue.displayKey}}
                    </a>
                    -
                    {{gitIssueInfo.issue.summary}}
                </div>
                <div class="panel-body">
                    <ot-include value="gitIssueInfo.issue"
                                template="extension/{{gitIssueInfo.issueServiceConfigurationRepresentation.serviceId}}/issue.tpl.html">
                    </ot-include>
                </div>
            </div>

            <!-- Commit info -->
            <ot-extension-git-commit-info ng-if="gitIssueInfo.commitInfo" git-commit-info="gitIssueInfo.commitInfo"></ot-extension-git-commit-info>

        </div>
    </div>

</ot-view>