<ot-view>

    <div class="row" ng-hide="gitCommitInfo">
        <div class="col-md-12 alert alert-warning">
            The commit information is loading. This may take some time...
        </div>
    </div>

    <div class="row" ng-if="gitCommitInfo">
        <div class="col-md-12">

            <!-- Summary for the commit -->
            <ot-extension-git-commit-summary ui-commit="gitCommitInfo.uiCommit" title="true"></ot-extension-git-commit-summary>

            <!-- Graph of branch infos -->
            <div class="row" ng-if="gitCommitInfo.firstBuild">
                <div class="col-md-12">
                    <svg style="vertical-align:center;display: inline;" width="20px" height="20px">
                        <circle cx="10px" cy="15px" r="5px" fill="gray" />
                    </svg>
                    <b>First build</b>
                    <a href="{{gitCommitInfo.firstBuild.links._page}}">{{gitCommitInfo.firstBuild.name}}</a>
                    <ot-entity-embedded-decorations decorations="gitCommitInfo.firstBuild.decorations"></ot-entity-embedded-decorations>
                    on branch
                    <a href="{{gitCommitInfo.firstBuild.branch.links._page}}">{{gitCommitInfo.firstBuild.branch.name}}</a>
                    <span class="ot-description">
                        --
                        {{gitCommitInfo.firstBuild.creation.time | date:'mediumDate'}}
                        {{gitCommitInfo.firstBuild.creation.time | date:'shortTime'}}
                    </span>
                </div>
            </div>

        </div>
    </div>

</ot-view>