<ot-view>

    <div class="row" ng-show="loadingProviders">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the providers...
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Issuer</th>
            <th>Client ID</th>
            <th>Client Secret</th>
            <th>Group filter</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="resources.resources.length == 0" class="info">
            <td colspan="9">
                No OIDC provider has been registered yet.
                Click <a class="ot-action" ng-click="createProvider()">here</a> to create one.
            </td>
        </tr>
        <tr ng-repeat="provider in resources.resources">
            <td><code>{{provider.id}}</code></td>
            <td>{{provider.name}}</td>
            <td>
                <img ng-if="provider._image" class="ot-icon" ng-src="{{provider._image}}" alt="Image for {{provider.name}}">
            </td>
            <td>{{provider.description}}</td>
            <td>{{provider.issuerId}}</td>
            <td>{{provider.clientId}}</td>
            <td>****</td>
            <td>
                <code>{{provider.groupFilter}}</code>
            </td>
            <td>
                <span
                        class="fa fa-image ot-command"
                        ng-click="providerImage(provider)"
                        title="Edits the image for the OIDC provider"></span>
                <span class="fa fa-pencil ot-command" title="Edits this OIDC provider" ng-if="provider._update" ng-click="updateProvider(provider)"></span>
                <span class="fa fa-trash ot-command" title="Remove this OIDC provider" ng-if="provider._delete" ng-click="deleteProvider(provider)"></span>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>