<ot-view>

    <!-- Form to filter the messages -->
    <div class="well">
        <form class="form-horizontal" ng-submit="onFilter()">
            <!-- TODO State -->
            <div class="form-group">
                <!-- ID -->
                <label for="filterId" class="col-sm-1 control-label">ID</label>
                <input class="form-control col-sm-4"
                       id="filterId"
                       type="text"
                       ng-model="filter.id"/>
                <label for="filterProcessor" class="col-sm-1 control-label">Processor</label>
                <input class="form-control col-sm-4"
                       id="filterProcessor"
                       type="text"
                       ng-model="filter.processor"/>
                <!-- Processor -->
            </div>
            <!-- TODO Free text -->
            <!-- TODO Routing key -->
            <!-- TODO Queue name -->
            <!-- Buttons -->
            <div class="form-group">
                <label class="col-sm-1 control-label"></label>
                <button type="submit" class="btn btn-primary" ng-disabled="loading" id="filterSearch">
                    <i class="fa fa-search"></i>
                    Search
                </button>
                <button type="button" class="btn btn-link" ng-click="onClear()" ng-disabled="loading" id="filterClear">
                    <i class="fa fa-ban"></i>
                    Clear
                </button>
            </div>
        </form>
    </div>

    <!-- Loading indicator -->
    <div class="row" ng-show="loading">
        <div class="col-span-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the messages...
            </div>
        </div>
    </div>

    <!-- No queue message found -->
    <div class="row" ng-show="messages.length == 0 && !loading">
        <div class="col-span-12">
            <div class="alert alert-info">
                No queue message was found.
            </div>
        </div>
    </div>

    <!-- List of messages -->
    <table class="table" ng-show="messages.length > 0 && !loading">
        <thead>
        <tr>
            <th>ID</th>
            <th>Processor</th>
            <th>Start time</th>
            <th>State</th>
            <th>End time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="message in messages">
            <td>
                <code>{{ message.queuePayload.id }}</code>
            </td>
            <td>
                <code>{{ message.queuePayload.processor }}</code>
            </td>
            <td>
                {{ message.startTime | date:'shortDate' }}
                {{ message.startTime | date:'mediumTime' }}
            </td>
            <td>
                <code>{{ message.state }}</code>
            </td>
            <td>
                {{ message.endTime | date:'shortDate' }}
                {{ message.endTime | date:'mediumTime' }}
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>