<ot-view>

    <!-- Form to filter the messages -->
    <div class="well">
        <form class="form-horizontal" ng-submit="onFilter()">
            <div class="form-group">
                <!-- ID -->
                <label for="filterId" class="col-sm-1 control-label">ID</label>
                <input class="form-control col-sm-4"
                       id="filterId"
                       type="text"
                       ng-model="filter.id"/>
                <!-- Processor -->
                <label for="filterProcessor" class="col-sm-1 control-label">Processor</label>
                <select class="form-control col-sm-2"
                        ng-if="processors"
                        id="filterProcessor"
                        ng-options="processor for processor in processors"
                        ng-model="filter.processor">
                    <option value="">Any</option>
                </select>
                <!-- State -->
                <label for="filterState" class="col-sm-1 control-label">State</label>
                <select class="form-control col-sm-2"
                        ng-if="states"
                        id="filterState"
                        ng-options="state for state in states"
                        ng-model="filter.state">
                    <option value="">Any</option>
                </select>
            </div>
            <!-- TODO Free text -->
            <!-- TODO Routing key -->
            <!-- TODO Queue name -->
            <!-- Buttons -->
            <div class="form-group">
                <label class="col-sm-1 control-label"></label>
                <button type="submit" class="btn btn-primary" ng-disabled="loading" id="filterSearch">
                    <i class="fa fa-search"></i>
                    Search
                </button>
                <button type="button" class="btn btn-link" ng-click="onClear()" ng-disabled="loading" id="filterClear">
                    <i class="fa fa-ban"></i>
                    Clear
                </button>
            </div>
        </form>
    </div>

    <!-- Loading indicator -->
    <div class="row" ng-show="loading">
        <div class="col-span-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the messages...
            </div>
        </div>
    </div>

    <!-- No queue message found -->
    <div class="row" ng-show="messages.length == 0 && !loading">
        <div class="col-span-12">
            <div class="alert alert-info">
                No queue message was found.
            </div>
        </div>
    </div>

    <!-- List of messages -->
    <table class="table" ng-show="messages.length > 0 && !loading">
        <thead>
        <tr>
            <th>ID</th>
            <th>Processor</th>
            <th>Start time</th>
            <th>State</th>
            <th>End time</th>
        </tr>
        </thead>
        <tbody ng-repeat-start="message in messages">
        <tr>
            <td>
                <code class="ot-action" ng-click="toggleMessage(message)"
                      title="Click to show/hide the details of this message">{{ message.queuePayload.id }}</code>
            </td>
            <td>
                <code>{{ message.queuePayload.processor }}</code>
            </td>
            <td>
                {{ message.startTime | date:'shortDate' }}
                {{ message.startTime | date:'mediumTime' }}
            </td>
            <td>
                <code>{{ message.state }}</code>
            </td>
            <td>
                {{ message.endTime | date:'shortDate' }}
                {{ message.endTime | date:'mediumTime' }}
            </td>
        </tr>
        </tbody>
        <tbody ng-repeat-end ng-show="message.details">
        <tr>
            <td colspan="5">
                <form class="form-horizontal col-md-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Routing</label>
                        <div class="col-sm-3">
                            <p class="form-control-static"><code>{{ message.routingKey }}</code></p>
                        </div>
                        <label class="col-sm-1 control-label">Queue</label>
                        <div class="col-sm-3">
                            <p class="form-control-static"><code>{{ message.queueName }}</code></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Queue payload</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" readonly rows="3">{{ message.queuePayload.body }}</textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="message.actualPayload">
                        <label class="col-sm-1 control-label">Actual payload</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" readonly rows="3">{{ message.actualPayload }}</textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="message.exception">
                        <label class="col-sm-1 control-label">Error</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" readonly rows="9">{{ message.exception }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">History</label>
                        <div class="col-sm-11">
                            <table class="table table-condensed table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>State</th>
                                    <th>Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in message.history">
                                    <td>
                                        <code>{{ item.state }}</code>
                                    </td>
                                    <td>
                                        {{ item.time | date:'shortDate' }}
                                        {{ item.time | date:'mediumTime' }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>