<div class="modal-header">
    <h3>
        Template definition
        <span class="fa fa-question-circle text-info ot-action" ng-click="help = !help" title="Displays help."></span>
    </h3>
</div>
<form name="thisForm" class="form-horizontal" ng-submit="submit(thisForm.$valid)" novalidate="novalidate">
    <div class="modal-body">

        {{data}}

        <h2><small>Parameters</small></h2>

        <div class="form-group" ng-repeat="parameter in data.parameters">
            <div class="col-md-4">
                <input type="text" placeholder="Name" required="required" ng-model="parameter.name" class="form-control"/>
            </div>
            <div class="col-md-7">
                <input type="text" placeholder="Description" ng-model="parameter.description" class="form-control"/>
            </div>
            <div class="col-md-1">
                <span class="ot-command ot-command-delete" title="Removes parameter" ng-click="removeParameter(parameter)"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button title="Add entry" class="btn btn-default btn-xs" type="button" ng-click="addParameter()">
                    <span class="ot-command ot-command-new"></span>
                    Add parameter
                </button>
            </div>
        </div>

        <h2><small>Synchronisation</small></h2>

    </div>
    <div class="modal-footer">

        <div class="ot-alert-{{message.type}} alert-dismissable" ng-show="message">
            <span>{{message.content}}</span>
        </div>

        <button class="btn btn-primary" type="submit" ng-disabled="thisForm.$invalid">OK</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>