<div class="modal-header">
    <h3>{{config.formConfig.title}}</h3>
</div>
<form name="thisForm" class="form-horizontal" ng-submit="submit(thisForm.$valid)" novalidate="novalidate">
    <div class="modal-body">

        <div ng-repeat="field in config.form.fields" class="form-group" ng-class="{ 'has-error' : thisForm[field.name].$invalid && !thisForm[field.name].$pristine }">
            <label class="control-label col-md-3">{{field.label}}</label>
            <div class="col-md-9">

                <!-- Type: text -->
                <input ng-if="field.type == 'text'" ng-model="data[field.name]" name="{{field.name}}" maxlength="{{field.maxlength}}" type="text" class="form-control" ng-required="field.required" ng-pattern="field.pattern" />

                <!-- Type: memo -->
                <textarea ng-if="field.type == 'memo'" ng-model="data[field.name]" class="form-control" rows="{{field.rows}}" ng-required="field.required" maxlength="{{field.maxlength}}"></textarea>

                <!-- Validation message -->
                <p ng-show="thisForm[field.name].$invalid && !thisForm[field.name].$pristine" class="help-block">{{field.validation}}</p>
            </div>
        </div>

    </div>
    <div class="modal-footer">

        <div class="alert alert-{{message.type}} alert-dismissable" ng-show="message">
            <span>{{message.content}}</span>
        </div>

        <button class="btn btn-primary" type="submit" ng-disabled="thisForm.$invalid">OK</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>