<div class="modal-header">
    <h3>
        Copy configuration from branch
        <span class="glyphicon glyphicon-question-sign text-info ot-action" ng-click="help = !help" title="Displays help."></span>
    </h3>
</div>
<form name="thisForm" class="form-horizontal" ng-submit="submit(thisForm.$valid)" novalidate="novalidate">
    <div class="modal-body">
        <div class="col-md-12 alert alert-info" ng-if="help">
            <p>
                The configuration from the selected branch will be copied into the current branch
                ({{config.targetBranch.name}}).
            </p>

            <p>
                If both the source and the target branches belong to the same project, following items will be copied
                over:
            </p>
            <ul>
                <li>Promotion levels and their properties</li>
                <li>Validation stamps and their properties</li>
                <li>Properties</li>
                <li>User build filters</li>
            </ul>
            <p>
                If the source and the target branches do not belong to the same project, following items will be copied
                over:
            </p>
            <ul>
                <li>Promotion levels and their properties</li>
                <li>Validation stamps and their properties</li>
            </ul>
            <p>
                <b>Items already existing in the target branch <i>will not</i> be overridden.</b>
            </p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : thisForm['project'].$invalid && !thisForm['project'].$pristine }">
            <label class="control-label col-md-3">Project</label>

            <div class="col-md-9">
                <select name="project" class="form-control" ng-model="data.project" required="required"
                        ng-options="p as p.name for p in projects">
                    <option value="">&nbsp;</option>
                </select>
            </div>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : thisForm['branch'].$invalid && !thisForm['branch'].$pristine }">
            <label class="control-label col-md-3">Branch</label>

            <div class="col-md-9">
                <select name="branch" class="form-control" ng-model="data.branch" required="required"
                        ng-options="b as b.name for b in branches">
                    <option value="">&nbsp;</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 alert alert-info" ng-if="help">
            <p>
                Note that properties and descriptions of all items can be adjusted during the copy
                by using the <a target="_blank" href="http://regular-expressions.info">regular expressions</a>
                and replacement expressions.
            </p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                All properties
                <span
                        class="glyphicon glyphicon-cog ot-command"
                        title="Copies the replacement expressions to all"
                        ng-click="copyReplacements(data.propertyReplacements, [data.promotionLevelReplacements, data.validationStampReplacements])"
                        ></span>
            </label>

            <div class="col-md-9">
                <ot-field-replacements replacements="data.propertyReplacements"></ot-field-replacements>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                Promotion levels
                <span
                        class="glyphicon glyphicon-cog ot-command"
                        title="Copies the replacement expressions to all"
                        ng-click="copyReplacements(data.promotionLevelReplacements, [data.propertyReplacements, data.validationStampReplacements])"
                        ></span>
            </label>

            <div class="col-md-9">
                <ot-field-replacements replacements="data.promotionLevelReplacements"></ot-field-replacements>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                Validation stamps
                <span
                        class="glyphicon glyphicon-cog ot-command"
                        title="Copies the replacement expressions to all"
                        ng-click="copyReplacements(data.validationStampReplacements, [data.propertyReplacements, data.promotionLevelReplacements])"
                        ></span>
            </label>

            <div class="col-md-9">
                <ot-field-replacements replacements="data.validationStampReplacements"></ot-field-replacements>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="thisForm.$invalid">OK</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>