<div class="modal-header">
    <h3>
        {{config.title}}
    </h3>
</div>
<form name="thisForm" class="form-horizontal" ng-submit="submit(thisForm.$valid)" novalidate="novalidate">
    <div class="modal-body">
        <div class="form-group"
             ng-class="{ 'has-error' : thisForm['project'].$invalid && !thisForm['project'].$pristine }">
            <label class="control-label col-md-3">Project</label>

            <div class="col-md-9">
                <select name="project" class="form-control" ng-model="data.project" required="required"
                        ng-options="p as p.name for p in projects">
                    <option value="">&nbsp;</option>
                </select>
            </div>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : thisForm['branch'].$invalid && !thisForm['branch'].$pristine }">
            <label class="control-label col-md-3">Branch</label>

            <div class="col-md-9">
                <select name="branch" class="form-control" ng-model="data.branch" required="required"
                        ng-options="b as b.name for b in branches">
                    <option value="">&nbsp;</option>
                </select>
            </div>
        </div>
        <div ng-if="config.messageUrl" class="col-md-12 alert alert-info" ng-include="config.messageUrl">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="thisForm.$invalid">OK</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>