<div class="modal-header">
    <h3>
        ontrack {{data.version.display}}
        <span ng-if="data.version.sourceType != 'release'" class="fa fa-warning text-warning"></span>
    </h3>
</div>
<div class="modal-body">
    <h3>Version information</h3>
    <div ng-if="data.version.sourceType != 'release'" class="alert alert-warning">
        <span class="fa fa-warning text-warning"></span>
        This version is not a release! Please use with care.
    </div>
    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Version</th>
            <td>{{data.version.display}}</td>
        </tr>
        <tr>
            <th>Full version</th>
            <td>{{data.version.full}}</td>
        </tr>
        <tr>
            <th>Source</th>
            <td>{{data.version.source}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{data.version.sourceType}}</td>
        </tr>
        <tr>
            <th>Commit</th>
            <td>{{data.version.commit}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{data.version.date | date:'mediumDate' }} {{data.version.date | date:'shortTime' }}</td>
        </tr>
        </tbody>
    </table>
    <h3>Extensions</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="extension in data.extensionList.extensions">
            <td>{{extension.name}}</td>
            <td>{{extension.version}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a class="btn btn-default" href="http://nemerosa.github.io/ontrack" target="_blank">Go to ontrack</a>
    <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
</div>