<div class="modal-header">
    <h3>
        Clone branch {{config.sourceBranch.name}} ({{config.sourceBranch.project.name}})
        <span class="glyphicon glyphicon-question-sign text-info ot-action" ng-click="help = !help" title="Displays help."></span>
    </h3>
</div>
<form name="thisForm" class="form-horizontal" ng-submit="submit(thisForm.$valid)" novalidate="novalidate">
    <div class="modal-body">
        <div class="col-md-12 alert alert-info" ng-if="help">
            <p>
                A new branch will be created in the same project and
                the configuration from the current branch will be copied into the new one.
            </p>

            <p>
                Configuration items to be copied are:
            </p>
            <ul>
                <li>Promotion levels and their properties</li>
                <li>Validation stamps and their properties</li>
                <li>Properties</li>
                <li>User build filters</li>
            </ul>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : thisForm['name'].$invalid && !thisForm['name'].$pristine }">
            <label class="control-label col-md-3">Name</label>

            <div class="col-md-9">
                <input name="name" class="form-control" ng-model="data.name" required="required"/>
            </div>
        </div>
        <div class="col-md-12 alert alert-info" ng-if="help">
            <p>
                Note that properties and descriptions of all items can be adjusted during the cloning operation
                by using the <a target="_blank" href="http://regular-expressions.info">regular expressions</a>
                and replacement expressions.
            </p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                All properties
                <span
                        class="glyphicon glyphicon-cog ot-command"
                        title="Copies the replacement expressions to all"
                        ng-click="copyReplacements(data.propertyReplacements, [data.promotionLevelReplacements, data.validationStampReplacements])"
                        ></span>
            </label>

            <div class="col-md-9">
                <ot-field-replacements replacements="data.propertyReplacements"></ot-field-replacements>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                Promotion levels
                <span
                        class="glyphicon glyphicon-cog ot-command"
                        title="Copies the replacement expressions to all"
                        ng-click="copyReplacements(data.promotionLevelReplacements, [data.propertyReplacements, data.validationStampReplacements])"
                        ></span>
            </label>

            <div class="col-md-9">
                <ot-field-replacements replacements="data.promotionLevelReplacements"></ot-field-replacements>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                Validation stamps
                <span
                        class="glyphicon glyphicon-cog ot-command"
                        title="Copies the replacement expressions to all"
                        ng-click="copyReplacements(data.validationStampReplacements, [data.propertyReplacements, data.promotionLevelReplacements])"
                        ></span>
            </label>

            <div class="col-md-9">
                <ot-field-replacements replacements="data.validationStampReplacements"></ot-field-replacements>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="thisForm.$invalid">OK</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>