<div class="modal-header">
    <h3 ng-click="cancel()">
        Runs for
        <ot-entity-image entity="config.validationStampRunView.validationStamp" link="#/validationStamp/{{config.validationStampRunView.validationStamp.id}}">
            {{config.validationStampRunView.validationStamp.name}}
        </ot-entity-image>
        in build
        <a href="#/build/{{config.buildView.build.id}}">
            {{config.buildView.build.name}}
        </a>
    </h3>
</div>
<div class="modal-body">
    <div class="panel panel-default"
         ng-repeat="validationRun in config.validationStampRunView.validationRun | orderBy:'id':true">
        <div class="panel-heading">
            Run
            #<a href="#/validationRun/{{validationRun.id}}" ng-click="cancel()">
                {{validationRun.runOrder}}
            </a>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="cancel()">OK</button>
</div>