<div class="modal-header">
    <h3>{{config.title}}</h3>
</div>
<form name="thisForm" class="form-horizontal" ng-submit="submit(inputFile)" novalidate="novalidate">
    <div class="modal-body">

        <div ng-if="config.image.present">
            <p>Previous image:</p>
            <img class="ot-icon" ng-src="{{config.image.href}}"/>
        </div>

        <p>Select an image. It can be a JPEG, PNG or GIF image. Its size
        must not exceed 15K.</p>

        <p>
            <input type="file" accept=".jpeg,.jpg,.png,.gif" ot-file-model="inputFile" required="required" />
        </p>

    </div>
    <div class="modal-footer">

        <div class="ot-alert-{{message.type}} alert-dismissable" ng-show="message">
            <span>{{message.content}}</span>
        </div>

        <button class="btn btn-primary" type="submit" ng-disabled="!inputFile">OK</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>