<div class="modal-header ot-application-log-{{data.level | lowercase}}">
    <h3>{{data.level}}</h3>
</div>
<div class="modal-body">

    <dl>

        <dt>Timestamp</dt>
        <dd>{{data.timestamp | date:'fullDate'}} {{data.timestamp | date:'mediumTime'}}</dd>

        <dt>Type</dt>
        <dd>
            <code>{{data.type.name}}</code>
            {{data.type.description}}
        </dd>

        <dt>Information</dt>
        <dd>{{data.information}}</dd>

        <dt ng-if="data.authentication">Authentication</dt>
        <dd ng-if="data.authentication">{{data.authentication}}</dd>

        <dt ng-if="data.detailList">Details</dt>
        <dd ng-if="data.detailList">
            <ul>
                <li ng-repeat="detail in data.detailList">
                    <b>{{detail.name}}</b>:
                    {{detail.description}}
                </li>
            </ul>
        </dd>

        <dt ng-if="data.stacktrace">Stacktrace</dt>
        <dd ng-if="data.stacktrace">
            <textarea class="form-control" readonly="readonly" ng-bind="data.stacktrace" rows="8"></textarea>
        </dd>
    </dl>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cancel()">OK</button>
</div>