<div class="modal-header">
    <h3>
        Filter validation stamps
    </h3>
</div>
<form name="thisForm" class="form-horizontal" ng-submit="submit(thisForm.$valid)" novalidate="novalidate">
    <div class="modal-body">
        <p>
            Selection of validation stamps to display
            for branch <b>{{config.branch.name}}</b>
        </p>
        <p>
            <div ng-repeat="validationStamp in config.validationStamps"
                class="ot-branch-build-view-validation-stamp-filter-item"
                ng-class="{
                    'ot-branch-build-view-validation-stamp-filter-item-selected': validationStamp.selected
                }"
                ng-click="toggleValidationStampSelection(validationStamp)"
            >
                <ot-entity-image entity="validationStamp">
                    {{validationStamp.name}}
                </ot-entity-image>
            </div>
        </p>
    </div>
    <div class="modal-footer">

        <div class="ot-alert-{{message.type}} alert-dismissable" ng-show="message">
            <span>{{message.content}}</span>
        </div>

        <button class="btn btn-primary" type="submit" ng-disabled="thisForm.$invalid">OK</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>