<div class="modal-header">
    <h3>
        ontrack {{data.version.display}}
    </h3>
</div>
<div class="modal-body">
    <h3>Version information</h3>
    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Version</th>
            <td>{{data.version.display}}</td>
        </tr>
        <tr>
            <th>Full version</th>
            <td>{{data.version.full}}</td>
        </tr>
        <tr>
            <th>Branch</th>
            <td>{{data.version.branch}}</td>
        </tr>
        <tr>
            <th>Commit</th>
            <td>{{data.version.commit}}</td>
        </tr>
        </tbody>
    </table>
    <h3>Extensions</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="extension in data.extensionList.extensions">
            <td>{{extension.name}}</td>
            <td>{{extension.version}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a class="btn btn-default" href="http://nemerosa.github.io/ontrack" target="_blank">Go to ontrack</a>
    <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
</div>