<div class="modal-header">
    <h3>
        Template definition
        <span class="fa fa-question-circle text-info ot-action" ng-click="help = !help" title="Displays help."></span>
    </h3>
</div>
<form name="thisForm" class="form-horizontal" ng-submit="submit(thisForm.$valid)" novalidate="novalidate">
    <div class="modal-body">

        {{data}}

        <tabset>
            <tab heading="Parameters">
                <div class="row">
                    <div class="col-md-12">
                        <button title="Add entry" class="btn btn-default btn-xs" type="button" ng-click="addParameter()">
                            <span class="ot-command ot-command-new"></span>
                            Add parameter
                        </button>
                    </div>
                </div>
            </tab>
            <tab heading="Synchronisation">

            </tab>
        </tabset>

    </div>
    <div class="modal-footer">

        <div class="ot-alert-{{message.type}} alert-dismissable" ng-show="message">
            <span>{{message.content}}</span>
        </div>

        <button class="btn btn-primary" type="submit" ng-disabled="thisForm.$invalid">OK</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>