<div class="modal-header">
    <h3>
        "{{config.project.name}}" project labels
    </h3>
</div>
<form name="thisForm" class="form-horizontal" ng-submit="submit(thisForm.$valid)" novalidate="novalidate">
    <div class="modal-body">
        <div class="row ot-project-label-selection" ng-repeat="label in data" ng-click="label.selected = !label.selected;">
            <div class="col-md-1">
                <span class="fa fa-check ot-command" ng-show="label.selected"></span>
            </div>
            <div class="col-md-10">
                <ot-project-label label="label"></ot-project-label>
            </div>
            <div class="col-md-1">
                <span class="fa fa-close ot-command" ng-show="label.selected"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="ot-alert-{{message.type}} alert-dismissable" ng-show="message">
            <span>{{message.content}}</span>
        </div>
        <button class="btn btn-primary" type="submit" ng-disabled="thisForm.$invalid">OK</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>