<ot-view>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <th>LDAP group</th>
                <th>Ontrack group</th>
                <th>&nbsp;</th>
                </thead>
                <tbody>
                <tr ng-repeat="mapping in mappingResources.resources">
                    <td>{{mapping.name}}</td>
                    <td>
                        <span class="fa fa-arrow-right"></span>
                        {{mapping.group.name}}
                    </td>
                    <td>
                        <span class="ot-command ot-command-update"
                              title="Update mapping {{mapping.name}}"
                              ng-click="updateMapping(mapping)"></span>
                        <span class="ot-command ot-command-delete"
                              title="Delete mapping {{mapping.name}}"
                              ng-click="deleteMapping(mapping)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ot-view>