<ot-view>

    <!-- Form to filter the messages -->
    <div class="well">
        <form class="form-horizontal" ng-submit="onFilter()">
            <div class="form-group">
                <!-- ID -->
                <label for="filterId" class="col-sm-1 control-label">ID</label>
                <input class="form-control col-sm-4"
                       id="filterId"
                       type="text"
                       ng-model="filter.id"/>
                <!-- Hook -->
                <label for="filterHook" class="col-sm-1 control-label">Hook</label>
                <select class="form-control col-sm-2"
                        ng-if="hooks"
                        id="filterHook"
                        ng-options="hook for hook in hooks"
                        ng-model="filter.hook">
                    <option value="">Any</option>
                </select>
                <!-- State -->
                <label for="filterState" class="col-sm-1 control-label">State</label>
                <select class="form-control col-sm-2"
                        ng-if="states"
                        id="filterState"
                        ng-options="state for state in states"
                        ng-model="filter.state">
                    <option value="">Any</option>
                </select>
            </div>
            <div class="form-group">
                <!-- Free text -->
                <label for="filterText" class="col-sm-1 control-label">Text</label>
                <input class="form-control col-sm-4"
                       id="filterText"
                       type="text"
                       ng-model="filter.text"/>
            </div>
            <!-- Buttons -->
            <div class="form-group">
                <label class="col-sm-1 control-label"></label>
                <button type="submit" class="btn btn-primary" ng-disabled="loading" id="filterSearch">
                    <i class="fa fa-search"></i>
                    Search
                </button>
                <button type="button" class="btn btn-link" ng-click="onClear()" ng-disabled="loading" id="filterClear">
                    <i class="fa fa-ban"></i>
                    Clear
                </button>
            </div>
        </form>
    </div>

    <!-- Loading indicator -->
    <div class="row" ng-show="loading">
        <div class="col-span-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the messages...
            </div>
        </div>
    </div>

    <!-- No queue message found -->
    <div class="row" ng-show="messages.length == 0 && !loading">
        <div class="col-span-12">
            <div class="alert alert-info">
                No hook message was found.
            </div>
        </div>
    </div>

    <!-- List of messages -->
    <table class="table" ng-show="messages.length > 0 && !loading">
        <thead>
        <tr>
            <th>ID</th>
            <th>Hook</th>
            <th>Start time</th>
            <th>State</th>
            <th>End time</th>
        </tr>
        </thead>
        <tbody ng-repeat-start="message in messages">
        <tr>
            <td>
                <code class="ot-action" ng-click="toggleMessage(message)"
                      title="Click to show/hide the details of this message">{{ message.id }}</code>
            </td>
            <td>
                <code>{{ message.hook }}</code>
            </td>
            <td>
                {{ message.startTime | date:'shortDate' }}
                {{ message.startTime | date:'mediumTime' }}
            </td>
            <td>
                <code>{{ message.state }}</code>
            </td>
            <td>
                {{ message.endTime | date:'shortDate' }}
                {{ message.endTime | date:'mediumTime' }}
            </td>
        </tr>
        </tbody>
        <tbody ng-repeat-end ng-show="message.details">
        <tr>
            <td colspan="5">
                <form class="form-horizontal col-md-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Body</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" readonly rows="3">{{ message.request.body }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Parameters</label>
                        <div class="col-sm-11">
                            <table class="table table-condensed table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in message.request.parameters">
                                    <td>
                                        <code>{{ item.name }}</code>
                                    </td>
                                    <td>
                                        {{ item.value }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group" ng-if="message.message">
                        <label class="col-sm-1 control-label">Message</label>
                        <div class="col-sm-11">
                            <p class="form-control-static"><code>{{ message.message }}</code></p>
                        </div>
                    </div>
                    <div class="form-group" ng-if="message.exception">
                        <label class="col-sm-1 control-label">Exception</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" readonly rows="9">{{ message.exception }}</textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="message.response.type">
                        <label class="col-sm-1 control-label">Response type</label>
                        <div class="col-sm-11">
                            <p class="form-control-static"><code>{{ message.response.type }}</code></p>
                        </div>
                    </div>
                    <div class="form-group" ng-if="message.response.infoLink">
                        <label class="col-sm-1 control-label">Response info</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" readonly rows="9">{{ message.response.infoLink }}</textarea>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <button class="btn btn-link" ng-if="pageInfo.nextPage" ng-click="loadNextPage()">More...</button>
            </td>
        </tr>
        </tfoot>
    </table>

</ot-view>