<ot-view>

    <div class="row" ng-hide="changeLog">
        <div class="col-md-12 alert alert-warning">
            The change log is loading. This may take some time...
        </div>
    </div>

    <div class="row" ng-show="changeLog">
        <div class="col-md-12">

            <!-- Main content -->
            <div class="row">
                <div class="col-md-12 ot-extension-scm-changelog-commands">
                    <button class="btn btn-default" ng-click="changeLogCommits()" ng-disabled="commitsLoading">
                        <span class="ot-extension-scm-changelog-command-unloaded" ng-hide="commits"></span>
                        <span class="ot-extension-scm-changelog-command-loading"></span>
                        {{commitsCommand}}
                    </button>
                    <button ng-if="changeLog._issues" class="btn btn-default" ng-click="changeLogIssues()" ng-disabled="issuesLoading">
                        <span class="ot-extension-scm-changelog-command-unloaded" ng-hide="issues"></span>
                        <span class="ot-extension-scm-changelog-command-loading"></span>
                        {{issuesCommand}}
                    </button>
                </div>
            </div>

            <!-- Build info -->

            <div class="row">
                <div class="col-md-6">
                    <a name="buildFrom"></a>
                    <ot-scm-changelog-build scm-build-view="changeLog.scmBuildFrom">
                        TODO Git info
                    </ot-scm-changelog-build>
                </div>
                <div class="col-md-6">
                    <a id="buildTo"></a>
                    <ot-scm-changelog-build scm-build-view="changeLog.scmBuildTo">
                        TODO Git info
                    </ot-scm-changelog-build>
                </div>
            </div>

            <!-- Commits sections -->
            <div class="row">
                <div class="col-md-12">
                    <a name="commits"></a>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Commits
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" ng-if="changeLog._issues" ng-click="changeLogIssues()"
                                   ng-disabled="issuesLoading">
                                    <span class="ot-extension-scm-changelog-command-unloaded" ng-hide="issues"></span>
                                    <span class="ot-extension-scm-changelog-command-loading"></span>
                                    {{issuesCommand}}
                                </a>
                                <a class="btn btn-default btn-xs" ng-click="changeLogFiles()"
                                   ng-disabled="filesLoading">
                                    <span class="ot-extension-scm-changelog-command-unloaded" ng-hide="files"></span>
                                    <span class="ot-extension-scm-changelog-command-loading"></span>
                                    {{filesCommand}}
                                </a>
                            </div>
                        </div>
                        <div class="panel-body" ng-hide="commits">
                            <div class="alert alert-warning" ng-hide="commits || commitsLoading">
                                No commit has been loaded yet. Click
                                <a ng-click="changeLogCommits()" class="ot-action">here</a>
                                to load them.
                            </div>
                            <div class="ot-description" ng-show="commitsLoading">
                                Commits are loading...
                            </div>
                        </div>
                        <table ng-show="commits" class="table">
                            <tbody>
                            <tr>
                                <td valign="top">
                                    <canvas git-plot="commits.log.plot"></canvas>
                                </td>
                                <td valign="top">
                                    <div ng-repeat="gitUICommit in commits.log.commits" class="ot-extension-git-changelog-commit">
                                        <code ng-if="!gitUICommit.link">{{gitUICommit.commit.shortId}}</code>
                                        <code ng-if="gitUICommit.link"><a href="{{gitUICommit.link}}" target="_blank">{{gitUICommit.commit.shortId}}</a></code>
                                        <span class="ot-extension-git-changelog-message" ng-bind-html="gitUICommit.annotatedMessage"></span>
                                        <span class="ot-extension-git-changelog-meta">
                                            <span class="ot-extension-git-changelog-author">{{gitUICommit.commit.author.name}}</span>
                                            <span class="ot-extension-git-changelog-date">
                                                {{gitUICommit.commit.commitTime | date:'mediumDate'}}
                                                {{gitUICommit.commit.commitTime | date:'shortTime'}}
                                            </span>
                                         </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Issue sections -->
            <div class="row" ng-if="changeLog._issues">
                <div class="col-md-12">
                    <a name="issues"></a>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Issues
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" ng-click="changeLogCommits()" ng-disabled="commitsLoading">
                                    <span class="ot-extension-scm-changelog-command-unloaded" ng-hide="commits"></span>
                                    <span class="ot-extension-scm-changelog-command-loading"></span>
                                    {{commitsCommand}}
                                </a>
                                <a class="btn btn-default btn-xs" ng-click="changeLogFiles()" ng-disabled="filesLoading">
                                    <span class="ot-extension-scm-changelog-command-unloaded" ng-hide="files"></span>
                                    <span class="ot-extension-scm-changelog-command-loading"></span>
                                    {{filesCommand}}
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-warning" ng-hide="issues || issuesLoading">
                                No issue has been loaded yet. Click
                                <a ng-click="changeLogIssues()" class="ot-action">here</a>
                                to load them.
                            </div>
                            <div class="ot-description" ng-show="issuesLoading">
                                Issues are loading...
                            </div>
                            <div ng-show="issues">
                                <ot-include value="issues" template="app/extension/{{issues.issueServiceConfiguration.serviceId}}/changelog.issues.tpl.html">
                                </ot-include>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End of sections -->

        </div>
    </div>

</ot-view>