<ot-view>

    <div class="row" ng-hide="ontrackGitIssueInfo">
        <div class="col-md-12 alert alert-warning">
            The revision information is loading. This may take some time...
        </div>
    </div>

    <div class="row" ng-if="ontrackGitIssueInfo">
        <div class="col-md-12">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <a href="{{ontrackGitIssueInfo.issue.url}}">
                        {{ontrackGitIssueInfo.issue.key}}
                    </a>
                </div>
                <div class="panel-body">
                    <ot-include value="ontrackGitIssueInfo.issue"
                                template="app/extension/{{ontrackGitIssueInfo.issueServiceConfigurationRepresentation.serviceId}}/issue.tpl.html">
                    </ot-include>
                </div>
            </div>

            <!-- Summary for the commit -->
            <ot-extension-git-commit-summary commit-info="ontrackGitIssueInfo.commitInfo" title="true"></ot-extension-git-commit-summary>

            <!-- Builds for the revision -->
            <ot-extension-git-commit-builds commit-info="ontrackGitIssueInfo.commitInfo"></ot-extension-git-commit-builds>

            <!-- Promotions for the commits -->
            <ot-extension-git-commit-promotions commit-info="ontrackGitIssueInfo.commitInfo"></ot-extension-git-commit-promotions>

            <!-- All other commits -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    All commits for this issue
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Commit</th>
                        <th>Author</th>
                        <th>Date</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="uiCommit in ontrackGitIssueInfo.log" ng-class="{'success': $first}">
                        <td>
                            <a href="{{uiCommit.link}}"><code title="{{uiCommit.commit.id}}">{{uiCommit.commit.shortId}}</code></a>
                        </td>
                        <td>
                            {{uiCommit.commit.author.name}}
                        </td>
                        <td>
                            {{uiCommmit.commit.commitData | date:'mediumDate'}}
                        </td>
                        <td ng-bind-html="uiCommit.annotatedMessage"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</ot-view>