<span class="ot-decoration-border">
    <!-- Build @ Project -->
    <span ng-if="!decoration.data.uri">{{decoration.data.build}} @ {{decoration.data.project}}</span>
    <span ng-if="decoration.data.uri">
        <img src="extension/general/decoration/net.nemerosa.ontrack.extension.general.BuildLinkDecorationExtension/link.png"/>
        <a href="{{decoration.data.uri}}">{{decoration.data.build}} @ {{decoration.data.project}}</a>
    </span>
    <!-- Promotions -->
    <span ng-repeat="promotionRun in decoration.data.promotionRuns">
        <ot-entity-image entity="promotionRun.promotionLevel"></ot-entity-image>
    </span>
</span>