<span class="ot-decoration-border">
    <!-- Build @ Project -->
    <span ng-if="!decoration.data.uri">{{decoration.data.build}} @ {{decoration.data.project}}</span>
    <span ng-if="decoration.data.uri">
        <img src="extension/general/decoration/net.nemerosa.ontrack.extension.general.BuildLinkDecorationExtension/link.png"/>
        <a href="{{decoration.data.uri}}">{{decoration.data.build}} @ {{decoration.data.project}}</a>
    </span>
    <!-- Promotions -->
    <span ng-repeat="promotion in decoration.data.promotions">
        <img ng-if="!promotion.imageLink" src="assets/default_entity_image.png" class="ot-icon" title="{{promotion.name}}"/>
        <img ng-if="promotion.imageLink" ng-src="{{promotion.imageLink}}" class="ot-icon" title="{{promotion.name}}"/>
    </span>
</span>
