/**
 * To be set on SortableList/Item to prevent text selection during dragging.
 */
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ and Edge */
    user-select: none;         /* Standard syntax */
}

/**
 * For any component which must span 100% of the horizontal space
 */
.ot-line {
    width: 100%;
}

/**
 * For any component which must span 100% of the horizontal AND vertical space
 */
.ot-block {
    width: 100%;
    height: 100%;
}

/**
 * Change the transparency of an item on hover
 */

.ot-hover-transparent-10 {
    opacity: 10%;
}

.ot-hover-transparent-10:hover {
    opacity: 100%;
}

/**
 * Displaying a pointer cursor
 */
.ot-action {
    cursor: pointer;
}

/**
 * Commands
 */
.ot-command {
    cursor: pointer;
    opacity: 30%;
}

.ot-command:hover {
    cursor: pointer;
    opacity: 100%;
}

/**
 * Information section
 */

.ot-info {
    width: 100%;
    border-left: solid 3px lightgray;
    padding-left: 6px;
}

/**
 * Well (inspired by Bootstrap)
 */

.ot-well {
    width: 100%;
    background-color: rgb(230, 230, 230);
    border: solid 1px darkgrey;
    padding: 6px;
    border-radius: 6px;
}

/**
 * Small inline box
 */

.ot-box {
    width: 1em;
    height: 1em;
    display: inline-block;
}

/**
 * Group of validations
 */

.ot-validation-group {
    border: solid 1px rgb(128, 128, 128);
    border-radius: 4px;
    padding: 4px;
}

/**
 * Element highlighted for VSF edition
 */

button.ot-validation-stamp-filter-edition {
    background-color: lightyellow;
}

.ot-validation-stamp-filter-edition table th.ot-validation-stamp {
    background-color: lightyellow;
}

/**
 * Dependency link
 */

.ot-dependency {
    border: solid 1px rgb(128, 128, 128);
    border-radius: 4px;
    padding: 4px;
}

/**
 * Item in a Form.List
 */

.ot-form-list-item {
    display: flex;
    margin-bottom: 8px;
    background-color: #fcfcfc;
    border: dashed 1px blue;
    border-radius: 8px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

/**
 * Auto refresh
 */

.ot-auto-refresh-enabled > button {
    background-color: hsl(80, 61%, 80%);
}

/**
 * Git plot
 */

.ot-git-plot-line {
    height: 24px;
    vertical-align: baseline;
}

.ot-git-plot-line-author {
    background-color: #eee;
    padding: 2px;
}

.ot-git-plot-line-timestamp {
    background-color: #eee;
    padding: 2px;
}

.ot-git-plot-line-build {
    border: solid 1px black;
    border-radius: 4px;
    padding: 2px;
}
