/**
 * For any component which must span 100% of the horizontal space
 */
.ot-line {
    width: 100%;
}

/**
 * Change the transparency of an item on hover
 */

.ot-hover-transparent-10 {
    opacity: 10%;
}

.ot-hover-transparent-10:hover {
    opacity: 100%;
}

/**
 * Displaying a pointer cursor
 */
.ot-action {
    cursor: pointer;
}

/**
 * Commands
 */
.ot-command {
    cursor: pointer;
    opacity: 30%;
}

.ot-command:hover {
    cursor: pointer;
    opacity: 100%;
}
