<ot-view>

    <ot-extension-indicators-message></ot-extension-indicators-message>

    <div class="row" ng-show="loadingIndicators">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading configurable indicators...
            </div>
        </div>
    </div>

    <table class="table table-hover table-bordered" ng-if="categoryGroups">
        <tbody ng-repeat="categoryGroup in categoryGroups">
        <tr class="info">
            <td colspan="2">
                <strong>{{ categoryGroup.category.name }}</strong>
            </td>
        </tr>
        <tr ng-repeat="indicator in categoryGroup.indicators">
            <td>
                <code>{{ indicator.id }}</code>
                <span ng-if="!indicator.state.link">{{ indicator.name }}</span>
                <a ng-if="indicator.state.link" href="{{ indicator.state.link }}">{{ indicator.name }}</a>
                <span class="label label-primary" ng-if="indicator.state.enabled">Enabled</span>
                <span class="label label-default" ng-if="!indicator.state.enabled">Disabled</span>
                <span ng-if="indicator.links._update" class="ot-command" ng-click="configureIndicator(indicator)" title="Configure this indicator"><span class="fa fa-pencil"></span></span>
            </td>
            <td>
                <p ng-repeat="value in indicator.state.values" style="text-wrap: none;">
                    <code>{{ value.key }}</code>: {{ value.value }}
                </p>
            </td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>