<span ng-style="{
    width: dimension,
    height: dimension,
    'max-width': dimension,
    'max-height': dimension,
    'min-width': dimension,
    'min-height': dimension,
    'border-radius': radius,
    display: 'inline-block',
    'background-color': statusBackgroundColor,
    'font-size': statusFontSize,
    'line-height': dimension,
    'font-weight': 'bold',
    'text-align': 'center',
    'color': statusForegroundColor,
    'box-sizing': 'border-box'
}">A</span>
<!--<span ng-if="status"-->
<!--      class="fa fa-circle fa-lg"-->
<!--      title="Status {{status}}"-->
<!--      ng-class="{-->
<!--        'text-danger': status == 'RED',-->
<!--        'text-warning': status == 'YELLOW',-->
<!--        'text-success': status == 'GREEN'-->
<!--      }"-->
<!--&gt;</span>-->
<!--<span ng-if="!status"-->
<!--      class="fa fa-ban text-muted"-->
<!--      title="No indicator yet"></span>-->