<ot-view>

    <div class="row" ng-show="loadingPortfolio">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the portfolio...
            </div>
        </div>
    </div>

    <table ng-if="portfolio" class="table table-bordered">
        <thead>
        <tr>
            <th rowspan="2">Projects</th>
            <th ng-repeat="category in categories" colspan="{{category.types.length}}">
                {{category.name}}
            </th>
        </tr>
        <tr>
            <th ng-repeat="type in types">
                <ot-extension-indicators-type-name type="type" short-name="true"></ot-extension-indicators-type-name>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in portfolio.projects">
            <td>
                <a href="{{project.links._page}}" title="Project page">{{project.name}}</a>
                <a href="#/extension/indicators/project-indicators/{{project.id}}" title="Project indicators for {{project.name}}"><span class="fa fa-file-text ot-command"></span></a>
            </td>
            <td ng-repeat="type in types">
                <span ng-if="indicator(project,type).value" title="{{indicator(project,type).comment}}">
                    <ot-extension-indicators-status status="indicator(project,type)" size="md"></ot-extension-indicators-status>
                </span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="active">
            <td>Average</td>
            <td ng-repeat="type in types">
                <ot-extension-indicators-status status="averageStatus(type)" size="md"></ot-extension-indicators-status>
            </td>
        </tr>
        </tfoot>
    </table>

</ot-view>