<ot-view>

    <div class="row" ng-show="loadingPortfolios">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading portfolios...
            </div>
        </div>
    </div>

    <div class="row" ng-show="!loadingPortfolios && portfolios.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                No indicator portfolio is set yet.
                <span ng-if="portfolioOfPortolios.links._create">
                    Create one by clicking on this
                    <a class="ot-action" ng-click="createPortfolio()">link</a>.
                </span>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="portfolio in portfolios">
        <div class="col-md-12">
            <h4>
                <a href="#/extension/indicators/portfolios/{{portfolio.id}}" title="Portfolio details">
                    <span class="fa fa-folder-open-o"></span>
                    {{portfolio.name}}
                </a>
                <a ng-click="portfolioProjects(portfolio)"
                   title="Displays the list of projects for this portfolio"><span
                        class="fa fa-arrow-right ot-command"></span></a>
                <a ng-if="portfolio.links._update"
                   href="#/extension/indicators/portfolios/{{portfolio.id}}/edit"
                   title="Edit the content of the {{portfolio.name}} portfolio"><span
                        class="fa fa-pencil ot-command"></span></a>
                <a ng-if="portfolio.links._delete"
                   ng-click="deletePortfolio(portfolio)"
                   title="Delete the {{portfolio.name}} portfolio"><span class="fa fa-trash ot-command"></span></a>
            </h4>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2" ng-repeat="typeStats in portfolio.globalStats">
                    <div class="row">
                        <div class="col-md-3">
                            <span ng-if="typeStats.stats.count == 0" title="Not enough data.">
                                <ot-extension-indicators-status
                                        status="{compliance: 0, rating: '-' }"
                                        size="lg"
                                ></ot-extension-indicators-status>
                            </span>
                            <span ng-if="typeStats.stats.count > 0"
                                  title="Average status over {{typeStats.stats.count}} project(s).">
                                <ot-extension-indicators-status
                                        status="{compliance: typeStats.stats.avg, rating: typeStats.stats.avgRating }"
                                        size="lg"
                                ></ot-extension-indicators-status>
                            </span>
                        </div>
                        <div class="col-md-9" style="border-right: solid 1px gray;">
                            <p><strong title="{{typeStats.type.name}}">{{typeStats.type.shortName}}</strong></p>
                            <p ng-if="typeStats.stats.total > 0">
                                {{typeStats.stats.count}}/{{typeStats.stats.total}} project<span
                                    ng-if="typeStats.stats.count > 1">s</span> <span
                                    ng-if="typeStats.stats.count > 1">are</span><span
                                    ng-if="typeStats.stats.count <= 1">is</span> rated.
                            </p>
                            <p ng-if="typeStats.stats.total == 0">
                                No project is part of this portfolio.
                            </p>
                            <p ng-if="typeStats.stats.minRating != typeStats.stats.avgRating">
                                {{typeStats.stats.minCount}} project<span ng-if="typeStats.stats.minCount > 1">s</span>
                                <span ng-if="typeStats.stats.minCount > 1">are</span><span
                                    ng-if="typeStats.stats.minCount <= 1">is</span> rated
                                <ot-extension-indicators-status
                                        status="{compliance: typeStats.stats.min, rating: typeStats.stats.minRating }"
                                        size="sm"></ot-extension-indicators-status>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-bottom: 30px;">
            <hr>
        </div>
    </div>

</ot-view>