<ot-view>

    <div class="row" ng-show="loadingPortfolios">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading portfolios...
            </div>
        </div>
    </div>

    <div class="row" ng-show="!loadingPortfolios && portfolios.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                No indicator portfolio is set yet. Create one by clicking on this
                <a class="ot-action" ng-click="createPorfolio()">link</a>.
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <tr ng-repeat="portfolio in portfolios">
            <td>
                {{portfolio.name}}
            </td>
            <td>
                {{portfolio.labels}}
            </td>
            <td>
                View | Edit | Delete
            </td>
        </tr>
    </table>

</ot-view>