<ot-view>

    <div class="row" ng-show="loadingPortfolio">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the portfolio...
            </div>
        </div>
    </div>

    <div class="row" ng-if="portfolio && portfolio.projects.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                This portfolio does not contain any project.
                <span ng-if="portfolio.links._update && !portfolio.label">
                    In order to associate projects to this portfolio, you need
                    to <a href="#/extension/indicators/portfolios/{{portfolio.id}}/edit">edit this portfolio</a>,
                    set a label and associate some projects to this label.
                </span>
                <span ng-if="portfolio.links._update && portfolio.label">
                    In order to associate projects to this portfolio, you need to associate some projects to
                    the <ot-project-label label="portfolio.label"></ot-project-label> label.
                </span>
            </div>
        </div>
    </div>

    <div class="row" ng-if="portfolio && portfolio.projects.length > 0 && portfolio.categoryStats.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                This portfolio does not contain any category.
                <span ng-if="portfolio.links._update">
                    In order to associate projects to this portfolio, you need
                    to <a href="#/extension/indicators/portfolios/{{portfolio.id}}/edit">edit this portfolio</a>
                    and associate some categories with it.
                </span>
            </div>
        </div>
    </div>

    <table ng-if="portfolio && portfolio.projects.length > 0 && portfolio.categoryStats.length > 0" class="table table-bordered">
        <thead>
        <tr>
            <th>Projects</th>
            <th ng-repeat="categoryStats in portfolio.categoryStats">
                {{categoryStats.category.name}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in portfolio.projects">
            <td>
                <a href="{{project.links._page}}" title="Project page">{{project.name}}</a>
                <a href="#/extension/indicators/project-indicators/{{project.id}}" title="Manage the project indicators for the {{project.name}} project"><span class="fa fa-pencil ot-command"></span></a>
            </td>
            <td ng-repeat="projectCategory in project.projectIndicators.categories">
                <ot-extension-indicators-status status="{
                    compliance: projectCategory.categoryStats.stats.avg,
                    rating: projectCategory.categoryStats.stats.avgRatin
                }" size="md"></ot-extension-indicators-status>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="active">
            <td>Average</td>
            <td ng-repeat="type in types">
                <ot-extension-indicators-status status="type.stats" size="md"></ot-extension-indicators-status>
            </td>
        </tr>
        </tfoot>
    </table>

</ot-view>