<ot-view>

    <div class="row" ng-show="loadingIndicators">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading indicators for the project...
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <tbody ng-repeat="categoryIndicators in projectIndicators.categories">
        <tr class="info">
            <th colspan="6">{{categoryIndicators.category.name}}</th>
        </tr>
        <tr ng-repeat="indicator in categoryIndicators.indicators">
            <td>
                {{indicator.type.name}}
            </td>
            <td>
                <ot-extension-indicators-status status="indicator.status"></ot-extension-indicators-status>
            </td>
            <td>
                <span ng-if="indicator.value">
                    <ot-include value="indicator.value" template="extension/{{indicator.type.valueType.feature.id}}/indicators/{{indicator.type.valueType.name}}.tpl.html"></ot-include>
                </span>
            </td>
            <td>
                {{indicator.comment}}
            </td>
            <td>
                <span ng-if="indicator.value">
                    <ot-creation creation="indicator.signature"></ot-creation>
                </span>
            </td>
            <td>
                <span ng-if="indicator.links._update" class="fa fa-pencil ot-command" title="Edit value" ng-click="editIndicator(indicator)"></span>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>