<ot-view>

    <ot-extension-indicators-message></ot-extension-indicators-message>

    <div class="row" ng-show="loadingIndicators">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading indicators for the project...
            </div>
        </div>
    </div>

    <div class="row" ng-show="!loadingIndicators && portfolios.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                This project is not associated with any portfolio. All indicator types
                will be displayed.
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead ng-if="portfolios.length > 0">
        <tr>
            <td colspan="6" class="">
                Filter:
                <span ng-repeat="portfolio in portfolios">
                    <label title="Select categories which match the '{{portfolio.name}}' portfolio."
                        ng-class="{
                            'text-muted': filtering.showAllCategories || !portfolio.selected
                        }">
                        <input id="{{portfolio.id}}-selection" type="checkbox" ng-model="portfolio.selected"/>
                        <span>{{portfolio.name}}</span>
                        <a href="#/extension/indicators/portfolios/{{portfolio.id}}">
                            <span class="fa fa-info-circle" title="Go to the '{{portfolio.name}}' portfolio page."></span>
                        </a>
                    </label>
                </span>
                <label>
                    <input id="all-types-selection" type="checkbox" ng-model="filtering.showAllCategories"/>
                    <span>Show all categories</span>
                    <span class="fa fa-info-circle" title="Shows all categories, independently of the portfolios."></span>
                </label>
            </td>
        </tr>
        </thead>
        <tbody ng-repeat="categoryIndicators in projectIndicators.categories"
               ng-show="isCategoryIndicatorsSelected(categoryIndicators)">
        <tr class="info">
            <th colspan="6">
                <span class="fa fa-caret-right ot-action" title="Show associated types" ng-hide="categoryIndicators.unfolded" ng-click="unfold(categoryIndicators)"></span>
                <span class="fa fa-caret-down ot-action" title="Hide associated types" ng-show="categoryIndicators.unfolded" ng-click="fold(categoryIndicators)"></span>
                {{categoryIndicators.category.name}}
                <span ng-repeat="portfolio in categoryIndicators.portfolios" class="ot-project-label-box">
                    <a href="#/extension/indicators/portfolios/{{portfolio.id}}">
                        <span class="ot-project-label-box-square"
                              ng-style="{
                                'background-color': portfolio.label.color + ' !important;',
                                'color': portfolio.label.foregroundColor + ' !important;'
                              }"></span>
                        <span class="ot-project-label-box-text">{{portfolio.name}}</span>
                    </a>
                </span>
            </th>
        </tr>
        <tr class="text-muted" ng-show="categoryIndicators.unfolded">
            <td>Type</td>
            <td>Value</td>
            <td>Status</td>
            <td>Trend</td>
            <td>Comment</td>
            <td>Signature</td>
        </tr>
        <tr ng-repeat="indicator in categoryIndicators.indicators" ng-show="categoryIndicators.unfolded">
            <td>
                <ot-extension-indicators-type-name type="indicator.type"></ot-extension-indicators-type-name>
            </td>
            <td>
                <span ng-if="indicator.value">
                    <ot-include value="indicator.value" template="extension/{{indicator.type.valueType.feature.id}}/indicators/{{indicator.type.valueType.id}}.tpl.html"></ot-include>
                </span>
                <a ng-if="indicator.value" class="fa fa-history ot-command" title="History for this indicator" href="#/extension/indicators/project-indicators/{{project.id}}/{{indicator.type.id}}/history"></a>
                <span ng-if="indicator.links._update" class="fa fa-pencil ot-command" title="Edit value" ng-click="editIndicator(indicator)"></span>
                <span ng-if="indicator.links._delete" class="fa fa-trash ot-command" title="Remove value" ng-click="deleteIndicator(indicator)"></span>
                <span ng-if="indicator.type.computed" class="text-muted" title="This indicator is computed and cannot be edited."><span class="fa fa-cog"></span>&nbsp;<i>Computed</i></span>
            </td>
            <td>
                <ot-extension-indicators-status status="indicator" size="sm"></ot-extension-indicators-status>
            </td>
            <td>
                <p ng-if="indicator.trendSincePrevious && indicator.previousValue.value">
                    <ot-extension-indicators-trend-display
                            trend="indicator.trendSincePrevious"
                            seconds-since="indicator.previousValue.durationSecondsSince"
                            previous-compliance="indicator.previousValue.compliance"
                            previous-rating="indicator.previousValue.rating">
                    </ot-extension-indicators-trend-display>
                </p>
            </td>
            <td>
                <span ng-bind-html="indicator.annotatedComment"></span>
            </td>
            <td>
                <span ng-if="indicator.value">
                    <ot-creation creation="indicator.signature"></ot-creation>
                </span>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>