<ot-view>

    <div class="row" ng-show="loadingTypes">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading indicator types...
            </div>
        </div>
    </div>

    <div class="row" ng-show="!loadingTypes && categories.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                No indicator type is defined yet. <span ng-if="indicatorTypes.links._create">Create one by clicking on this
                <a class="ot-action" ng-click="createType()">link</a>.</span>
            </div>
        </div>
    </div>

    <table class="table table-hover table-bordered" ng-if="categories">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Link</th>
            <th>Source</th>
            <th>Type</th>
            <th>Configuration</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody ng-repeat="category in categories">
        <tr class="info">
            <th colspan="8">
                {{category.name}}
            </th>
        </tr>
        <tr ng-repeat="type in category.types">
            <td>
                <code>{{type.id}}</code>
            </td>
            <td>
                {{type.shortName}}
            </td>
            <td>
                {{type.name}}
            </td>
            <td>
                <a href="{{type.link}}" ng-if="type.link">{{type.link}}</a>
            </td>
            <td>
                <span ng-if="type.source">{{type.source.name}}</span>
                <span ng-if="!type.source"><i title="This type has been provisioned manually">Manual</i></span>
            </td>
            <td>
                {{type.valueType.name}}
            </td>
            <td>
                <ot-include value="type.valueConfig" template="extension/{{type.valueType.feature.id}}/indicators/{{type.valueType.id}}-config.tpl.html"></ot-include>
            </td>
            <td>
                <a ng-if="type.links._update"
                   ng-click="editType(type)"
                   title="Edit this type"
                   ><span class="fa fa-pencil ot-command"></span></a>
                <a ng-if="type.links._delete"
                   ng-click="deleteType(type)"
                   title="Deletes this type"
                   ><span class="fa fa-trash ot-command"></span></a>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>