<ot-view>

    <ot-extension-indicators-message></ot-extension-indicators-message>

    <div class="row" ng-show="loadingViews">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading indicator views...
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    TODO Selected view
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="view in views.views">
                        <a class="ot-action">
                            <!-- View selection -->
                            <span class="fa fa-check" ng-show="currentView.id == view.id"></span>
                            <!-- View name -->
                            <span ng-click="selectView(view)">
                                {{ view.name }}
                            </span>
                            <!-- Deletion -->
                            <span class="ot-command-delete ot-command"
                                  title="Delete this view"
                                  ng-if="view.links._delete"
                                  ng-click="deleteView(view)"></span>
                        </a>
                    </li>
            </div>
            <button type="button" class="btn btn-link" title="Create a new indicator view" ng-click="createView()">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </div>

    <table class="table table-hover table-bordered" ng-if="categories">
        <tbody ng-repeat="category in categories">
        <tr class="info">
            <td style="width: 30px;">
                <input type="checkbox" ng-model="category.selected" ng-change="updateCategories()">
            </td>
            <td>
                {{category.name}}
                <ot-extension-indicators-deprecation-icon deprecated="category.deprecated"></ot-extension-indicators-deprecation-icon>
                <span class="fa fa-caret-right ot-action" title="Show associated types" ng-hide="category.unfolded" ng-click="unfold(category)"></span>
                <span class="fa fa-caret-down ot-action" title="Hide associated types" ng-show="category.unfolded" ng-click="fold(category)"></span>
            </td>
        </tr>
        <tr ng-repeat="type in category.types" ng-show="category.unfolded">
            <td colspan="2">
                <ot-extension-indicators-type-name type="type"></ot-extension-indicators-type-name>
                <ot-extension-indicators-deprecation-icon deprecated="type.deprecated"></ot-extension-indicators-deprecation-icon>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>