<div class="form-group" ng-repeat="pair in data[field.name]">
    <!-- Entry name -->
    <div class="col-md-3">
        <input ng-model="pair[0]" type="text" class="form-control" placeholder="{{field.nameLabel}}"/>
    </div>
    <!-- Entry value -->
    <div class="col-md-8">
        <input ng-model="pair[1]" type="text" class="form-control" placeholder="{{field.label}}"/>
    </div>
    <!-- Entry removal -->
    <div class="col-md-1">
        <span class="glyphicon glyphicon-trash ot-command" title="Removes entry." ng-click="removeEntry(field, data, pair)"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button title="{{field.addText}}" class="btn btn-default btn-xs" type="button" ng-click="addEntry(field, data)">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>