<div id="user-menu-overlay" class="off-canvas-overlay"></div>

<div class="off-canvas">
    <div class="off-canvas-header">
        <button type="button" class="user-menu-close pull-right" ng-click="onAfterAction()">
            Close
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="list-group">
        <!-- All actions -->
        <ot-user-menu-action ng-repeat="action in menu.actions" action="action" close-action="onAfterAction()"></ot-user-menu-action>
        <!-- All groups -->
        <ot-user-menu-group ng-repeat-start="group in menu.groups" group="group"></ot-user-menu-group>
        <ot-user-menu-action ng-hide="group.collapsed" ng-repeat-end ng-repeat="action in group.actions" action="action" close-action="onAfterAction()"></ot-user-menu-action>
        <!-- Logout action -->
        <button class="list-group-item user-menu-item user-menu-action" id="next-ui" ng-click="nextUI()" title="Switch to the experimental new UI" type="button">
            <i class="fa fa-flask"></i>&nbsp;New UI
        </button>
        <!-- Logout action -->
        <button class="list-group-item list-group-item-warning user-menu-item user-menu-action" id="user-logout" ng-click="logout()" type="button">
            <i class="fa fa-sign-out"></i>&nbsp;Sign out
        </button>
    </div>
</div>
