<div class="ot-view container-fluid">
    <div class="row">
        <div class="col-md-4 ot-view-title">
            <div ng-if="view.breadcrumbs" class="ot-view-breadcrumbs">
                <span ng-repeat="b in view.breadcrumbs">
                    <a href="{{b[1]}}">
                        {{b[0]}}
                    </a>
                    <span class="ot-view-breadcrumbs-separator"></span>
                </span>
            </div>
            {{view.title}}
            <ot-entity-decorations entity="view.decorationsEntity"></ot-entity-decorations>
            <div ng-show="view.description" class="ot-description">
                {{view.description}}
            </div>
        </div>
        <div class="col-md-8">
            <div class="ot-view-commands">
                <span ng-repeat="command in view.commands" id="{{command.id}}"
                      ng-if="!command.condition || command.condition()" class="ot-view-command">
                    <span ng-if="command.action" ng-click="command.action()" class="ot-command ot-view-command-name" title="{{command.title}}">
                        <span class="{{command.cls}}"></span>
                        {{command.name}}
                    </span>
                    <a ng-if="command.link" href="#{{command.link}}" class="ot-command ot-view-command-name" title="{{command.title}}">
                        <span class="{{command.cls}}"></span>
                        {{command.name}}
                    </a>
                    <a ng-if="command.absoluteLink" href="{{command.absoluteLink}}" class="ot-command ot-view-command-name" title="{{command.title}}">
                        <span class="{{command.cls}}"></span>
                        {{command.name}}
                    </a>
                    <div class="btn-group ot-command-group" ng-if="command.group" ng-show="command.actions">
                        <button type="button" class="btn btn-default dropdown-toggle ot-command" data-toggle="dropdown">
                            <span class="{{command.cls}}"></span>
                            {{command.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" style="z-index: 10000;">
                            <li ng-repeat="action in command.actions">
                                <a ng-if="action.uri" id="{{action.id}}" class="ot-action ot-command-{{action.id}}" href="#{{action.uri}}">{{action.name}}</a>
                                <a ng-if="action.action" id="{{action.id}}" class="ot-action ot-command-{{action.id}}" ng-click="action.action()">{{action.name}}</a>
                            </li>
                        </ul>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ot-view-content" ng-transclude>
        </div>
    </div>
</div>