<div class="row">
    <div class="col-md-12">

        <div class="row" ng-show="showHelp">
            <div class="col-md-12 help-block">
                {{help.heading}}
            </div>
        </div>

        <div class="row" ng-repeat="formEntry in formEntries">
            <div class="col-md-11 ot-field-multi-form-entry">
                <ot-field-multi-form-entry form="formEntry.form" data="formEntry.data" form-root="formRoot"></ot-field-multi-form-entry>
            </div>
        </div>

        <div class="row" ng-show="showHelp">
            <div class="col-md-12 help-block">
                <dl ng-if="help.fields">
                    <dt ng-repeat-start="fh in help.fields">{{fh.label}}</dt>
                    <dd ng-repeat-end>{{fh.help}}</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default btn-xs" type="button" ng-click="addEntry()">
                    <span class="ot-command ot-command-new"></span>
                    Add entry
                </button>
                <span class="fa fa-question-circle text-info ot-action" ng-click="showHelp = !showHelp" title="Displays help."></span>
            </div>
        </div>
    </div>
</div>