<div class="ot-view container">
    <div class="row">
        <div class="col-md-4 ot-view-title">
            <div ng-if="view.breadcrumbs" class="ot-view-breadcrumbs">
                <span ng-repeat="b in view.breadcrumbs">
                    <a href="{{b[1]}}">
                        {{b[0]}}
                    </a>
                    <span class="ot-view-breadcrumbs-separator"></span>
                </span>
            </div>
            {{view.title}}
            <div ng-show="view.description" class="ot-description">
                {{view.description}}
            </div>
        </div>
        <div class="col-md-8">
            <div class="ot-view-commands">
                <span ng-repeat="command in view.commands" id="{{command.id}}"
                      ng-if="!command.condition || command.condition()" class="ot-view-command">
                    <span ng-if="command.action" ng-click="command.action()">
                        <span class="{{command.cls}}"></span>
                        {{command.name}}
                    </span>
                    <a ng-if="command.link" href="#{{command.link}}">
                        <span class="{{command.cls}}"></span>
                        {{command.name}}
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-transclude>
        </div>
    </div>
</div>