<div class="row">
    <div class="col-md-12">
        <ot-noentry list="valueProperties">
            No property.
        </ot-noentry>
        <!-- TODO Panel with title and content -->
        <!-- TODO Header for the property name and icon -->
        <!-- TODO Header contains also the edit and delete actions -->
        <!-- TODO Edit -->
        <!-- TODO Delete -->
        <!-- TODO Description as tooltip -->
        <div ng-repeat="property in valueProperties">
            <div class="col-md-12">
                <ng-include src="property.typeDescriptor.shortTemplatePath"></ng-include>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="additions">
    <div class="col-md-12">
        <select class="input-sm" ng-model="propertyToAdd" ng-options="property as property.typeDescriptor.name for property in additions">
            <option value="">Add a property...</option>
        </select>
        <button class="btn btn-link" ng-click="addProperty(propertyToAdd)" ng-show="propertyToAdd">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>