<a href="{{link}}" ng-if="link">
    <img ng-if="!entity.image" src="assets/default_entity_image.png" class="ot-icon" title="{{title ? title : entity.name}}"/>
    <img ng-if="entity.image" ng-src="{{entity._image}}" class="ot-icon" title="{{title ? title : entity.name}}"/>
    <span ng-transclude></span>
</a>
<span ng-if="!link">
    <img ng-if="!entity.image" src="assets/default_entity_image.png" class="ot-icon" title="{{title ? title : entity.name}}"/>
    <img ng-if="entity.image" ng-src="{{entity._image}}" class="ot-icon" title="{{title ? title : entity.name}}"/>
    <span ng-transclude></span>
</span>