<div class="ot-alert-warning" ng-if="infosLoading">
    Loading the extra information...
</div>
<div ng-hide="infosLoading">
    <ot-noentry list="infos.resources">
        No extra information attached.
    </ot-noentry>
</div>
<div class="row" ng-repeat="entityInformation in infos.resources">
    <div class="col-md-12">
        <ot-include value="entityInformation" template="extension/{{entityInformation.feature.id}}/information/{{entityInformation.type}}.tpl.html"></ot-include>
    </div>
</div>