<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            title="Validation stamp filter"
            ng-class="{
                            'btn-warning': validationStampFilter,
                            'btn-default': !validationStampFilter
                        }"
    >
        <span ng-show="loadingFilters">
            <span class="ot-loading-indicator" title="Loading the filters..."></span>
        </span>
        <span ng-hide="loadingFilters">
            <span class="fa fa-filter"></span>
            <span class="caret"></span>
        </span>
    </button>
    <ul class="dropdown-menu ot-validationstampfilter-list" role="menu">
        <!-- TODO Edition debug -->
        <li>
            validationStampFilterEdition = {{ validationStampFilterEdition }}
        </li>
        <!-- List of filters -->
        <li ng-repeat="vsf in validationStampFilters">
            <a>
                <!-- Selected? -->
                <span class="fa fa-check"
                      ng-show="validationStampFilter && validationStampFilter.id == vsf.id"></span>
                <!-- Name -->
                <span ng-click="selectBranchValidationStampFilter(vsf)">{{vsf.name}}</span>
                <!-- Show filter type: branch, project or global -->
                <b title="Global scope" ng-if="vsf.scope == 'GLOBAL'">[G]</b>
                <b title="Project scope - {{branch.project.name}}" ng-if="vsf.scope == 'PROJECT'">[P]</b>
                <!-- Sharing to project -->
                <span class="ot-command fa fa-share"
                      title="Share this filter at project level"
                      ng-if="vsf.links._shareAtProject"
                      ng-click="shareValidationStampFilterAtProject(vsf)"></span>
                <!-- Sharing to global -->
                <span class="ot-command fa fa-share-square"
                      title="Share this filter at global level"
                      ng-if="vsf.links._shareAtGlobal"
                      ng-click="shareValidationStampFilterAtGlobal(vsf)"></span>
                <!-- Edition mode: ON -->
                <span class="ot-command fa fa-eye"
                      title="Edit this filter using the current view"
                      ng-if="vsf.links._update && !validationStampFilterEdition.enabled"
                      ng-click="directEditValidationStampFilter(vsf)"></span>
                <!-- Edition mode: OFF -->
                <span class="ot-command fa fa-eye-slash"
                      title="Stop editing this filter using the current view"
                      ng-if="vsf.links._update && validationStampFilterEdition.enabled && validationStampFilter.id == vsf.id"
                      ng-click="stopDirectEditValidationStampFilter(vsf)"></span>
                <!-- Editing -->
                <span class="ot-command-update ot-command"
                      title="Edit this filter"
                      ng-if="vsf.links._update"
                      ng-click="editBranchValidationStampFilter(vsf)"></span>
                <!-- Deleting -->
                <span class="ot-command-delete ot-command"
                      title="Delete this filter"
                      ng-if="vsf.links._delete"
                      ng-click="deleteBranchValidationStampFilter(vsf)"></span>
            </a>
        </li>
        <li ng-if="!loadingFilters && validationStampFilters.length == 0" role="presentation"
            class="dropdown-header">No validation stamp filter is available
        </li>
        <!-- New filter -->
        <li ng-if="branch.links._validationStampFilterCreate" class="divider"></li>
        <li ng-if="branch.links._validationStampFilterCreate">
            <a ng-click="newBranchValidationStampFilter()">
                <span class="fa fa-plus"></span>
                New filter...
            </a>
        </li>
        <!-- Reset filters -->
        <li class="divider" ng-if="validationStampFilter"></li>
        <li ng-if="validationStampFilter">
            <a ng-click="clearBranchValidationStampFilter()">
                <span class="fa fa-eraser"></span>
                Clear validation stamp filter
            </a>
        </li>
        <!-- Validation stamps preferences -->
        <li class="divider"></li>
        <li>
            <a>
                <!-- Selected? -->
                <span class="fa fa-check" ng-show="branchViewVsNames"></span>
                <!-- Name -->
                <span ng-click="toggleBranchViewVsNames()">Display validation stamp names</span>
            </a>
        </li>
        <li>
            <a>
                <!-- Selected? -->
                <span class="fa fa-check" ng-show="branchViewVsGroups"></span>
                <!-- Name -->
                <span ng-click="toggleBranchViewVsGroups()">Group validation stamps per status</span>
            </a>
        </li>
    </ul>
</div>