<div class="ot-view container">
    <div class="row">
        <div class="col-md-4 ot-view-title">
            {{view.title}}
        </div>
        <div class="col-md-8">
            <div class="ot-view-commands">
                <span ng-repeat="command in view.commands" id="{{command.id}}" class="ot-view-command" ng-click="command.action()">
                    <span class="{{command.cls}}"></span>
                    {{command.name}}
                </span>
            </div>
        </div>
    </div>
    <div class="row" ng-transclude>
    </div>
</div>