<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            title="Validation stamp filter"
            ng-class="{
                            'btn-warning': validationStampFilter,
                            'btn-default': !validationStampFilter
                        }"
    >
        <span ng-show="loadingFilters">
            <span class="ot-loading-indicator" title="Loading the filters..."></span>
        </span>
        <span ng-hide="loadingFilters">
            <span class="fa fa-filter"></span>
            <span class="caret"></span>
        </span>
    </button>
    <ul class="dropdown-menu ot-validationstampfilter-list" role="menu">
        <!-- Validation stamps preferences -->
        <li class="divider"></li>
        <li>
            <a>
                <!-- Selected? -->
                <span class="fa fa-check" ng-show="branchViewVsNames"></span>
                <!-- Name -->
                <span ng-click="toggleBranchViewVsNames()">Display validation stamp names</span>
            </a>
        </li>
        <li>
            <a>
                <!-- Selected? -->
                <span class="fa fa-check" ng-show="branchViewVsGroups"></span>
                <!-- Name -->
                <span ng-click="toggleBranchViewVsGroups()">Group validation stamps per status</span>
            </a>
        </li>
    </ul>
</div>