<!-- Type: text -->
<span ng-if="field.type == 'text'" class="ot-field-value">{{field.value}}</span>

<!-- Type: email -->
<span ng-if="field.type == 'email'" class="ot-field-value">{{field.value}}</span>

<!-- Type: url -->
<span ng-if="field.type == 'url'" class="ot-field-value"><a href="{{field.value}}" target="_blank">{{field.value}}</a></span>

<!-- Type: password -->
<span ng-if="field.type == 'password'" class="ot-field-value">***</span>

<!-- Type: memo -->
<span ng-if="field.type == 'memo'" class="ot-field-value">{{field.value}}</span>

<!-- Type selection -->
<span ng-if="field.type == 'selection'" class="ot-field-value">{{field.value}}</span>

<!-- Type: multi-selection -->
<span ng-if="field.type == 'multi-selection'" class="ot-field-value">
    <span class="label label-info" ng-repeat="item in field.items">{{item.name}}</span>
</span>

<!-- Type: multi-strings -->
<span ng-if="field.type == 'multi-strings'" class="ot-field-value">
    <span class="label label-info" ng-repeat="item in field.value">{{item}}</span>
</span>

<!-- Type: named entries -->
<span ng-if="field.type == 'namedEntries'">
    <span class="label label-info" ng-repeat="item in field.value">
        {{item.name}}: {{item.value}}
    </span>
</span>

<!-- Date -->
<span ng-if="field.type == 'date'" class="ot-field-value">{{field.value | date:'mediumDate'}}</span>

<!-- Date time -->
<span ng-if="field.type == 'dateTime'" class="ot-field-value">{{field.value | date:'mediumDate'}} {{field.value | date:'smallTime'}}</span>

<!-- Yes/no -->
<span ng-if="field.type == 'yesno'" class="ot-field-value">
    <span ng-if="field.value">Yes</span>
    <span ng-if="!field.value">No</span>
</span>

<!-- Type: int -->
<span ng-if="field.type == 'int'" class="ot-field-value">{{field.value}}</span>
