<span ng-repeat="promotionRun in promotionRuns" ng-if="promotionRuns">
    <span class="ot-promotion-run">
        <span class="ot-action" ng-click="displayPromotionRuns(promotionRun)">
            <ot-entity-image entity="promotionRun.promotionLevel">
                {{promotionRun.promotionLevel.name}}
            </ot-entity-image>
        </span>
        <span class="ot-promotion-run-signature">
            {{promotionRun.signature.time | date:'mediumDate'}}
            {{promotionRun.signature.time | date:'shortTime'}}
        </span>
    </span>
    <span ng-if="!$last" class="ot-promotion-run-separator"></span>
</span>
<span ng-hide="promotionRuns" class="ot-description">
    No promotion yet.
</span>