<ot-section-title>Events</ot-section-title>
<div class="ot-event" ng-repeat="event in events.resources">
    <span class="ot-event-category">
        <span ng-if="event.entities.PROMOTION_LEVEL">
            <ot-entity-image entity="event.entities.PROMOTION_LEVEL" link="#/promotionLevel/{{event.entities.PROMOTION_LEVEL.id}}"></ot-entity-image>
        </span>
        <span ng-if="event.entities.VALIDATION_STAMP">
            <ot-entity-image entity="event.entities.VALIDATION_STAMP" link="#/validationStamp/{{event.entities.VALIDATION_STAMP.id}}"></ot-entity-image>
        </span>
    </span>
    <span class="ot-event-status">
        <span ng-if="event.values.status">
            <img class="ot-icon" src="assets/validation-run-status/{{event.values.status.name}}.png"/>
        </span>
    </span>
    <span class="ot-event-message" ng-bind-html="renderEvent(event)"></span>
    <span class="ot-event-signature">
        {{event.signature.user.name}}
        <span title="{{event.signature.time | date:'mediumDate'}} {{event.signature.time | date:'mediumTime'}}">{{renderSince(event.signature.time)}}</span>
    </span>
</div>