<div class="row ot-field-replacements">
    <div class="col-md-12">
        <div class="form-group ot-field-replacement" ng-repeat="replacement in replacements">
            <div class="col-md-11 ot-field-replacement">
                <div class="input-group">
                    <input ng-model="replacement.regex" type="text" class="form-control" placeholder="Regex" />
                    <span class="input-group-addon">
                        <span class="fa fa-arrow-right"></span>
                    </span>
                    <input ng-model="replacement.replacement" type="text" class="form-control" placeholder="Replacement" />
                </div>
            </div>
            <!-- Entry removal -->
            <div class="col-md-1 ot-field-replacement-delete">
                <span class="ot-command ot-command-delete" title="Removes entry." ng-click="removeEntry(replacements, replacement)"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ot-field-replacement-add">
                <button title="Add entry" class="btn btn-default btn-xs" type="button" ng-click="addEntry(replacements)">
                    <span class="ot-command ot-command-new"></span>
                </button>
            </div>
        </div>
    </div>
</div>