<div class="off-canvas-overlay"></div>

<div class="off-canvas">
    <ul class="list-group">
        <!-- All actions -->
        <li class="list-group-item" ng-repeat="action in menu.actions">
            {{ action.name }}
        </li>
        <!-- All groups -->
        <li class="list-group-item list-group-item-info" ng-repeat-start="group in menu.groups">
            {{ group.name }}
        </li>
        <li class="list-group-item" ng-repeat-end ng-repeat="action in group.actions">
            {{ action.name }}
        </li>
        <!-- Logout action -->
        <li class="list-group-item list-group-item-warning">
            <i class="fa fa-sign-out"></i>&nbsp;Sign out
        </li>
    </ul>
</div>
