<div class="row">
    <div class="col-md-12">
        <ot-noentry list="valueProperties">
            No property.
        </ot-noentry>
        <div ng-repeat="property in valueProperties">
            <div class="col-md-12">
                <div class="ot-property-panel" title="{{property.typeDescriptor.description}}" id="{{property.typeDescriptor.typeName}}">
                    <div class="panel-heading" id="{{property.typeDescriptor.typeName}}.heading">
                        <img ng-src="extension/{{property.typeDescriptor.feature.id}}/property/{{property.typeDescriptor.typeName}}.png" class="ot-icon"/>
                        {{property.typeDescriptor.name}}
                        <p class="pull-right" ng-if="property.editable">
                            <span class="ot-command ot-command-update" title="Update the property" ng-click="editProperty(property)"></span>
                            <span class="ot-command ot-command-delete" title="Delete the property" ng-click="deleteProperty(property)"></span>
                        </p>
                    </div>
                    <div class="panel-body" id="{{property.typeDescriptor.typeName}}.template">
                        <ng-include src="getTemplatePath(property)"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="additions">
    <div class="col-md-12">
        <select class="input-sm" ng-model="propertyToAdd"
                ng-options="property as property.typeDescriptor.name for property in additions">
            <option value="">Add a property...</option>
        </select>
        <button class="btn btn-link" ng-click="addProperty(propertyToAdd)" ng-show="propertyToAdd">
            <span class="ot-command-new"></span>
        </button>
    </div>
</div>