<div class="form-group" ng-repeat="entry in data[field.name]">
    <!-- Entry name -->
    <div class="col-md-3">
        <input ng-model="entry.name" type="text" class="form-control" placeholder="{{field.nameLabel}}"/>
    </div>
    <!-- Entry value -->
    <div class="col-md-8">
        <input ng-model="entry.value" type="text" class="form-control" placeholder="{{field.valueLabel}}"/>
    </div>
    <!-- Entry removal -->
    <div class="col-md-1">
        <span class="ot-command ot-command-delete" title="Removes entry." ng-click="removeEntry(field, data, entry)"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button title="{{field.addText}}" class="btn btn-default btn-xs" type="button" ng-click="addEntry(field, data)">
            <span class="ot-command ot-command-new"></span>
        </button>
    </div>
</div>