@import '../../../../vendor/bootstrap/less/labels';
@import '../../../../vendor/bootstrap/less/mixins';
@import '../../../less/variables.less';
@import '../../../less/main.less';

.net-nemerosa-ontrack-extension-general-BuildLinkDecorationExtension {
  color: @text-color !important;
  background-color: white !important;
  .net-nemerosa-ontrack-extension-general-BuildLinkDecorationExtension-promotion {
    img {
      .ot-icon-mini;
    }
  }
}

.net-nemerosa-ontrack-extension-general-ReleaseDecorationExtension {
  .label-success !important;
  color: white;
}

// Icon decoration
.net-nemerosa-ontrack-extension-general-BranchTemplateDecorator-TEMPLATE_DEFINITION {
  .ot-icon-x(@fa-var-share-alt);
  color: green;
  opacity: 0.5;
}

// Icon decoration
.net-nemerosa-ontrack-extension-general-BranchTemplateDecorator-TEMPLATE_INSTANCE {
  .ot-icon-x(@fa-var-link);
  color: blue;
}
