<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Defaults from Spring -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- Console logging: default -->

    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- File logging overridden -->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Root level -->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Custom loggers -->

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot.autoconfigure.security" level="INFO"/>
    <logger name="org.apache.catalina.util.SessionIdGeneratorBase" level="DEBUG"/>
    <logger name="net.nemerosa.ontrack" level="DEBUG"/>
    <logger name="net.nemerosa.ontrack.job" level="INFO"/>
    <logger name="net.nemerosa.ontrack.service.security" level="INFO"/>
    <logger name="net.nemerosa.ontrack.extension.svn.client.SVNClient" level="WARN"/>
    <!-- Ignoring the warnings during GraphQL execution -->
    <logger name="graphql.execution.ExecutionStrategy" level="ERROR"/>
    <!--<logger name="net.nemerosa.ontrack.boot.metrics" level="TRACE"/>-->

</configuration>