<ot-view>

    <div class="row" ng-show="loadingCatalog">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading catalog...
            </div>
        </div>
    </div>

    <table class="table table-hover table-condensed" ng-show="data.scmCatalog.pageInfo.currentSize > 0">
        <thead>
        <tr class="well">
            <td colspan="4">
                <button class="btn btn-default" type="button" ng-click="navigate(data.scmCatalog.pageInfo.previousPage)" ng-disabled="!data.scmCatalog.pageInfo.previousPage">
                    <span class="fa fa-step-backward"></span>
                    Previous
                </button>
                <span>
                    {{data.scmCatalog.pageInfo.currentOffset + 1}}-{{data.scmCatalog.pageInfo.currentOffset + data.scmCatalog.pageInfo.currentSize}} / {{data.scmCatalog.pageInfo.totalSize}}
                </span>
                <button class="btn btn-default" type="button" ng-click="navigate(data.scmCatalog.pageInfo.nextPage)" ng-disabled="!data.scmCatalog.pageInfo.nextPage">
                    <span class="fa fa-step-forward"></span>
                    Next
                </button>
            </td>
        </tr>
        </thead>
        <thead>
        <tr>
            <th>SCM</th>
            <th>Config</th>
            <th>Repository</th>
            <th>Project</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data.scmCatalog.pageItems">
            <td>{{item.scm}}</td>
            <td>{{item.config}}</td>
            <td><a href="{{item.repositoryPage}}">{{item.repository}}</a></td>
            <td>
                <span ng-if="!item.link"><span class="fa fa-ban" title="No project associated with this repository."></span></span>
                <a ng-if="item.link" href="{{item.link.project.links._page}}">{{item.link.project.name}}</a>
                <span ng-if="item.link"><a class="ot-command" href="#/extension/scm/project/{{item.link.project.id}}/catalog-info"><span class="fa fa-info-circle"></span>&nbsp;catalog info</a></span>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>