<ot-view>

    <div class="row" ng-show="loadingInfo">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading catalog info for this project...
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">SCM Catalog Entry</h3>
        </div>
        <div class="panel-body">
            <p class="text-danger" ng-if="!project.scmCatalogEntryLink.scmCatalogEntry">
                This project is not associated with any SCM entry. This is <strong>abnormal</strong>.
                All Ontrack projects should be associated with some SCM.
            </p>
            <ot-scm-catalog-entry ng-if="project.scmCatalogEntryLink.scmCatalogEntry" entry="project.scmCatalogEntryLink.scmCatalogEntry"></ot-scm-catalog-entry>
        </div>
    </div>

    <div class="panel panel-default" ng-repeat="info in project.scmCatalogEntryLink.infos">
        <div class="panel-heading">
            <h3 class="panel-title">{{info.name}}</h3>
        </div>
        <div class="panel-body">
            <p ng-if="info.error" class="text-danger">
                This information could not be collected:
                <strong>{{info.error}}</strong>
            </p>
            <ng-include ng-if="!info.error" src="getCatalogInfoPath(info)"></ng-include>
        </div>
    </div>

</ot-view>