<span ng-repeat="validationStamp in property.value.validationStamps">
    <ot-entity-image entity="validationStamp">
        {{validationStamp.name}}
    </ot-entity-image>
</span>&nbsp;
<p ng-if="property.value.include">
    Includes: <b>{{property.value.include}}</b>
</p>
<p ng-if="property.value.exclude">
    Excludes: <b>{{property.value.exclude}}</b>
</p>
<span ng-repeat="promotionLevel in property.value.promotionLevels">
    <ot-entity-image entity="promotionLevel">
        {{promotionLevel.name}}
    </ot-entity-image>
</span>