<ot-view>
    <div class="row">
        <div class="col-md-12">
            <ot-section-title>List of configurations</ot-section-title>
            <ot-noentry list="configurations">
                No GitHub configuration has been created yet.
            </ot-noentry>
            <table class="table table-hover" ng-show="configurations">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>User</th>
                    <th>GitHub App</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="configuration in configurations">
                    <td>
                        <code>{{configuration.name}}</code>
                    </td>
                    <td>
                        <a href="{{configuration.url}}">{{configuration.url}}</a>
                    </td>
                    <td>
                        <span ng-if="configuration.user">
                            {{configuration.user}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="configuration.appId">
                            {{ configuration.appId }}
                            <span ng-if="configuration.appInstallationAccountName">
                                (for <code>{{ configuration.appInstallationAccountName }}</code>)
                            </span>
                        </span>
                    </td>
                    <td>
                        <span class="ot-command" ng-click="updateConfiguration(configuration)">
                            <span class="ot-command-update"></span>
                            Update
                        </span>
                        <span class="ot-command" ng-click="deleteConfiguration(configuration)">
                            <span class="ot-command-delete"></span>
                            Delete
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ot-view>