<ot-view>

    <div class="row" ng-show="loadingPayloads">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading GitHub Ingestion Hook Payloads...
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th colspan="10">
                        <form class="form-inline" ng-submit="submitFilter()">
                            <div class="form-group">
                                <button class="btn"
                                        ng-class="{
                                        'btn-info': autoReload,
                                        'btn-default': !autoReload
                                        }"
                                        ng-click="toggleAutoReload()">
                                    <span class="fa fa-refresh"></span>
                                    <span>Auto reload</span>
                                </button>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline" ng-repeat="status in statuses">
                                    <input type="checkbox" id="status-{{ status }}" ng-value="status" ng-model="filter.statuses[status]" ng-change="onStatusSelection()"> {{ status }}
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="filter_delivery">Delivery ID</label>
                                <input type="text" class="form-control" id="filter_delivery" ng-model="filter.gitHubDelivery"/>
                            </div>
                            <div class="form-group">
                                <label for="filter_event">Event</label>
                                <input type="text" class="form-control" id="filter_event" ng-model="filter.gitHubEvent"/>
                            </div>
                            <div class="form-group">
                                <label for="filter_repository">Repository</label>
                                <input type="text" class="form-control" id="filter_repository" ng-model="filter.repository"/>
                            </div>
                            <div class="form-group">
                                <label for="filter_owner">Owner</label>
                                <input type="text" class="form-control" id="filter_owner" ng-model="filter.owner"/>
                            </div>
                            <div class="form-group">
                                <label for="filter_routing">Routing</label>
                                <input type="text" class="form-control" id="filter_routing" ng-model="filter.routing"/>
                            </div>
                            <div class="form-group">
                                <label for="filter_queue">Queue</label>
                                <input type="text" class="form-control" id="filter_queue" ng-model="filter.queue"/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">
                                    <span class="fa fa-search"></span>
                                    <span>Filter</span>
                                </button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" type="button" ng-click="resetFilter()">
                                    <span class="fa fa-ban"></span>
                                    <span>Reset</span>
                                </button>
                            </div>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th>Ontrack ID</th>
                    <th>Timestamp</th>
                    <th>GitHub Delivery ID</th>
                    <th>Event</th>
                    <th>Repository</th>
                    <th>Owner</th>
                    <th>Routing</th>
                    <th>Queue</th>
                    <th>Status</th>
                    <th>Completion</th>
                </tr>
                </thead>
                <tbody ng-if="payloads.length == 0">
                <tr class="warning">
                    <td colspan="10">
                        No payload has been received or the filter is too restrictive.
                    </td>
                </tr>
                </tbody>
                <tbody ng-repeat="payload in payloads">
                <tr>
                    <td>
                        <code class="ot-action" ng-click="toggleDetails(payload)">{{ payload.uuid }}</code>
                        <span class="ot-loading-indicator" ng-show="payload.loadingDetails"></span>
                    </td>
                    <td>
                        {{ payload.timestamp | date:'yyyy-MM-dd HH:mm:ssZ' }}
                    </td>
                    <td>
                        <code>{{ payload.gitHubDelivery }}</code>
                    </td>
                    <td>
                        <code>{{ payload.gitHubEvent }}</code>
                    </td>
                    <td>
                        <code>{{ payload.repository.name }}</code>
                    </td>
                    <td>
                        <code>{{ payload.repository.owner.login }}</code>
                    </td>
                    <td>
                        <code>{{ payload.routing }}</code>
                    </td>
                    <td>
                        <code>{{ payload.queue }}</code>
                    </td>
                    <td>
                        <code>{{ payload.status }}</code>
                    </td>
                    <td>
                        <span ng-if="payload.completion">
                            {{ payload.completion | date:'yyyy-MM-dd HH:mm:ssZ' }}
                        </span>
                    </td>
                </tr>
                <tr ng-if="payload.showDetails && !payload.loadingDetails && payload.details">
                    <td colspan="10">
                        <p ng-if="payload.details.message">
                            {{ payload.details.message }}
                        </p>
                        <textarea readonly ng-bind="payload.details.payloadJson" style="width: 100%;" rows="20"></textarea>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="10">
                        <button ng-disabled="!pageInfo.previousPage" class="btn btn-default" ng-click="topPayloads()">
                            <span class="fa fa-fast-backward"></span>
                            Newest payloads
                        </button>
                        <button ng-disabled="!pageInfo.previousPage" class="btn btn-default" ng-click="newerPayloads()">
                            <span class="fa fa-backward"></span>
                            Newer payloads
                        </button>
                        <button ng-disabled="!pageInfo.nextPage" class="btn btn-default" ng-click="olderPayloads()">
                            <span class="fa fa-forward"></span>
                            Older payloads
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

</ot-view>