<ot-view>

    <div class="row" ng-show="loadingPayloads">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading GitHub Ingestion Hook Payloads...
            </div>
        </div>
    </div>

    <div class="row" ng-if="payloads.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                No payload has been received yet by the GitHub Ingestion Hook.
            </div>
        </div>
    </div>
    <div class="row" ng-if="payloads && payloads.length > 0">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th colspan="5">
                        <form class="form-inline">
                            <div class="form-group">
                                <button class="btn"
                                        ng-class="{
                                        'btn-info': autoReload,
                                        'btn-default': !autoReload
                                        }"
                                        ng-click="toggleAutoReload()">
                                    <span class="fa fa-refresh"></span>
                                    <span>Auto reload</span>
                                </button>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline" ng-repeat="status in statuses">
                                    <input type="checkbox" id="status-{{ status }}" ng-value="status" ng-model="filter.statuses[status]" ng-change="onStatusSelection()"> {{ status }}
                                </label>
                            </div>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th>UUID</th>
                    <th>Timestamp</th>
                    <th>Event</th>
                    <th>Status</th>
                    <th>Completion</th>
                </tr>
                </thead>
                <tbody ng-repeat="payload in payloads">
                <tr>
                    <td>
                        <code class="ot-action" ng-click="toggleDetails(payload)">{{ payload.uuid }}</code>
                        <span class="ot-loading-indicator" ng-show="payload.loadingDetails"></span>
                    </td>
                    <td>
                        {{ payload.timestamp | date:'yyyy-MM-dd HH:mm:ssZ' }}
                    </td>
                    <td>
                        <code>{{ payload.gitHubEvent }}</code>
                    </td>
                    <td>
                        <code>{{ payload.status }}</code>
                    </td>
                    <td>
                        <span ng-if="payload.completion">
                            {{ payload.completion | date:'yyyy-MM-dd HH:mm:ssZ' }}
                        </span>
                    </td>
                </tr>
                <tr ng-if="payload.showDetails && !payload.loadingDetails && payload.details">
                    <td colspan="5">
                        <p ng-if="payload.details.message">
                            {{ payload.details.message }}
                        </p>
                        <textarea readonly ng-bind="payload.details.payloadJson" style="width: 100%;" rows="20"></textarea>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <button ng-disabled="!pageInfo.previousPage" class="btn btn-default" ng-click="topPayloads()">
                            <span class="fa fa-fast-backward"></span>
                            Newest payloads
                        </button>
                        <button ng-disabled="!pageInfo.previousPage" class="btn btn-default" ng-click="newerPayloads()">
                            <span class="fa fa-backward"></span>
                            Newer payloads
                        </button>
                        <button ng-disabled="!pageInfo.nextPage" class="btn btn-default" ng-click="olderPayloads()">
                            <span class="fa fa-forward"></span>
                            Older payloads
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

</ot-view>