<ot-view>

    <div class="row" ng-hide="changeLog">
        <div class="col-md-12 alert alert-warning">
            The change log is loading. This may take some time...
        </div>
    </div>

    <!-- TODO Displays the issues command and section only if the _issues link is present -->

    <div class="row" ng-show="changeLog">
        <div class="col-md-10">

            <!-- Main content -->

            <!-- Build info -->
            <div class="row">
                <div class="col-md-6">
                    <a name="buildFrom"></a>
                    <ot-scm-changelog-build scm-build-view="changeLog.scmBuildFrom">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    <small>History</small>
                                </h3>
                                <ul class="ot-extension-svn-build-history">
                                    <li ng-repeat="reference in changeLog.scmBuildFrom.scm.references">
                                        <a href="{{reference.url}}">
                                            {{reference.path}}
                                            @
                                            {{reference.revision}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ot-scm-changelog-build>
                </div>
                <div class="col-md-6">
                    <a id="buildTo"></a>
                    <ot-scm-changelog-build scm-build-view="changeLog.scmBuildTo">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    <small>History</small>
                                </h3>
                                <ul class="ot-extension-svn-build-history">
                                    <li ng-repeat="reference in changeLog.scmBuildTo.scm.references">
                                        <a href="{{reference.url}}">
                                            {{reference.path}}
                                            @
                                            {{reference.revision}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ot-scm-changelog-build>
                </div>
            </div>

            <!-- Revision sections -->
            <div class="row">
                <div class="col-md-12">
                    <a name="revisions"></a>

                    <div class="panel panel-default">
                        <div class="panel-heading">Revisions</div>
                        <div class="panel-body">
                            <div class="alert alert-warning" ng-hide="revisions || revisionsLoading">
                                No revision has been loaded yet. Click
                                <a ng-click="changeLogRevisions()">here</a>
                                to load them.
                            </div>
                            <div class="ot-description" ng-show="revisionsLoading">
                                Revisions are loading...
                            </div>
                            <!-- TODO Merge -->
                            <table class="table table-condensed table-hover" ng-show="revisions">
                                <thead>
                                <tr>
                                    <th>Revision</th>
                                    <th>Author</th>
                                    <th>Date</th>
                                    <th>Message</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="svnChangeLogRevision in revisions.list">
                                    <td>
                                        <a href="{{svnChangeLogRevision.revisionUrl}}" target="_blank">
                                            {{svnChangeLogRevision.revision}}
                                        </a>
                                    </td>
                                    <td>
                                        {{svnChangeLogRevision.author}}
                                    </td>
                                    <td>
                                        {{svnChangeLogRevision.revisionDate | date:'mediumDate'}}
                                        {{svnChangeLogRevision.revisionDate | date:'shortTime'}}
                                    </td>
                                    <td ng-bind-html="svnChangeLogRevision.formattedMessage">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Issue sections -->
            <div class="row">
                <div class="col-md-12">
                    <a name="issues"></a>

                    <div class="panel panel-default">
                        <div class="panel-heading">Issues</div>
                        <div class="panel-body">
                            <div class="alert alert-warning" ng-hide="issues || issuesLoading">
                                No issue has been loaded yet. Click
                                <a ng-click="changeLogIssues()">here</a>
                                to load them.
                            </div>
                            <div class="ot-description" ng-show="issuesLoading">
                                Issues are loading...
                            </div>
                            <div ng-show="issues">
                                <ot-include value="issues" template="app/extension/{{issues.issueServiceConfiguration.serviceId}}/changelog.issues.tpl.html">
                                </ot-include>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Files sections -->
            <div class="row">
                <div class="col-md-12">
                    <a name="files"></a>

                    <div class="panel panel-default">
                        <div class="panel-heading">File changes</div>
                        <div class="panel-body">
                            <div class="alert alert-warning" ng-hide="files || filesLoading">
                                No file change has been loaded yet. Click
                                <a ng-click="changeLogFiles()">here</a>
                                to load them.
                            </div>
                            <div class="ot-description" ng-show="filesLoading">
                                File changes are loading...
                            </div>
                        </div>
                        <table class="table table-condensed table-hover" ng-show="files" width="100%">
                            <thead>
                            <tr>
                                <th>File</th>
                                <th>Changes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="svnChangeLogFile in files.list">
                                <td>
                                    <a href="{{svnChangeLogFile.url}}">
                                        {{svnChangeLogFile.path | otExtensionScmTruncatePath:50}}
                                    </a>
                                </td>
                                <td>
                                    <span ng-repeat="svnChangeLogFileChange in svnChangeLogFile.changes" class="label label-default">
                                        <span class="ot-extension-svn-changetype-{{svnChangeLogFileChange.changeType | lowercase}}"></span>
                                        <a href="{{svnChangeLogFileChange.url}}"
                                           title="{{svnChangeLogFileChange.revisionInfo.message}} ({{svnChangeLogFileChange.revisionInfo.dateTime | date:'mediumDate'}})">
                                            {{svnChangeLogFileChange.revisionInfo.revision}}
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- End of sections -->

        </div>

        <div class="col-md-2">
            <!-- Quick links and activation of detailed change logs -->
            <ul class="ot-extension-scm-changelog-commands">
                <li>
                    <button class="btn btn-default" ng-click="changeLogRevisions()" ng-disabled="revisionsLoading">
                        <span class="ot-extension-scm-changelog-command-unloaded" ng-hide="revisions"></span>
                        <span class="ot-extension-scm-changelog-command-loading"></span>
                        {{revisionsCommand}}
                    </button>
                </li>
                <li>
                    <button class="btn btn-default" ng-click="changeLogIssues()" ng-disabled="issuesLoading">
                        <span class="ot-extension-scm-changelog-command-unloaded" ng-hide="issues"></span>
                        <span class="ot-extension-scm-changelog-command-loading"></span>
                        {{issuesCommand}}
                    </button>
                </li>
                <li>
                    <button class="btn btn-default" ng-click="changeLogFiles()" ng-disabled="filesLoading">
                        <span class="ot-extension-scm-changelog-command-unloaded" ng-hide="files"></span>
                        <span class="ot-extension-scm-changelog-command-loading"></span>
                        {{filesCommand}}
                    </button>
                </li>
            </ul>
        </div>
    </div>

</ot-view>