# Docker Compose file used for a quick start

version: "2.1"

services:

  # Ontrack container
  ontrack:
    image: nemerosa/ontrack:${ONTRACK_VERSION:-4}
    restart: always
    environment:
      PROFILE: prod
      JAVA_OPTIONS: "${JAVA_OPTIONS:--Xms1024m -Xmx1024m}"
      # Database
      SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres/ontrack"
      # Elasticsearch
      SPRING_ELASTICSEARCH_URIS: "http://elasticsearch:9200"
      # Rabbit MQ
      SPRING_RABBITMQ_HOST: rabbit
      SPRING_RABBITMQ_USERNAME: ontrack
      SPRING_RABBITMQ_PASSWORD: ontrack
    depends_on:
      postgres:
        condition: service_started
      elasticsearch:
        condition: service_started
    volumes:
      - "ontrack_data:/var/ontrack/data"
    ports:
      - "8080:8080"
      - "8800:8800"

  # Postgresql database
  postgres:
    image: postgres:11
    restart: always
    environment:
      POSTGRES_DB: ${ONTRACK_POSTGRES_DB:-ontrack}
      POSTGRES_USER: ${ONTRACK_POSTGRES_USER:-ontrack}
      POSTGRES_PASSWORD: ${ONTRACK_POSTGRES_PASSWORD:-ontrack}
    volumes:
      - "ontrack_postgres:/var/lib/postgresql/data"

  # ElasticSearch
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.4
    restart: always
    environment:
      - "discovery.type=single-node"
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - "ontrack_elasticsearch:/usr/share/elasticsearch/data"

  # Rabbit MQ
  rabbit:
    image: rabbitmq:3.8.25-management
    restart: always
    hostname: rabbit
    environment:
      RABBITMQ_DEFAULT_USER: ontrack
      RABBITMQ_DEFAULT_PASS: ontrack
    ports:
      - "15672:15672"
      - "5672:5672"

volumes:
  ontrack_postgres:
  ontrack_elasticsearch:
  ontrack_data:
