version: "2.1"

services:
  # InfluxDB container
  influxdb:
    image: influxdb:1.8.6
    environment:
      PRE_CREATE_DB: "ontrack"
    # Makes all ports accessible on the host for testing
    ports:
      - "8083"
      - "8086"

  # Ontrack container
  ontrack:
    image: nemerosa/ontrack:latest
    depends_on:
      postgresql:
        condition: service_started
      influxdb:
        condition: service_started
      elasticsearch:
        condition: service_started
    environment:
      JAVA_OPTIONS: "${JAVA_OPTIONS}"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://postgresql/ontrack"
      # InfluxDB being enabled
      ONTRACK_INFLUXDB_ENABLED: "true"
      ONTRACK_INFLUXDB_URI: "http://influxdb:8086"
      # Elastic search
      SPRING_ELASTICSEARCH_URIS: "http://elasticsearch:9200"
      PROFILE: acceptance
    volumes:
      - "./ci/ontrack:/var/ontrack/conf"
      # Better startup performances in CI and DO, do not use in Prod
      - "/dev/urandom:/dev/random"
    ports:
      - "8080"
      - "8800"

  # Postgresql database
  postgresql:
    image: postgres:11
    environment:
      POSTGRES_DB      : ontrack
      POSTGRES_USER    : ontrack
      POSTGRES_PASSWORD: ontrack
    ports:
      - "5432"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.15.2
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - "discovery.type=single-node"
