services:

  # To test this is working
  #
  # Looking for users:
  #
  # ldapsearch -x -H ldap://localhost:389 -D "cn=admin,dc=nemerosa,dc=com" -w admin -b "ou=users,dc=nemerosa,dc=com"
  #
  ldap:
    image: osixia/openldap:1.5.0
    environment:
      LDAP_ORGANISATION: Ontrack
      LDAP_DOMAIN: nemerosa.com
      LDAP_ADMIN_PASSWORD: admin
      LDAP_LOG_LEVEL: "256"
    ports:
      - '389:389'
      - '636:636'
    command:
      - --loglevel
      - debug
      - --copy-service
    volumes:
      - ./keycloak/import/ldap/bootstrap:/container/service/slapd/assets/config/bootstrap/ldif/custom

  postgresql-keycloak:
    image: postgres:17
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    ports:
      - "6543:6543"
    volumes:
      - keycloak_postgres_data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.2.5
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL_HOST: postgresql-keycloak
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
    ports:
      - "8008:8080"
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./keycloak/import/ldap:/opt/keycloak/data/import
    depends_on:
      - postgresql-keycloak

  # Rabbit MQ
  rabbit:
    image: rabbitmq:4.1.3-management
    hostname: rabbit
    environment:
      RABBITMQ_DEFAULT_USER: ontrack
      RABBITMQ_DEFAULT_PASS: ontrack
    ports:
      - "15672:15672"
      - "5672:5672"

  postgresql:
    image: postgres:17
    environment:
      POSTGRES_DB: ontrack
      POSTGRES_USER: ontrack
      POSTGRES_PASSWORD: ontrack
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.0
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - "discovery.type=single-node"
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "xpack.security.enabled=false"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:9200/_cluster/health?wait_for_status=yellow&timeout=1s || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 40s

  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.0
    ports:
      - "5601:5601"
    environment:
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200

volumes:
  keycloak_postgres_data:
  postgres_data:
