<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Key</th>
        <th>Status</th>
        <th>Summary</th>
        <th>Affected versions</th>
        <th>Fix versions</th>
        <th>Assignee</th>
        <th>Updated</th>
        <th>Revision</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="changeLogIssue in value.list">
        <!-- changeLogIssue: SVNChangeLogIssue -->
        <!-- changeLogIssue.issue: JIRAIssue -->
        <td>
            <a href="{{changeLogIssue.issue.url}}">{{changeLogIssue.issue.key}}</a>
        </td>
        <td>
            <img ng-src="{{changeLogIssue.issue.status.iconUrl}}" />
            {{changeLogIssue.issue.status.name}}
        </td>
        <td>
            {{changeLogIssue.issue.summary}}
        </td>
        <td>
            <span ng-repeat="version in changeLogIssue.issue.affectedVersions" class="label label-default">
                {{version.name}}
                <span ng-if="!$last">, </span>
            </span>
        </td>
        <td>
            <span ng-repeat="version in changeLogIssue.issue.fixVersions" class="label label-default">
                {{version.name}}
                <span ng-if="!$last">, </span>
            </span>
        </td>
    </tr>
    </tbody>
</table>