<table>
    <tbody>
    <tr>
        <td>
            Status:
        </td>
        <td>
            <img ng-src="{{value.status.iconUrl}}"/>
            {{value.status.name}}
        </td>
    </tr>
    <tr>
        <td>
            Summary:
        </td>
        <td>
            {{value.summary}}
        </td>
    </tr>
    <tr>
        <td>
            Affected version(s):
        </td>
        <td>
            <span ng-repeat="version in value.affectedVersions" class="label label-default">
                {{version.name}}
                <span ng-if="!$last">, </span>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            Fix version(s):
        </td>
        <td>
            <span ng-repeat="version in value.fixVersions" class="label label-default">
                {{version.name}}
                <span ng-if="!$last">, </span>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            Assignee:
        </td>
        <td>
            {{value.assignee}}
        </td>
    </tr>
    <tr>
        <td>
            Update time
        </td>
        <td>
            {{value.updateTime | date: 'mediumDate'}}
        </td>
    </tr>
    <tr ng-if="value.links">
        <td>
            Links
        </td>
        <td>
            <span ng-repeat="link in value.links">
                {{link.link}}
                <span class="ot-extension-jira-issue-link">
                    <img ng-src="{{link.status.iconUrl}}" title="{{link.status.name}}" />
                    <a href="{{link.url}}" target="_blank">{{link.key}}</a>
                </span>
            </span>
        </td>
    </tr>
    </tbody>
</table>