<!-- Build name & link to the build -->
<span ng-if="name">{{ name }}: </span>
<span ng-if="build.releaseProperty.value.name">
    <a href="{{ build.links._page }}"><b>{{ build.releaseProperty.value.name }}</b></a>
</span>
    <span ng-if="!build.releaseProperty.value.name">
    <a href="{{ build.links._page }}"><b>{{ build.name }}</b></a>
</span>
<!-- Promotions -->
<span ng-if="build.promotionRuns.length > 0">
    <ot-entity-image
            ng-repeat="run in build.promotionRuns"
            class-name="ot-icon-minimal"
            entity="run.promotionLevel"></ot-entity-image>
</span>
<!-- Link to the dependency graph of this build -->
<span>
    <a
            title="Link to the dependency graph of this build"
            href="/#/extension/auto-versioning/dependency-graph/build/{{ build.id }}/downstream"><i class="fa fa-code-fork"></i></a>
</span>
<!-- Link to the upstream dependency graph of this build -->
<span>
    <a
            title="Link to the upstream dependency graph of this build"
            href="/#/extension/auto-versioning/dependency-graph/build/{{ build.id }}/upstream"><i class="fa fa-code-fork fa-rotate-180"></i></a>
</span>
<!-- Change log -->
<span ng-if="refBuild">
    <span ng-repeat="action in build.branch.buildDiffActions"
        class="ot-action"
        title="{{action.name}} since {{ refBuild.releaseProperty.value.name ? refBuild.releaseProperty.value.name : refBuild.name }}"
        id="{{action.id}}"
        ng-click="buildDiff(action)"><i class="fa fa-file-text-o "></i></span>
</span>