<div class="row">
    <div class="col-md-9">
        <div id="graph" style="width:100%; height:600px;"></div>
    </div>
    <div class="col-md-3">
        <!-- Up/down buttons -->
        <div class="row">
            <div class="col-md-12">
                <button style="margin-bottom: 1em;"
                        ng-if="direction != 'UP'"
                        ng-click="goToUpstreamGraph()"
                        class="btn btn-default form-control">
                    <i class="fa fa-arrow-up"></i>
                    Upstream dependency graph
                </button>
                <button style="margin-bottom: 1em;"
                        ng-if="direction == 'UP'"
                        ng-click="goToDownstreamGraph()"
                        class="btn btn-default form-control">
                    <i class="fa fa-arrow-down"></i>
                    Downstream dependency graph
                </button>
            </div>
        </div>
        <!-- Expand all -->
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default form-control"
                        style="margin-bottom: 1em;"
                        ng-disabled="expanding"
                        ng-click="expandAllDependencies()"
                        title="Expands all dependencies">
                    <span class="ot-loading-indicator" ng-show="expanding"></span>
                    <i class="fa fa-expand" ng-hide="expanding"></i>
                    Expand all
                </button>
            </div>
        </div>
        <!-- Refresh -->
        <div class="row">
            <div class="col-md-9">
                <button class="btn btn-default form-control"
                        style="margin-bottom: 1em;"
                        ng-disabled="refreshing"
                        ng-click="refreshGraph()"
                        title="Refreshes the data in the graph">
                    <span class="ot-loading-indicator" ng-show="refreshing"></span>
                    <i class="fa fa-refresh" ng-hide="refreshing"></i>
                    Refresh
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn form-control"
                        ng-class="{
                            'btn-default': !graphAutoRefresh,
                            'btn-warning': graphAutoRefresh
                        }"
                        style="margin-bottom: 1em;"
                        ng-click="toggleAutoRefresh()"
                        title="Puts the graph in auto refresh mode">
                    <span class="fa fa-magic"></span>
                    Auto
                </button>
            </div>
        </div>
        <!-- Selected build area -->
        <ot-auto-versioning-dependency-graph-selected-build
                selected-build="selectedBuild"></ot-auto-versioning-dependency-graph-selected-build>
    </div>
</div>