<!-- Build basic information -->
<p>
    <a href="{{ selectedBuild.branch.project.links._page }}"><b>{{ selectedBuild.branch.project.name }}</b></a>
    /
    <a href="{{ selectedBuild.branch.links._page }}">{{ selectedBuild.branch.name }}</a>
</p>
<p>
    <ot-auto-versioning-dependency-graph-build-links build="selectedBuild"></ot-auto-versioning-dependency-graph-build-links>
</p>
<p ng-if="selectedBuild.autoVersioning.lastEligibleBuild && selectedBuild.autoVersioning.lastEligibleBuild.id != selectedBuild.id">
    <ot-auto-versioning-dependency-graph-build-links
            name="Last eligible build"
            build="selectedBuild.autoVersioning.lastEligibleBuild"></ot-auto-versioning-dependency-graph-build-links>
</p>
<p ng-if="selectedBuild.branch.lastBuild &&
          selectedBuild.branch.lastBuild.length > 0 &&
          selectedBuild.branch.lastBuild[0].id != selectedBuild.id
">
    <ot-auto-versioning-dependency-graph-build-links
            name="Last build"
            build="selectedBuild.branch.lastBuild[0]"></ot-auto-versioning-dependency-graph-build-links>
</p>