<div class="modal-header">
    <h3>
        Change log of <b>{{config.changeLog.branch.name}}</b>
        from <b>{{config.changeLog.scmBuildFrom.buildView.build.name}}</b>
        to <b>{{config.changeLog.scmBuildTo.buildView.build.name}}</b>
    </h3>
</div>
<form class="form-horizontal" ng-submit="doExport()">
    <div class="modal-body">

        <div class="form-group">
            <label for="exportFormat" class="col-md-3">Export format:</label>
            <select ng-model="exportRequest.format" class="form-control col-md-4"
                    required="required" id="exportFormat"
                    ng-options="format.id as format.name for format in exportFormats">
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit"
                ng-disabled="exportCalling">
            <img src="assets/ajax-loader.gif" ng-show="exportCalling"/>
            Export
        </button>
        <button class="btn btn-link" type="button" ng-click="cancel()">Close</button>
    </div>
</form>