<div class="modal-header">
    <h3>Indexation</h3>
</div>
<div class="modal-body">

    <section>
        <h1><small>Last scanned revision</small></h1>
        <ul ng-if="!lastRevisionInfo.none">
            <li>Last revision: {{lastRevisionInfo.revision}}</li>
            <li>Last message: {{lastRevisionInfo.message}}</li>
            <li>Last revision in repository: {{lastRevisionInfo.repositoryRevision}}</li>
        </ul>
        <div class="alert alert-warning" ng-if="lastRevisionInfo.none">
            None
        </div>
    </section>

    <section>
        <h1><small>Index</small></h1>
        <p>Click on the following button to launch an indexation from the latest indexed revision.</p>
        <button type="button" class="btn btn-primary" ng-click="indexFromLatest()">Index</button>
    </section>

    <section>
        <h1><small>Full re-indexation</small></h1>
        <p>Click on the following button to launch a full re-indexation of the repository.</p>
        <p class="alert alert-danger">Warning: you will lose all previously indexed data!</p>
        <button type="button" class="btn btn-danger" ng-click="fullReindexation()">Full re-indexation</button>
    </section>

</div>
<div class="modal-footer">

    <div class="ot-alert-{{message.type}} alert-dismissable" ng-show="message">
        <span>{{message.content}}</span>
    </div>

    <button class="btn btn-link" type="button" ng-click="cancel()">Close</button>
</div>