<ot-view>

    <div class="row" ng-show="loadingSubscriptions">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the subscriptions...
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Events</th>
            <th>Keywords</th>
            <th>Channel</th>
            <th>State</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="!subscriptions">
            <td class="info" colspan="4">
                No subscription has been created yet.
            </td>
        </tr>
        <tr ng-repeat="subscription in subscriptions">
            <td>
                <span class="ot-label-suite">
                    <span class="label label-info" ng-repeat="event in subscription.events">{{ event }}</span>
                </span>
            </td>
            <td>
                {{ subscription.keywords }}
            </td>
            <td>
                {{ subscription.channel }}
                <span class="fa fa-arrow-right"></span>
                {{ subscription.channelConfigText }}
            </td>
            <td ng-if="writeSubscriptionGranted">
                <span ng-if="subscription.disabled" class="text-muted ot-action" title="Click to disable" ng-click="enableSubscription()">
                    <span class="fa fa-ban"></span>
                    Disabled
                </span>
                <span ng-if="!subscription.disabled" class="ot-action" title="Click to disable" ng-click="disableSubscription()">
                    <span class="fa fa-play"></span>
                    Enabled
                </span>
            </td>
            <td ng-if="!writeSubscriptionGranted">
                <span ng-if="subscription.disabled" class="text-muted">
                    <span class="fa fa-ban"></span>
                    Disabled
                </span>
                <span ng-if="!subscription.disabled">
                    <span class="fa fa-play"></span>
                    Enabled
                </span>
            </td>
            <td>
                <span ng-if="writeSubscriptionGranted" class="ot-command" ng-click="deleteSubscription(subscription)">
                    <span class="fa fa-trash"></span> Delete
                </span>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>