<ot-view>

    <div class="row" ng-show="loadingRecords">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the notification recordings...
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Channel</th>
            <th>Result</th>
            <th>Channel ID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in records">
            <td>{{ record.timestamp }}</td>
            <td><code>{{ record.channel }}</code></td>
            <td><code>{{ record.result.type }}</code></td>
            <td><code ng-if="record.result.id">{{ record.result.id }}</code></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <button class="btn btn-default" ng-disabled="!navigation.previousPage" ng-click="switchPage(navigation.previousPage)">
                    <span class="fa fa-step-backward"></span>
                    Newer records
                </button>
                <button class="btn btn-default" ng-disabled="!navigation.nextPage" ng-click="switchPage(navigation.nextPage)">
                    <span class="fa fa-step-forward"></span>
                    Older records
                </button>
                {{ navigation.totalSize }} records
            </td>
        </tr>
        </tfoot>
    </table>

</ot-view>