<ot-view>

    <div class="row" ng-show="loadingDeliveries">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the deliveries...
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>UUID</th>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="delivery in deliveries">
            <td>
                <code class="ot-action" title="Show/hide details for this delivery" ng-click="toggleDeliveryDetails(delivery)">{{ delivery.uuid }}</code>
            </td>
            <td>
                {{ delivery.request.timestamp }}
            </td>
            <td>
                <code>{{ delivery.request.type }}</code>
            </td>
            <td>
                <code>{{ delivery.response.code }}</code>
            </td>
            <td>
                <span class="fa fa-eye ot-command" title="Show/hide details for this delivery" ng-click="toggleDeliveryDetails(delivery)"></span>
            </td>
        </tr>
        <tr ng-repeat-end ng-if="delivery.details">
            <!-- Request -->
            <td colspan="1">
                <p>
                    <label for="delivery-request-payload-{{ delivery.uuid }}">Request payload:</label>
                </p>
                <textarea style="width: 100%;" class="form-control" id="delivery-request-payload-{{ delivery.uuid }}" rows="10" readonly ng-model="delivery.request.payload"></textarea>
            </td>
            <!-- Response -->
            <td colspan="4">
                <p>
                    <label for="delivery-response-payload-{{ delivery.uuid }}">Response payload:</label>
                </p>
                <textarea style="width: 100%;" class="form-control" id="delivery-response-payload-{{ delivery.uuid }}" rows="10" readonly ng-model="delivery.response.payload"></textarea>
                <p>
                    <label>Response timestamp:</label>
                    {{ delivery.response.timestamp }}
                </p>
                <p ng-if="delivery.stack">
                    <label for="delivery-stack-{{ delivery.uuid }}">Error stack:</label>
                </p>
                <textarea ng-if="delivery.stack" style="width: 100%;" class="form-control" id="delivery-stack-{{ delivery.uuid }}" rows="10" readonly ng-model="delivery.stack"></textarea>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>