<ot-view>

    <div class="row" ng-show="loadingDeliveries">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="ot-loading-indicator"></span>
                Loading the deliveries...
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>UUID</th>
            <th>Webhook</th>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="6">
                <form class="form-inline" ng-submit="submitFilter()">
                    <!-- Filter on HTTP response code -->
                    <div class="form-group">
                        <label for="filter-response-code">Status</label>
                        <input type="number" step="1" min="100" max="599" class="form-control" id="filter-response-code" ng-model="filter.responseCode"/>
                    </div>
                    <!-- Clearing the form -->
                    <button type="button" class="btn btn-link" ng-click="resetFilter()" ng-disabled="loadingDeliveries">
                        <span class="fa fa-ban"></span>
                        Clear
                    </button>
                    <!-- Submitting the form -->
                    <button type="submit" class="btn btn-info" ng-disabled="loadingDeliveries">
                        <span class="fa fa-filter"></span>
                        Filter
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr ng-repeat-start="delivery in deliveries">
            <td>
                <code class="ot-action" title="Show/hide details for this delivery" ng-click="toggleDeliveryDetails(delivery)">{{ delivery.uuid }}</code>
            </td>
            <td>
                <code>{{ delivery.webhook }}</code>
            </td>
            <td>
                {{ delivery.request.timestamp }}
            </td>
            <td>
                <code>{{ delivery.request.type }}</code>
            </td>
            <td>
                <code>{{ delivery.response.code }}</code>
            </td>
            <td>
                <span class="fa fa-eye ot-command" title="Show/hide details for this delivery" ng-click="toggleDeliveryDetails(delivery)"></span>
            </td>
        </tr>
        <tr ng-repeat-end ng-if="delivery.details">
            <!-- Request -->
            <td colspan="2">
                <p>
                    <label for="delivery-request-payload-{{ delivery.uuid }}">Request payload:</label>
                </p>
                <textarea style="width: 100%;" class="form-control" id="delivery-request-payload-{{ delivery.uuid }}" rows="10" readonly ng-model="delivery.request.payload"></textarea>
            </td>
            <!-- Response -->
            <td colspan="4">
                <p>
                    <label for="delivery-response-payload-{{ delivery.uuid }}">Response payload:</label>
                </p>
                <textarea style="width: 100%;" class="form-control" id="delivery-response-payload-{{ delivery.uuid }}" rows="10" readonly ng-model="delivery.response.payload"></textarea>
                <p>
                    <label>Response timestamp:</label>
                    {{ delivery.response.timestamp }}
                </p>
                <p ng-if="delivery.stack">
                    <label for="delivery-stack-{{ delivery.uuid }}">Error stack:</label>
                </p>
                <textarea ng-if="delivery.stack" style="width: 100%;" class="form-control" id="delivery-stack-{{ delivery.uuid }}" rows="10" readonly ng-model="delivery.stack"></textarea>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6">
                <button class="btn btn-default" ng-disabled="!navigation.previousPage" ng-click="switchPage(navigation.previousPage)">
                    <span class="fa fa-step-backward"></span>
                    Newer deliveries
                </button>
                <button class="btn btn-default" ng-disabled="!navigation.nextPage" ng-click="switchPage(navigation.nextPage)">
                    <span class="fa fa-step-forward"></span>
                    Older deliveries
                </button>
                {{ navigation.totalSize }} records
            </td>
        </tr>
        </tfoot>
    </table>

</ot-view>