@import '../../vendor/bootstrap/less/glyphicons';
@import 'variables.less';

@otExtensionScmValidationStampRunView: 5px;

span.ot-extension-scm-validationStampRunView {
  border: solid 1px gray;
  border-radius: @otExtensionScmValidationStampRunView;
  padding: @otExtensionScmValidationStampRunView;
  background-color: lighten(lightgrey, 10%);
  margin-right: @otExtensionScmValidationStampRunView;
  margin-bottom: @otExtensionScmValidationStampRunView;
  display: inline-block;
}

ul.ot-extension-scm-changelog-commands {
  list-style: none;
  li {
    margin-bottom: 3px;
  }
}

.ot-extension-scm-changelog-command-unloaded {
  .glyphicon;
  .glyphicon-time;
}
