@import '../../vendor/bootstrap/less/glyphicons';
@import '../../vendor/bootstrap/less/labels';
@import '../../vendor/bootstrap/less/mixins';
@import '../../vendor/bootstrap/less/type';
@import 'variables.less';

@otExtensionScmValidationStampRunView: 5px;

span.ot-extension-scm-validationStampRunView {
  border: solid 1px gray;
  border-radius: @otExtensionScmValidationStampRunView;
  padding: @otExtensionScmValidationStampRunView;
  background-color: lighten(lightgrey, 10%);
  margin-right: @otExtensionScmValidationStampRunView;
  margin-bottom: @otExtensionScmValidationStampRunView;
  display: inline-block;
  &.ot-extension-scm-validationStampRunView-norun {
    border: solid 1px white;
    background-color: lighten(lightgrey, 15%);
    a {
      color: @text-muted;
    }
  }
}

.ot-extension-scm-changelog-commands {
  margin-bottom: 1em;
}

.ot-extension-scm-changelog-command-unloaded {
  .glyphicon;
  .glyphicon-time;
}

.ot-extension-scm-changelog-issue-validation {
  .glyphicon;
  cursor: pointer;
  &.ot-extension-scm-changelog-issue-validation-ERROR {
    .glyphicon-remove;
    .text-danger;
  }
  &.ot-extension-scm-changelog-issue-validation-WARNING {
    .glyphicon-warning-sign;
    .text-warning;
  }
  &.ot-extension-scm-changelog-issue-validation-INFO {
    .glyphicon-info-sign;
    .text-info;
  }
}

.ot-scm-changelog-revision {
  .label;
  margin-right: 2px;
  .ot-scm-changetype-icon {
    .glyphicon;
  }
  &.ot-scm-changetype-modified {
    .label-info;
    .ot-scm-changetype-icon {
      .glyphicon-pencil;
    }
  }
  &.ot-scm-changetype-added {
    .label-success;
    .ot-scm-changetype-icon {
      .glyphicon-plus;
    }
  }
  &.ot-scm-changetype-deleted {
    .label-danger;
    .ot-scm-changetype-icon {
      .glyphicon-remove;
    }
  }
}