@import '../../vendor/bootstrap/less/mixins';
@import '../../vendor/bootstrap/less/labels';
@import '../../vendor/bootstrap/less/panels';
@import '../../vendor/bootstrap/less/utilities';
@import 'variables.less';

@otExtensionGitCommitHeight: 23px;

.make-height(@height) {
  height: @height;
  min-height: @height;
  max-height: @height;
}

.ot-extension-git-changelog-commit {
  .panel;
  .panel-default;
  .make-height(@otExtensionGitCommitHeight);
  height: @otExtensionGitCommitHeight !important;
  line-height: @otExtensionGitCommitHeight;
  margin-top: 1px;
  margin-bottom: 1px;
  > * {
    .make-height(@otExtensionGitCommitHeight - 2);
  }
  code {
    clear: left;
    float: left;
    margin-right: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .ot-extension-git-changelog-message {
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    overflow: hidden;
  }
  .ot-extension-git-changelog-meta {
    clear:right;
    float: right;
    .ot-extension-git-changelog-author {
      .label;
      .label-default;
    }
  }
}