@import '../../vendor/bootstrap/less/mixins';
@import '../../vendor/bootstrap/less/tables';
@import 'variables.less';

table.ot-extension-git-changelog-commits {
  .table;
  .table-condensed;
  .table-hover;
  td {
    padding-bottom: 0px;
    padding-top: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}