@import 'main.less';

.ot-api-header {
  .ot-api-link {
    font-weight: bold;
  }
}

.ot-api-get {
  .label;
  .label-default;
  background-color: green;
}

.ot-api-resource-item-name {
  font-weight: bold;
}

.ot-api-resource-object {
  > .ot-api-resource-item-name {
    &:after {
      content: ' /';
    }
  }
}

.ot-api-resource-array {
  > .ot-api-resource-item-name {
    &:after {
      content: ' [*]';
    }
  }
}

.ot-api-resource-link {
  > .ot-api-resource-item-name {
    text-decoration: underline;
    .text-muted;
  }
  > .ot-api-resource-item-value {
    a {
      cursor: pointer;
    }
  }
}