@import 'variables';

// Icon decoration
.net-nemerosa-ontrack-service-support-template-BranchTemplateDecorator-TEMPLATE_DEFINITION {
  .ot-icon-x(@fa-var-share-alt);
  color: green;
  opacity: 0.5;
}

// Icon decoration
.net-nemerosa-ontrack-service-support-template-BranchTemplateDecorator-TEMPLATE_INSTANCE {
  .ot-icon-x(@fa-var-link);
  color: blue;
}

// Branch template link
.ot-branch-template {
  font-size: 50%;
}
