@import 'main.less';

.ot-api-header {
  .ot-api-link {
    font-weight: bold;
  }
}

table.ot-api-resource {
  border: solid @table-border-color 1px;
  border-left: solid @table-border-color 0.5em;
}

.ot-api-verb {
  .label;
  .label-default;
}

.ot-api-get {
  .ot-api-verb;
  background-color: @brand-success;
}

.ot-api-put {
  .ot-api-verb;
  background-color: @brand-info;
}

.ot-api-post {
  .ot-api-verb;
  background-color: @brand-warning;
}

.ot-api-delete {
  .ot-api-verb;
  background-color: @brand-danger;
}

.ot-api-method {
  .ot-api-method-description {
    .ot-description;
  }
}

.ot-api-resource-item-name {
  font-weight: bold;
}

.ot-api-resource-object {
  > .ot-api-resource-item-name {
    &:after {
      content: ' /';
    }
  }
}

.ot-api-resource-array, .ot-api-resource-array-simple {
  > .ot-api-resource-item-name {
    &:after {
      content: ' [*]';
    }
  }
}

.ot-api-resource-link {
  > .ot-api-resource-item-name {
    font-weight: normal;
    text-decoration: underline;
    .text-muted;
  }
  > .ot-api-resource-item-value {
    a {
      cursor: pointer;
    }
  }
}

table.ot-api-doc {
  th {
    background-color: #EEEEEE;
    .ot-api-doc-title {
      font-size: 125%;
    }
    .ot-api-doc-description {
      .ot-description;
    }
  }
  .ot-api-doc-method-name {
    font-weight: bold;
  }
  .ot-api-doc-method-description {
    .ot-description;
  }
  .ot-api-doc-method-path {
    font-family: monospace;
    font-size: 90%;
  }
}