@import 'main.less';

@otHomeRowHeight: 3.5em;
@otHomeMargin: 0.5em;

.ot-home-row {
  min-height: @otHomeRowHeight !important;
  height: @otHomeRowHeight !important;
}

.ot-home-header {
  .ot-description;
  margin-bottom: @otHomeMargin;
}

.ot-home-filter {
  .form-control;
  .pull-right;
}

.ot-home-project {
  margin-bottom: @otHomeMargin;
  padding-left: 1em;

  .ot-home-project-name {
    .ot-home-row;
    margin-left: -1px !important;
    vertical-align: middle;
    .bg-primary;
    a {
      color: @btn-primary-color;
      font-weight: bold;
    }
  }

  .ot-home-project-branches {
    .ot-home-branch {
      .ot-home-row;
      border: solid 1px @btn-default-border;
      margin-left: -1px;
      .ot-home-branch-name {
        display: block;
        a {
          font-weight: bold;
        }
      }
      .ot-home-branch-promotion {
        font-size: 85%;
        .ot-icon {
          .ot-icon-mini;
        }
      }
    }
  }
}