@import 'main.less';

@otProjectRowHeight: 2.5em;
@otProjectMargin: 0.5em;

.ot-project-branch-filter {
  margin-bottom: @otProjectMargin;
  margin-top: @otProjectMargin;
  margin-left: -2px;
}


.make-branch-row(@height) {
  min-height: @height !important;
  height: @height !important;
}

table.ot-project-branches {
  border-collapse: separate;
  tr {
    .make-branch-row(@otProjectRowHeight);
    td:first-child {
      vertical-align: top;
      padding: @otProjectMargin;
      border-bottom: solid @otProjectMargin white;
      .bg-primary;
      a {
        color: @btn-primary-color;
        font-weight: bold;
      }
      &.ot-entity-disabled {
        opacity: 0.5;
      }
      .ot-decoration {
        img {
          .ot-icon-mini;
        }
      }
    }
    .ot-project-branch-name {
      white-space: nowrap;
    }
    .ot-project-branch-promotion {
      float: left;
      padding: @otProjectMargin;
      margin-left: @otProjectMargin;
      margin-bottom: @otProjectMargin;
      .make-branch-row(@otProjectRowHeight);
      border: solid 1px @btn-default-border;
      .ot-icon {
        .ot-icon-mini;
      }
    }
  }
}
