<img
        ng-if="decoration.data == 'DISABLED'"
        src="assets/extension/decoration/net.nemerosa.ontrack.extension.jenkins.JenkinsJobDecorationExtension/disabled.png"
        title="The Jenkins Job is disabled."
        />
<img
        ng-if="decoration.data == 'RUNNING'"
        src="assets/extension/decoration/net.nemerosa.ontrack.extension.jenkins.JenkinsJobDecorationExtension/running.png"
        title="The Jenkins Job is running."
        />
<img
        ng-if="decoration.data == 'IDLE'"
        src="assets/extension/decoration/net.nemerosa.ontrack.extension.jenkins.JenkinsJobDecorationExtension/idle.png"
        title="The Jenkins Job is not running."
        />