<span ng-repeat="run in decoration.data.workflows">
    <a href="{{ run.url }}"><img ng-if="run.running"
            src="extension/github/decoration/github-running.png"
            class="ot-icon"
            title="GitHub workflow run: {{ run.name }}#{{ run.runNumber }} (running)"
    /><img  ng-if="!run.running"
            src="extension/github/decoration/github.png"
            class="ot-icon"
            title="GitHub workflow run: {{ run.name }}#{{ run.runNumber }}"
    /></a>
    &nbsp;
</span>