<a href="{{ decoration.data.url }}"><img ng-if="decoration.data.running"
        src="extension/github/decoration/github-running.png"
        class="ot-icon"
        title="GitHub workflow job: {{ decoration.data.name }}#{{ decoration.data.runNumber }} {{ decoration.data.job }} (running)"
/><img  ng-if="!decoration.data.running"
        src="extension/github/decoration/github.png"
        class="ot-icon"
        title="GitHub workflow run: {{ decoration.data.name }}#{{ decoration.data.runNumber }} {{ decoration.data.job }}"
/></a>