name: Building a branch

on:
  push:
    branches:
      - main
      - release/*
      - feature/*

concurrency: ci-${{ github.ref }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Check the Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Compute the version
        run: |
          ./gradlew \
            versionDisplay \
            versionFile
