name: Building a branch

on:
  push:
    branches:
      # - main
      # - release/*
      - release/5.0-alpha

concurrency: ci-${{ github.ref }}

jobs:
  build:
    name: Build
    runs-on: ubuntu
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'openjdk'
      - name: Check the Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Compute the version
        run: |
          ./gradlew \
            versionDisplay \
            versionFile
      - name: Environment
        run: env
