<div class="panel panel-default">
    <div class="panel-heading">
        <span class="fa fa-code-fork"></span> Pull request
    </div>
    <div class="panel-body" ng-if="value.data.pr.isValid">
        <p>
            <a href="{{value.data.pr.url}}">{{value.data.pr.key}}</a>
            <span>{{value.data.pr.title}}</span>
            <span class="label label-default">{{value.data.pr.status}}</span>
        </p>
        <p>
            <span ng-if="!value.data.sourceBranchPage" title="No branch in Ontrack can be identified for this Git branch">From <code>{{value.data.pr.source}}</code></span>
            <span ng-if="value.data.sourceBranchPage" title="Goes to the Ontrack branch associated to this Git branch">From <a href="{{value.data.sourceBranchPage}}"><code>{{value.data.pr.source}}</code></a></span>
            <span ng-if="!value.data.targetBranchPage" title="No branch in Ontrack can be identified for this Git branch">to <code>{{value.data.pr.target}}</code></span>
            <span ng-if="value.data.targetBranchPage" title="Goes to the Ontrack branch associated to this Git branch">to <a href="{{value.data.targetBranchPage}}"><code>{{value.data.pr.target}}</code></a></span>
        </p>
    </div>
    <div class="panel-body" ng-if="!value.data.pr.isValid">
        <p>
            <span style="text-decoration: line-through;">{{value.data.pr.key}}</span>
            <span class="ot-decoration">Invalid pull request (not found or does not exist any longer)</span>
        </p>
    </div>
</div>