<ot-view>

    <div class="row" ng-if="!license.name">
        <div class="col-md-12">
            <div class="alert alert-info">
                No license is associated with this instance.
            </div>
        </div>
    </div>

    <div class="row" ng-if="license.name">
        <div class="col-md-12">
            <dl>
                <dt>License name</dt>
                <dd>{{ license.name }}</dd>
                <dt>License assignee</dt>
                <dd>{{ license.assignee }}</dd>
                <dt>Valid until</dt>
                <dd>
                    <span ng-if="license.validUntil">{{ license.validUntil }}</span>
                    <span ng-if="!license.validUntil">Unlimited</span>
                </dd>
                <dt>Max projects</dt>
                <dd>
                    <span ng-if="license.maxProjects > 0">{{ license.maxProjects }}</span>
                    <span ng-if="license.maxProjects <= 0">Unlimited</span>
                </dd>
            </dl>
        </div>
    </div>

</ot-view>